<style type="text/css">
	#tablaStock_wrapper{
		padding: 1%;
	}
</style>
<%
var key = new Date().toLocaleString();
key = key.split(' ');
key[0] = key[0].split('-').join('');
key[1] = key[1].split(':').join('');
key = key.join('');
%>
<div id="confirmar_retiro_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmar Retiro</h4>
                </div>
                <div class="modal-body">
                    <p>¿ Confirma que todos los datos están correctos y que no hay inconvenientes ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="crear_retiro_f()">Confirmar Registro</button>
                    <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
    </div>
</div>

<form id="session_form_ret<%=key%>">
	<div class="panel panel-info" id="sess_panel" style="margin: 50px 25px !important;-webkit-box-shadow: 6px -3px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 6px -3px 12px -1px rgba(0,0,0,0.75);
box-shadow: 6px -3px 12px -1px rgba(0,0,0,0.75);">
			<div class="panel-heading">
				<h1 id="sess_titulo" >Registrar Retiro: </h1>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-md-6">
					<label for="receptor" id="sess_recep">Nombre del receptor</label>
					<input type="text" class="form-control" id="receptor_r" name="receptor" required>
				</div>
				<div class="col-sm-10 col-md-5">
					<label for="etapa">Área</label>
					<select class="form-control" id="etapa_r" name="etapa" required>
						<option disabled selected>-- Selecciona una etapa --</option>
						<option value="0">Jefe de Producción</option>
						<option value="1">Moldeo</option>
						<option value="2">Fusión</option>
						<option value="3">Quiebre</option>
						<option value="4">Terminación</option>
						<option value="5">Tratamiento Térmico</option>
						<option value="6">Maestranza</option>
						<option value="7">Control De Calidad</option>
						<option value="8">Mantención</option>
						<option value="9">Externo</option>
						<option value="10">Otros</option>
					</select>
				</div>
				<div class="col-md-1" style="margin-top: 12px">
					<div class="form-group" style="margin-top: 10px">
						<button class="btn btn-success pull-right" onclick="$('#session_form_ret<%=key%>').serializeArray();$('#confirmar_retiro_modal').modal('show');" type="button">Registrar</button>
					</div>
				</div>
			</div>
			<table id="tabla_session" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" cellspacing="0" width="100%">
				<thead>

					<tr>
						<th>Descripción</th>
                        <th>Stock</th>
                        <th>Reservados</th>
                        <th>Disponibles (Sin Reservar)</th>
						<th>Eliminar</th>
						<th>A Enviar</th>
						<th>Unidad</th>
					</tr>

				</thead>
				<tbody id="session_rows">
				</tbody>
			</table>
	</div>
</form>
<div class="panel panel-info" style="padding: 0;margin: 50px 25px !important; -webkit-box-shadow: 6px -3px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 6px -3px 12px -1px rgba(0,0,0,0.75);
box-shadow: 6px -3px 12px -1px rgba(0,0,0,0.75);">
    <div class="panel-heading">
        <h3 style="display: flex">
            <label style="width: 75%">Añadir Productos : </label>
            <label style="display: flex; width: 25%; vertical-align: middle">Buscar : <input type="search" class="form-control input-sm" id="buscadortablaStock" style="width: 75%; margin-left: 10px;" ></label>
        </h3>
    </div>

    <div class="panel-body" style="padding: 0 !important; margin: 0px !important;">
        <table id="tablaStock" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" cellspacing="0" width="100%" style="margin: 0 !important; padding: 0 !important;">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Reservados</th>
                    <th>Disponibles (Sin Reservar)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <%if(mat.length > 0){
            for(var j=0; j < mat.length; j++){%>
            <tr id="row<%= mat[j].idmaterial%>">
                <td><%= mat[j].detalle%></td>
                <td class="parsear_nro" style="text-align: center;"><%= mat[j].stock %></td>
                <td class="parsear_nro" style="text-align: center;"><%= mat[j].reservados %></td>
                <td class="parsear_nro" style="text-align: center;"><%= mat[j].stock - mat[j].reservados %></td>
                <td style="text-align: center"><a href="#" class="selector btn btn-success btn-xs" onclick="add_session(<%= mat[j].idmaterial%>,<%= mat[j].stock - mat[j].reservados%>,'<%= mat[j].u_compra%>')"><i class="fa fa-plus"></i></a></td>
            </tr>
            <%}
            }
            else{%>
            <tr>
                No hay materiales registrados.
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</div>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    //setDataTable("#tablaStock");
    var stockTable = $('#tablaStock').DataTable( {
        "scrollCollapse": true,
        "paging":         false,
        "language": {
            "sProcessing":     "Procesando...",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",

            "sSearch":         "Buscar:",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "&raquo",
                "sPrevious": "&laquo"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    } );
    $("#tablaStock_filter").parent().parent().addClass('hidden');
    $("#tablaStock_wrapper").css('margin-top', '0px !important');
    $("#tablaStock_wrapper").css('padding', '0px');

    $('#buscadortablaStock').keyup(function(){
        stockTable.search($(this).val()).draw() ;
    });
    //  mat[Math.floor((Math.random()*mat.length)+1) - 1].detalle"
	// Quitar de la sesión
    function drop_session(idmaterial){
        $("#row" + idmaterial.toString()).removeClass("hidden");
        $("#sess" + idmaterial.toString()).remove();
    }
	// Agregar sesión 
    function add_session(idmaterial,stock,u_medida){
        var string_idm = idmaterial.toString();
        $("#tabla_session").append("<tr id='sess" + string_idm +"'>" + $("#row" + string_idm).html()
			+ "<td><input type='number' class='material-form form-control' min='1' max='" + stock + "' data-idmaterial='" + string_idm + "'></td><td>" + u_medida + "</td></tr>");
		$("#sess" + string_idm + " > td > .selector").attr("onclick","drop_session(" + string_idm + ")");
        $("#sess" + string_idm + " > td > .selector > i").attr("class","fa fa-remove");
        $("#row" + idmaterial.toString()).addClass("hidden");
    }

    function crear_retiro_f(){
        showLoad();
        setTimeout(function(){ $("#session_form_ret<%=key%>").submit(); }, 1000);
	}
   $("#session_form_ret<%=key%>").submit(function (e){

        e.preventDefault();
       var lista_m = [];
       var lista_v = [];
       $("#session_rows > tr > td > input").each(function(e){
           lista_m.push($(this).data('idmaterial'));
           lista_v.push(this.value);
       });
       if(lista_m.length){
           if(true) {
               $.ajax({
                   type: 'post',
                   data: {
                       lista_m: lista_m,
                       lista_v: lista_v,
                       tipo: 0,
                       etapa: $("#etapa_r").val(),
                       receptor: $("#receptor_r").val()
                   },
                   url: '/matprimas/save_movimiento',
                   beforeSend: function(){
                       $("#confirmar_retiro_modal").modal('hide');
                   },
                   success: function (data) {
                       if (!data.err) {
                           //alert(data.msg);
                           $("#create_retiro").trigger("click");
                           hideLoad();
                       } else {
                           alert(data.msg);
                           hideLoad();
                       }
                   }
               });
           }
       } else {
           alert("No hay Materiales seleccionados");
           hideLoad();
       }
	});
</script>