<style type="text/css">
	#tablaStock_wrapper{
		padding: 1%;
	}
</style>
<form id="session_form">
	<div class="panel panel-info" id="sess_panel" style="padding-top: 25px">
			<div class="panel-heading">
				<h1 id="sess_titulo" >Registrar Retiro: </h1>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-md-6">
					<label for="receptor" id="sess_recep">Nombre del receptor</label>
					<input type="text" class="form-control" id="receptor_r" name="receptor" required>
				</div>
				<div class="col-sm-10 col-md-5">
					<label for="etapa">Área</label>
					<select class="form-control" id="etapa_r" name="etapa" required>
						<option disabled selected>-- Selecciona una etapa --</option>
						<option value="0">Jefe de Producción</option>
						<option value="1">Moldeo</option>
						<option value="2">Fusión</option>
						<option value="3">Quiebre</option>
						<option value="4">Terminación</option>
						<option value="5">Tratamiento Térmico</option>
						<option value="6">Maestranza</option>
						<option value="7">Control De Calidad</option>
						<option value="8">Mantención</option>
						<option value="9">Externo</option>
						<option value="10">Otros</option>
					</select>
				</div>
				<div class="col-md-1" style="margin-top: 12px">
					<div class="form-group" style="margin-top: 10px">
						<button class="btn btn-success pull-right" type="submit">Registrar</button>
					</div>
				</div>
			</div>
			<table id="tabla_session" class="o_list_view table table-condensed table-striped" cellspacing="0" width="100%">
				<thead>

					<tr>
						<th>Código</th>
						<th>Descripción</th>
						<th>Stock</th>
						<th>Eliminar</th>
						<th>A Enviar</th>
						<th>Unidad</th>
					</tr>

				</thead>
				<tbody id="session_rows">
				</tbody>
			</table>
	</div>
</form>
<div class="panel panel-default" style="padding: 0;">
	<table id="tablaStock" class="o_list_view table table-condensed table-striped" cellspacing="0" width="100%" style="margin: 0; padding: 0;">
		<thead>
			<tr>
				<th>Código</th>
				<th>Descripción</th>
				<th>Stock</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        <%if(mat.length > 0){
		for(var j=0; j < mat.length; j++){%>
		<tr id="row<%= mat[j].idmaterial%>">
			<td><%= mat[j].codigo%></td>
			<td><%= mat[j].detalle%></td>
			<td class="parsear_nro"><%= mat[j].stock %></td>
			<td style="text-align: center"><a href="#" class="selector btn btn-success btn-xs" onclick="add_session(<%= mat[j].idmaterial%>,<%= mat[j].stock%>,'<%= mat[j].u_compra%>')"><i class="fa fa-plus"></i></a></td>
		</tr>
        <%}
		}
		else{%>
		<tr>
			No hay materiales registrados.
		</tr>
        <%}%>
		</tbody>
	</table>
</div>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js""></script>

<script type="text/javascript">
    //setDataTable("#tablaStock");
    $('#tablaStock').DataTable( {
        "scrollCollapse": true,
        "paging":         false
    } );
    //  mat[Math.floor((Math.random()*mat.length)+1) - 1].detalle"
	// Quitar de la sesión
    function drop_session(idmaterial){
        $("#row" + idmaterial.toString()).removeClass("hidden");
        $("#sess" + idmaterial.toString()).remove();
    }
	// Agregar sesión 
    function add_session(idmaterial,stock,u_medida){
        var string_idm = idmaterial.toString();
        $("#tabla_session").append("<tr id='sess" + string_idm +"'>" + $("#row" + string_idm).html()
			+ "<td><input type='number' class='material-form form-control' min='1' max='" + stock + "' data-idmaterial='" + string_idm + "'></td><td>" + u_medida + "</td></tr>");
		$("#sess" + string_idm + " > td > .selector").attr("onclick","drop_session(" + string_idm + ")");
        $("#sess" + string_idm + " > td > .selector > i").attr("class","fa fa-remove");
        $("#row" + idmaterial.toString()).addClass("hidden");
    }
    $("#session_form").submit(function (e){
        e.preventDefault();
        var lista_m = [];
        var lista_v = [];
        $("#session_rows > tr > td > input").each(function(e){
           lista_m.push($(this).data('idmaterial'));
           lista_v.push(this.value);
		});
        if(lista_m.length){
            if(confirm("¿Está seguro?")) {
                $.ajax({
                    type: 'post',
                    data: {
                        lista_m: lista_m,
                        lista_v: lista_v,
                        tipo: 0,
                        etapa: $("#etapa_r").val(),
                        receptor: $("#receptor_r").val()
                    },
                    url: '/matprimas/save_movimiento',
                    success: function (data) {
                        if (!data.err) {
                            alert(data.msg);
                            $("#create_retiro").trigger("click");
                        } else alert(data.msg);
                    }
                });
            }
		} else alert("No hay Materiales seleccionados")
	})
</script>