<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Preparar Reservación : </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <p style="margin-left: 10px">
                    Se ha recepcionado el stock necesario para OC <%= numoc%>:
                </p>

                <div style="overflow: hidden; padding: 0px 5%" class="list-group" id="contReservModal-list">
                    <% if(data.length>0){%>
                        <% for(var e=0; e < data.length; e++ ){%>
                        <a class='list-group-item itemhover row' data-idreservd="<%= data[e].idreservacion_d%>">
                            <div class="col-md-5"><%= data[e].detalle%></div>
                            <div class="col-md-4">Solicitados: <%= data[e].sin_prep%></div>
                            <div class="col-md-3">Stock: <%= data[e].stock%></div>
                        </a>
                    <%}%>
                    <%}else{%>
                        <div style="text-align: center; display: flex">
                            <h5>No hay Preparaciones pendientes. <a class="drop-notif-link" onclick="removeNotifModal(this)" data-id="<%= idnotif%>">Eliminar notificación.</a></h5>
                        </div>
                    <%}%>
                </div>
                <style>
                    .list-group-item.active{
                        color: white;
                        background-color: rgb(124,123,173);
                    }

                    .list-group-item.active:hover{
                        color: white;
                        background-color: rgb(124,123,173);
                    }

                    .list-group-item:hover{
                        color: white !important;
                        background-color: rgb(124,123,173) !important;
                        cursor: pointer;
                    }
                </style>
                <script>

                    /*FUNCIONES NECESARIAS PARA DESTACAR COLUMNAS CON EL MOUSE*/
                    $(".itemhover").attr('unselectable','on')
                        .css({'-moz-user-select':'-moz-none',
                            '-moz-user-select':'none',
                            '-o-user-select':'none',
                            '-khtml-user-select':'none', /* you could also put this in a class */
                            '-webkit-user-select':'none',/* and add the CSS class here instead */
                            '-ms-user-select':'none',
                            'user-select':'none'
                        }).bind('selectstart', function(){ return false; });

                    var mouseDown = 0;
                    document.body.onmousedown = function() {
                        mouseDown = 1;
                    }
                    document.body.onmouseup = function() {
                        mouseDown = 0;
                    }

                    $(".itemhover").mouseenter(function(){
                        if(mouseDown === 1){
                            $(this).toggleClass('active');
                        }
                    });
                    $(".itemhover").mousedown(function(){
                        $(this).toggleClass('active');
                    });

                    /*FUNCIONES NECESARIAS PARA DESTACAR COLUMNAS CON EL MOUSE --- FIN*/
                </script>
                <h4 class="pull-right" style="margin-right: 10px">
                    <small><i class="fa fa-exclamation-triangle"></i> Seleccione los pedido que desea Reservar </small>
                </h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="irPrepararReservacion()">Ir a Preparar Reservación</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>

</div>
<style>
    .drop-notif-link{
        text-decoration-line: underline;
        color: blue;
    }
    .drop-notif-link:hover{
        text-decoration-line: underline;
        cursor: pointer;
        color: darkblue;
    }
</style>
<script>
    function irPrepararReservacion(){
        var idreservacion_d = [];

        $(".itemhover.active").each(function(){
            idreservacion_d.push($(this).data('idreservd'));
        });
        //SE REDIRECCIONA A Ver Reservaciones DONDE AUTOMATICAMENTE SE SELECIONAN LOS PEDIDO A PREPARAR
        $.ajax({
            type: 'POST',
            data: {idreservd: JSON.stringify(idreservacion_d)},
            url: '/matprimas/view_reservaciones_post',
            beforeSend: function(){
                $("table").DataTable().destroy();
            },
            success: function(data){
                $("#page-wrapper").html(data);
                $('#prepReservModal').modal('hide');
            }
        });

    }
    function removeNotifModal(yo){
        $.ajax({
            type: 'GET',
            url: '/matprimas/drop_notif/'+$(yo).data('id'),
            success: function(data){
                $(".notificaciones").html(data);
                $('#prepReservModal').modal('hide');
            }
        });
    }
</script>