<div class="row" style="margin: 0 ;padding-top: 0;margin-right: 2%;margin-left: 2%;background-color: white; height: 100%;">
    <div class="col-md-12" id="panel_odaform" style="margin-top: 20px">
        <div class="panel panel-primary panel-defecto">
            <div class="panel-heading">
                <h3>Registrar Recepción de materiales</h3>
            </div>
            <div class="panel-body">
                <%
                var key = new Date().toLocaleString();
                key = key.split(' ');
                key[0] = key[0].split('-').join('');
                key[1] = key[1].split(':').join('');
                key = key.join('');
                %>
                <form id="oda_form">
                    <div class="form-inline input-group">
                        <input type="text" id="oda_input" class="form-control" name="numoda">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Buscar <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <form id="gdd_form<%= key%>">
                    <div id="oda_gdd" class="well" style="margin-top: 20px">
                        No se ha seleccionado ninguna OC
                    </div>
                </form>

            </div>
       </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 0;">
                <table id="odaTable" class="table table-striped" style="margin: 0; width: 100%">
                    <thead>
                    <tr>
                        <td>ID OCA</td>
                        <td>Detalle Mat.</td>
                        <td>Stock Mat.</td>
                        <td>Pedidos</td>
                        <td>Recibidos</td>
                        <td></td>
                    </tr>
                    </thead>

                    <tbody>
                    <%for (var i = 0; i < abast.length; i++){ %>
                    <tr>
                        <td><%=abast[i]['idoda']%></td>
                        <td><%=abast[i]['detalle']%></td>
                        <td><%=abast[i]['stock']%></td>
                        <td><%=abast[i]['cantidad']%></td>
                        <td><%=abast[i]['recibidos']%></td>
                        <td><a class="btn btn-success btn-xs" onclick="send_search(<%=abast[i].idoda%>)"><i class="fa fa-plus"></i></a></td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    //Ejecutar la DataTable
    $('#odaTable').DataTable({
        "lengthChange": false,
        "searching": true,
        "bInfo": false,
        "paging": false
    });

    /*function goToByScroll(id) {
        // Scroll
        $('html,#page-wrapper').animate({
            scrollTop: $("#" + id).offset().top
        }, 'slow');
    }*/

    function send_search(numero){
        $("#oda_input").val(numero);
        $("#oda_form button").trigger("click");
        // goToByScroll("panel_odaform");
    }

    //Formulario de Búsqueda
    $("#oda_form").submit(function(e){
        e.preventDefault();
        $.ajax({
            url: "/matprimas/search_oca",
            data: { numoda: $("#oda_input").val()},
            type: "POST",
            success: function(data){
                if(!data.err){
                    $("#oda_gdd").html(data.html);
                } else alert(data.err_msg);
            }
        })
    });

    //Formulario de Recepcion
    $("#gdd_form<%= key%>").submit(function(e){
        e.preventDefault();
        var detalle = [];
        $("#confirmar_gdd").modal("toggle");
        //revisar todos los inputs de la tabla
        $("input[name = 'rec']").each(function(e){
            //Agregar a la lista sólo los inputs que sean distintos de cero.
            if($(this).val() != 0){
                detalle.push([$(this).data('idabast'),$(this).val(),$(this).data('idmat')]);
            }
        });

        //Enviar Ajax
        $.ajax({
            type: 'post',
            url: "/matprimas/save_recepcion",
            data: {
                numgdd: $("input[name = 'numgdd']").val(),
                detalle: detalle
            },
            success: function(data){
                if(!data.err){
                    alert("Guía guardada correctamente");
                    $("#page-wrapper").html(data);
                } else alert(data.err_msg);
            }
        });
    });
</script>
