<%
    function fechaLatino(string){
        if(string.split('-').length == 3){
            return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
        }
        else{
            return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
        }
    }

    var etapas = [
        "Jefe de Producción",
        "Moldeo",
        "Fusión",
        "Quiebre",
        "Terminación",
        "Tratamiento Térmico",
        "Maestranza",
        "Control de Calidad",
        "Mantención",
        "Externo",
        "Otros"
    ];
%>
<table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" id="tablaMovimientos" style="top: -7px">
    <thead>
    <tr>
        <th class="cabecera o_column_sortable ">Mov</th>
        <th class="cabecera o_column_sortable " data-order="material.detalle-ASC">Descripción</th>
        <th class="cabecera o_column_sortable " style="text-align: center;" data-order="movimiento_detalle.cantidad*1-ASC">Solicitados</th>
        <th class="cabecera o_column_sortable " style="text-align: center;" data-order="material.u_medida-ASC">Unidad</th>
        <th class="cabecera o_column_sortable " style="text-align: center;" data-order="etapafaena.nombre_etapa-ASC">Etapa</th>
        <th class="cabecera o_column_sortable " style="text-align: center;" >Movimiento</th>
        <th class="cabecera o_column_sortable " style="text-align: center;">Receptor</th>
        <th class="cabecera o_column_sortable" style="text-align: center;" >Fecha de Registro</th>
    </tr>
    </thead>
    <tbody class="ui-sortable">
    <%for(var i=0; i < data.length; i++){%>
        <tr class="o_data_row">
            <td class="o_data_cell o_readonly_modifier o_required_modifier"  style="text-align: center"><%=data[i].idmovimiento%></td>
            <td class="o_data_cell o_readonly_modifier o_required_modifier" ><%=data[i].detalle%></td>
            <td class="o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;" ><%= data[i].cantidad%></td>
            <td class="o_data_cell" style="text-align: center;" ><%=data[i].u_medida%></td>
            <td class="o_data_cell" style="text-align: center;" ><%=etapas[parseInt(data[i].nombre_etapa)]%></td>
            <td class="o_data_cell" style="text-align: center;" >
                <%if(data[i].tipo_mov == '0'){%>
                    Retiro
                <%}else{%>
                    Devolución
                <%}%>
            </td>
            <td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" style="text-align: center;" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>"><%= data[i].receptor%></td>
            <td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" style="text-align: center;" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>">
                <span class="cfield_monetary o_field_number o_field_widget o_readonly_modifier" data-order="<%= new Date(data[i].f_gen).getTime()%>" name="amount_total"><%= fechaLatino(new Date(data[i].f_gen).toLocaleDateString())%></span>
            </td>
        </tr>
    <%}%>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">

    $('#tablaMovimientos').DataTable( {
        "scrollCollapse": true,
        'searching': false,
        "paging":         false
    } );

    function submit_form(yo){
        //$("#form"+$(yo).data('idodc')).submit();
        $.ajax({
            type: 'GET',
            url: '/matprimas/page_mat/'+$(yo).data('idodc'),
            success: function(data){
                $(".main-page").html(data);
            }
        });
    }


</script>