<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}
%>
<table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%">
    <style>
        .order-column:hover{
            cursor: pointer;
        }
    </style>
    <thead style="/*position: fixed; width: 100%*/">
    <tr>
        <th id="numof" class="cabecera o_column_sortable order-column" data-order="movimiento_detalle.idmovimiento-ASC">N° Mov</th>
        <th id="descrip" class="cabecera o_column_sortable order-column" data-order="material.detalle-ASC">Descripción</th>
        <th id="solicitados" class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="movimiento_detalle.cantidad*1-ASC">Solicitados</th>
        <th id="sin_produccion" class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="material.u_medida-ASC">Unidad</th>
        <th id="sin_produccion" class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="etapafaena.nombre_etapa-ASC">Etapa</th>
        <th id="f_entrega" class="cabecera o_column_sortable order-column o-sort-up" style="text-align: center;" data-order="movimiento_detalle.f_gen-DESC">Fecha de Registro</th>
    </tr>
    </thead>
    <tbody class="ui-sortable" style="margin-top: 10px;">
    <%for(var i=0; i < data.length; i++){%>
        <tr class="o_data_row">
            <td class="o_data_cell o_readonly_modifier o_required_modifier" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>" style="text-align: center"><%=data[i].idmovimiento%></td>
            <td class="o_data_cell o_readonly_modifier o_required_modifier" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>"><%=data[i].detalle%></td>
            <td class="o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center;" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>"><%=data[i].cantidad%></td>
            <td class="o_data_cell" style="text-align: center;" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>"><%=data[i].u_medida%></td>
            <td class="o_data_cell" style="text-align: center;" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>"><%=data[i].nombre_etapa%></td>
            <td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" style="text-align: center;" onclick="submit_form(this)" data-idmov="<%= data[i].idmovimiento%>">
                <span class="cfield_monetary o_field_number o_field_widget o_readonly_modifier" name="amount_total"><%= fechaLatino(new Date(data[i].f_gen).toLocaleDateString())%></span>
            </td>

        </tr>
    <%}%>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <!--<td class="o_list_number" title="Total sin producir">124.021,00</td>-->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>
</table>

<script type="text/javascript">
    $(document).ready(function(){
        $(".order-column").removeClass('o-sort-up');
        $(".order-column").removeClass('o-sort-down');
        $(".order-column").each(function(){
            //$(this).css("width", $("."+$(this).attr('id')).css('width'));

            if($(this).data('order').split('-')[0] == "<%= key.split('-')[0]%>" ){
                if("<%= key.split('-')[1]%>" == "ASC"){
                    $(this).addClass('o-sort-up');
                    $(this).data('order', '<%= key.split("-")[0]%>-DESC');
                }
                else{
                    $(this).addClass('o-sort-down');

                    $(this).data('order', '<%= key.split("-")[0]%>-ASC');
                }
            }
            /*$(".cabecera").each(function(){
                $(this).css("width", ("."+$(this).attr('id')).css('width')+"px");
            });*/
        });
    });
    $(".order-column").on('click', function(e){
        e.preventDefault();
        var item = this;
        var orden = $(this).data('order');
        $.ajax({
            type: 'GET',
            url: '/matprimas/table_movimientos/'+orden,
            success: function(data){
                $(".main-page").html(data);
            }
        });
    });


    /*function submit_form(yo){
        //$("#form"+$(yo).data('idodc')).submit();
        $.ajax({
            type: 'GET',
            url: '/plan/page_of/'+$(yo).data('idodc'),
            success: function(data){
                $(".main-page").html(data);
            }
        });
    }*/


</script>