    <%
    function translate(word){
        if(word == 'Otro'){
            return "con detalle no especificado";
        }
        else{
            return word;
        }
    }
    if(notif.length > 0){
        for(var u=0; u < notif.length; u++){
            var desc = notif[u].descripcion.split('@');
            var hora = desc[3].split(' ')[1].split(':')[0] +":"+desc[3].split(' ')[1].split(':')[1];
            %>
            <li>
                <a class="notificacion" data-toggle="modal" data-target="#rechazoModal" data-idop="<%= desc[5]%>" data-idp="<%= desc[4]%>" data-detalle="<%= notif[u].detalle%>" data-id="<%= notif[u].idnotificacion%>" data-cant="<%= parseInt(desc[2])%>">
                    <div>
                            <strong><%= desc[2]%> <%= notif[u].detalle%> Rechazado(s)</strong>
                            <span class="pull-right text-muted">
                            <em><%= hora%></em>
                            </span>
                    </div>
                    <div>Se notificó un Rechazo en  <%= notif[u].nombre_etapa%> correspondiente a <%= desc[2]%> unidades de <%=notif[u].detalle%> con el siguiente adjunto:
                        <div class="well">
                        <% if(desc[6] != ''){ %>
                            <%= translate(desc[6])%>
                        <%} else {%>
                            - Sin Mensaje -
                        <%}%>
                        </div>
                    </div>
                </a>
                <button type="button" class="close" style="position: absolute; top: 1px; right: 3px" data-id="<%= notif[u].idnotificacion%>" onclick="removeNotif(this)">&times;</button>
            </li>
            <li class="divider"></li>
        <%}%>
    <%}
    else{%>
        <li>
            <a href="#">
                <div>
                        <strong>No hay notificaciones</strong>
                        <span class="pull-right text-muted" style="margin-left: 20px">
                        <em>Ahora mismo</em>
                        </span>
                </div>
                <div>No tiene notificaciones.</div>
            </a>
        </li>
    <%}%>







<script type="text/javascript">
    var cantNotif = parseInt("<%= notif.length%>");
    $(".open-notif").data('cant',cantNotif);
    $(".badge-notificaciones").html($(".open-notif").data('cant')); 
    
    if(cantNotif == 0)
        $(".badge-notificaciones").css('display', 'none');
    else
        $(".badge-notificaciones").css('display', 'block');

    $(".notificacion").on('click', function(e){
        e.preventDefault();
        $(".idProd").val($(this).data('idp'));
        $(".porReponer").val($(this).data('cant'));
        $(".idnotif").val($(this).data('id'));
        var reponer = $(this).data('cant');
        $.ajax({
            type: 'POST',
            data: {idop: $(this).data('idop'), rep: $(this).data('cant'), idp: $(this).data('idp')},
            url: 'jefeprod/predict_newop',
            success: function(data){
                console.log(data);

                $("#rechazoModal .new_op").text("");
                $("#rechazoModal .new_op").append("<td>"+data.newop[0].idordenproduccion+"</td><td>"+data.newop[0].numordenfabricacion+"</td><td>"+data.newop[0].detalle+"</td><td>"+reponer+"</td>");
            }
        });
    });


    function removeNotif(yo){
        $.ajax({
            type: 'GET',
            url: '/faena/drop_notif/'+$(yo).data('id'),
            success: function(data){
                $(".notificaciones").html(data);
            }
        });
    }
    $(document).on('click', '.notificaciones li', function (e) {
        e.stopPropagation();
    });
</script>