
<%function letraMayus(string) {
    return string;
}
function fechaLatino(string){
    return string.split('-')[2]+"-"+string.split('-')[1]+"-"+string.split('-')[0];
}
%> 
    <!--return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();-->
    <style type="text/css">
        .dropdown-toggle:hover i{
            cursor: pointer;
            color: rgb(35,82,124);
        }
        .dropdown-toggle i{
            font-size: 19px;
        }
    </style>                

    <h2 class="page-header">Órdenes de Producción <div class="btn-group pull-right"><a class="btn btn-info getcsvof" data-tipo="opdetalle" href="#"><i class="fa fa-download"></i> Excel Detalle</a><a class="btn btn-info getcsvof" data-tipo="op" href="#"><i class="fa fa-download"></i> Excel Resumen</a></div></h2>
   
    <div class="col-md-10 col-md-offset-1 col-sm-10">
        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Todas la producciones</a></li>
            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Por OP</a></li>
            <li role="presentation"><a href="#progreso" aria-controls="progreso" role="tab" data-toggle="tab">Progreso</a></li>
            <li role="presentation"><a href="#anulados" aria-controls="anulados" role="tab" data-toggle="tab">Anulados</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <div class="well">
                    <form id="fullserch">
                        <a>
                                <h4>Buscador:
                                <div class="checkbox">
                                    <label><input type="checkbox" id="itemProd" value="" onchange="itemizarProductos(this)">Comprimir Productos</label>
                                </div>

                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"></i></button> 

                                <button class="btn btn-primary pull-right fcinco"><i class="fa fa-refresh"></i></button> 
                                </h4>
                        </a>
                        <div>

                        <div class="form-group">
                            <label>N° OF:</label>
                            <input type="text" name="numof" placeholder="Ej: 5913" id="nof" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Detalle de Producto:</label>
                                <input type="text" name="detalle" placeholder="Ej: INSERTO 23240 R2" id="det" class="form-control">
                            </div>
                        </div>


                    </form>
               </div>
                <table id="ttodostodos" class="table table-bordered table-hover table-striped" >                      
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="N° OF" style="text-align: center">N° OF</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <!--<th data-toggle="tooltip" data-placement="bottom" title="Abastecidos" style="text-align: center">Abastecidos</th>-->
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">MOL</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center">FUS</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center">QUI</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center">TER</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Tratamiento Termico" style="text-align: center">TTO</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center">MTR</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center">CAL</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" style="text-align: center">BPT</th>
                        <th class='info' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center">TRA</th>
                    </tr>
                    </thead>
                    <tbody id="todosbody">
                    <%
                    if(datalen.length){
                        for(var i = 0; i< datalen.length; i++){
                    %>
                    <tr>
                        <td data-toggle="tooltip" data-placement="bottom" title="Nombre"><%=datalen[i].detalle%></td>
                        <td  style="text-align: center; cursor: default; align-content: center;" title="OP N°" data-content="<%= datalen[i].tok%>" data-toggle="popover" data-placement="top"><%= datalen[i].numordenfabricacion %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center"><%= datalen[i].cantidad %></td>
                        <!--<td data-toggle="tooltip" data-placement="bottom" title="Abastecidos" style="text-align: center"><%= datalen[i].abastecidos %></td>-->
                        <td data-toggle="tooltip" data-placement="bottom" title="Moldeo" id="prod<%=datalen[i].idproduccion%>-1" style="text-align: center"><%= datalen[i]['1'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Fusion" id="prod<%=datalen[i].idproduccion%>-2" id="prod<%=datalen[i].idproduccion%>-1" style="text-align: center"><%= datalen[i]['2'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Quiebre" id="prod<%=datalen[i].idproduccion%>-3" style="text-align: center"><%= datalen[i]['3'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Terminación" id="prod<%=datalen[i].idproduccion%>-4" style="text-align: center"><%= datalen[i]['4'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Tratamiento térmico" id="prod<%=datalen[i].idproduccion%>-5" style="text-align: center"><%= datalen[i]['5'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Maestranza" id="prod<%=datalen[i].idproduccion%>-6" style="text-align: center"><%= datalen[i]['6'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" id="prod<%=datalen[i].idproduccion%>-7" style="text-align: center"><%= datalen[i]['7'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" id="prod<%=datalen[i].idproduccion%>-8" style="text-align: center"><%= datalen[i]['8'] %></td>
                        <td class='danger' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center"><%= datalen[i].trats %></td>
                    </tr>
                    <%  }
                    } else {
                        %>
                    <tr><td>No hay nada por producir</td></tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="home">
                <div class="form-group col-md-6" style="display: flex; width: 100%">
                        <input style="width: 80%" id="busqOP" type="text" class="form-control" placeholder="N° OP / Detalle de Producto" tabindex="1">
                        <button style="width: 10%" type="button" class="input-group-addon btn" tabindex="2" onclick="searchOP()"><i class="glyphicon glyphicon-search"></i></button>
                        <button style="width: 10%" type="button" class="btn input-group-addon" tabindex="3" onclick="refresh_listOP()"><i class="glyphicon glyphicon-refresh"></i></button>
                    </div>  
                    
                    <div id="listaOP">
                            
                            
                            <div id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 20px" class="panel-group">
                                <%
                                if(data.length){
                                var inProceso = true;
                                var color = '';
                                for(var i = 0; i< data.length;i++){
                                    if(data[i].atraso){
                                        color = 'danger';
                                    }
                                    else if(data[i].activo){
                                        color = 'warning';
                                    }   
                                    else{
                                        color = 'success';
                                    }   
                                %>
                                <div class="panel panel-<%= color%>">
                                    <div class="panel-heading" role="tab" id="h<%= data[i].idordenproduccion%>" style="display: flex;">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#c<%= data[i].idordenproduccion%>" aria-expanded="true" aria-controls="collapseOne" style="width: 98%; font-family: 'Oswald'">
                                            <h3 style="width: 100%">OP N°<%= data[i].idordenproduccion%>
                                                <small>creada el <%= fechaLatino(new Date(data[i].f_gen).toLocaleDateString())%> 
                                                    <%if(data[i].finalizado){
                                                        inProceso = false;%>
                                                        (Finalizado)
                                                    <%}else if(color == 'warning'){
                                                        inProceso = true;%>
                                                        (En proceso - Quedan menos de 10 días para fecha prevista)
                                                    <%}else{
                                                        inProceso = true;%>
                                                        (En proceso)
                                                    <%}%>
                                                </small>
                                                <small class="pull-right" style="margin-top:15px">
                                                    <%if(data[i].anulado){%>
                                                        (ANULADO)
                                                    <%}%>
                                                </small>
                                            </h3>
                                        </a>


                                        <div class="dropdown" style="height: 20px;width: 2%; padding: 0;">
                                          <a class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(51,122,183)"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                          <ul class="dropdown-menu dropdown-menu-right">
                                            <li class="ficha_a">
                                                <a href="#">
                                                    <form method="GET" action="/jefeprod//show_pdf_bom/<%= data[i].idordenproduccion%>" target="_blank">
                                                        Lista de Insumos
                                                    </form>
                                                </a>
                                            </li>
                                            <%if(!inProceso){%>
                                                <li class="ficha_a">
                                                    <a href="#" onclick="closeOP(this)" data-idop= "<%=data[i].idordenproduccion%>">
                                                        Cerrar OP
                                                    </a>
                                                </li>
                                            <%}%>
                                            <li>
                                                <a href="#" onclick="anularOP(this)" data-idop= "<%=data[i].idordenproduccion%>">
                                                        Anular OP
                                                </a>
                                            </li>
                                            <!--<li><a href="#">Ver Ordenes de Compra</a></li>-->
                                          </ul>
                                        </div>
                                        <!--<div style="position: relative; right: 0%; display: flex; width: 5%">
                                            <form method="POST" action="/jefeprod/ficha_abastecimiento" target="_blank">
                                                <input type="hidden" name="idop" value="<%= data[i].idordenproduccion%>">
                                                <button  type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-list-alt"></i>Ficha</button>
                                            </form>
                                        </div>-->
                                    </div>
                                    <div id="c<%= data[i].idordenproduccion%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h<%= data[i].idordenproduccion%>">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                                                <th style="cursor: default;" data-toggle="tooltip" data-placement="bottom" title="N°OF">N° OF</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                                                <!--<th data-toggle="tooltip" data-placement="bottom" title="Abastecidos" style="text-align: center">Abastecidos</th>-->
                                                <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">MOL</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center">FUS</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center">QUI</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center">TER</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Tratamiento Termico" style="text-align: center">TTO</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center">MTR</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center">CAL</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" style="text-align: center">BPT</th>
                                                <th class='info' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center">TRA</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Fecha prevista en OP" style="text-align: center">Fecha</th>
                                            </tr>
                                            </thead>
                                            <tbody id="t<% data[i].idordenproduccion%>">
                                            <% for(var j = 0;j< data[i].oftoken.length;j++){
                                                data[i].oftoken[j] = data[i].oftoken[j].split('@');
                                                data[i].etapatoken[j] = data[i].etapatoken[j].split('@');
                                            %>
                                            <tr>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Nombre"><%= data[i].oftoken[j][0]%></td>
                                                <td style="text-align: center; cursor: default; align-content: center;" title="OP N°" data-content="<%= data[i].etapatoken[j][11]%>" data-toggle="popover" data-placement="top"><%= data[i].oftoken[j][1]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center"><%= data[i].oftoken[j][2]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center" style="text-align: center"><%= data[i].etapatoken[j][0]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center"><%= data[i].etapatoken[j][1]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center"><%= data[i].etapatoken[j][2]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center" style="text-align: center"><%= data[i].etapatoken[j][3]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Tratamiento Térmico" style="text-align: center"><%= data[i].etapatoken[j][4]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center"><%= data[i].etapatoken[j][5]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center"><%= data[i].etapatoken[j][6]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" style="text-align: center"><%= data[i].etapatoken[j][7]%></td>
                                                <td class='info' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center"><%= data[i].etapatoken[j][8]%></td>
                                                <%if(new Date(data[i].etapatoken[j][10]) < new Date() ){%>
                                                    <td class="danger" data-toggle="tooltip" data-placement="bottom" title="Atrasado <%=data[i].etapatoken[j][9]%> días" style="text-align: center"><%= fechaLatino(new Date(data[i].etapatoken[j][10]).toLocaleDateString())%></td>
                                                <%}else{%>
                                                    <td class="success" data-toggle="tooltip" data-placement="bottom" title="Faltan <%=data[i].etapatoken[j][9]%> días para fecha prevista" style="text-align: center"><%= fechaLatino(new Date(data[i].etapatoken[j][10]).toLocaleDateString())%></td>

                                                <%}%>
                                            </tr>
                                            <%}%>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <%}%>
                                <%}%>
                            </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="progreso">
                <div class="well">
                    <form id="fullserchprogress">
                        <a>
                                <h4>Buscador:
                                
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"></i></button> 

                                <button class="btn btn-primary pull-right fseis"><i class="fa fa-refresh"></i></button> 
                                </h4>
                        </a>
                        <div>

                        <div class="form-group">
                            <label>N° OF:</label>
                            <input type="text" name="numof" placeholder="Ej: 5913" id="nofprogress" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Detalle de Producto:</label>
                                <input type="text" name="detalle" placeholder="Ej: INSERTO 23240 R2" id="detprogress" class="form-control">
                            </div>
                        </div>


                    </form>
               </div>
                <table id="ttodostodos" class="table table-bordered table-hover table-striped" >
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="N° OF" style="text-align: center">N° OF</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="N° OP" style="text-align: center">N° OP</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <!--<th data-toggle="tooltip" data-placement="bottom" title="Abastecidos" style="text-align: center">Abastecidos</th>-->
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">MOL</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center">FUS</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center">QUI</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center">TER</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Tratamiento Termico" style="text-align: center">TTO</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center">MTR</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center">CAL</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Progreso" style="text-align: center">Progreso</th>
                    </tr>
                    </thead>
                    <tbody id="todosbodyprogress">
                  <%var progress = [];
                    var prod;
                    for(var e=0; e < prog.length; e++){
                         prod = {
                             idprod: prog[e].idproduccion,
                             desc: prog[e].detalle,
                             numof: prog[e].idorden_f,
                             cant: prog[e].cantidad,
                             pasos: prog[e].ruta.split(',').length-1,
                             numop: prog[e].idordenproduccion,
                             1: 0,
                             2: 0,
                             3: 0,
                             4: 0,
                             5: 0,
                             6: 0,
                             7: 0
                         };
                         
                         for(var t=0; t < prog[e].from.split(',').length; t++){
                             prod[prog[e].from.split(',')[t]] += parseInt(prog[e].enviados.split(',')[t]);
                         }
                         progress.push(prod);
                    }
                    if(progress.length){
                        var sum = 0;
                        for(var i = 0; i< progress.length; i++){
                            sum = 0;
                    %>
                    <tr>
                        <td data-toggle="tooltip" data-placement="bottom" title="Nombre"><%=progress[i].desc%></td>
                        <td  style="text-align: center; cursor: default; align-content: center;" title="OP N°" data-content="<%= datalen[i].tok%>" data-toggle="popover" data-placement="top"><%= progress[i].numof %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="N° OP" style="text-align: center"><%= progress[i].numop %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center"><%= progress[i].cant %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center"><%= progress[i]['1'] %></td>
                        <% sum += parseInt(progress[i]['1'])%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center"><%= progress[i]['2'] %></td>
                        <% sum += parseInt(progress[i]['2'])%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center"><%= progress[i]['3'] %></td>
                        <% sum += parseInt(progress[i]['3'])%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center"><%= progress[i]['4'] %></td>
                        <% sum += parseInt(progress[i]['4'])%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Tratamiento térmico" style="text-align: center"><%= progress[i]['5'] %></td>
                        <% sum += parseInt(progress[i]['5'])%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center"><%= progress[i]['6'] %></td>
                        <% sum += parseInt(progress[i]['6'])%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center"><%= progress[i]['7'] %></td>
                        <% sum += parseInt(progress[i]['7'])%>
                        <%if(100*(sum/(parseInt(progress[i].pasos)*parseInt(progress[i].cant))) == 100){%>
                            <td class="success" data-toggle="tooltip" data-placement="bottom" title="Progreso" style="text-align: center">
                        <%}else if(100*(sum/(parseInt(progress[i].pasos)*parseInt(progress[i].cant))) > 50){%>
                            <td class="warning" data-toggle="tooltip" data-placement="bottom" title="Progreso" style="text-align: center">
                        <%}else{%>
                            <td class="danger" data-toggle="tooltip" data-placement="bottom" title="Progreso" style="text-align: center">
                        <%}%>
                                <%= (100*(sum/(parseInt(progress[i].pasos)*parseInt(progress[i].cant)))).toLocaleString().split('.')[0]%>%</td>
                    </tr>
                    <%  }
                    } else {
                        %>
                    <tr><td>No hay nada por producir</td></tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="anulados">
                <div class="form-group col-md-6" style="display: flex; width: 100%">
                        <input style="width: 80%" id="busqOP" type="text" class="form-control" placeholder="N° OP / Detalle de Producto" tabindex="1">
                        <button style="width: 10%" type="button" class="input-group-addon btn" tabindex="2" onclick="searchOP()"><i class="glyphicon glyphicon-search"></i></button>
                        <button style="width: 10%" type="button" class="btn input-group-addon" tabindex="3" onclick="refresh_listOP()"><i class="glyphicon glyphicon-refresh"></i></button>
                    </div>  
                    
                    <div id="listaOPanuladas">
                            
                            
                            <div id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 20px" class="panel-group">
                                <%
                                if(data2.length){
                                var data = data2;
                                var inProceso = true;
                                var color = '';
                                for(var i = 0; i< data.length;i++){
                                    if(data[i].atraso){
                                        color = 'danger';
                                    }
                                    else if(data[i].activo){
                                        color = 'warning';
                                    }   
                                    else{
                                        color = 'success';
                                    }   
                                %>
                                <div class="panel panel-<%= color%>">
                                    <div class="panel-heading" role="tab" id="ha<%= data[i].idordenproduccion%>" style="display: flex;">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ca<%= data[i].idordenproduccion%>" aria-expanded="true" aria-controls="collapseOne" style="width: 98%; font-family: 'Oswald'">
                                            <h3 style="width: 100%">OP N°<%= data[i].idordenproduccion%>
                                                <small>creada el <%= fechaLatino(new Date(data[i].f_gen).toLocaleDateString())%> 
                                                    <%if(data[i].finalizado){
                                                        inProceso = false;%>
                                                        (Finalizado)
                                                    <%}else if(color == 'warning'){
                                                        inProceso = true;%>
                                                        (Aun en proceso)
                                                    <%}else{
                                                        inProceso = true;%>
                                                        (Aun en proceso)
                                                    <%}%>
                                                </small>
                                                <small class="pull-right" style="margin-top:15px">
                                                    <%if(data[i].anulado){%>
                                                        (Anulado el <%= fechaLatino(new Date(data[i].f_anulado).toLocaleDateString())%>)
                                                    <%}%>
                                                </small>
                                            </h3>
                                        </a>


                                        
                                        <!--<div style="position: relative; right: 0%; display: flex; width: 5%">
                                            <form method="POST" action="/jefeprod/ficha_abastecimiento" target="_blank">
                                                <input type="hidden" name="idop" value="<%= data[i].idordenproduccion%>">
                                                <button  type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-list-alt"></i>Ficha</button>
                                            </form>
                                        </div>-->
                                    </div>
                                    <div id="ca<%= data[i].idordenproduccion%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ha<%= data[i].idordenproduccion%>">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                                                <th style="cursor: default;" data-toggle="tooltip" data-placement="bottom" title="N°OF">N° OF</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                                                <!--<th data-toggle="tooltip" data-placement="bottom" title="Abastecidos" style="text-align: center">Abastecidos</th>-->
                                                <!--<th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">MOL</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center">FUS</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center">QUI</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center">TER</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Tratamiento Termico" style="text-align: center">TTO</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center">MTR</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center">CAL</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" style="text-align: center">BPT</th>
                                                <th class='info' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center">TRA</th>
                                                <th data-toggle="tooltip" data-placement="bottom" title="Fecha prevista en OP" style="text-align: center">Fecha</th>-->
                                            </tr>
                                            </thead>
                                            <tbody id="ta<% data[i].idordenproduccion%>">
                                            <% for(var j = 0;j< data[i].oftoken.length;j++){
                                                data[i].oftoken[j] = data[i].oftoken[j].split('@');
                                                data[i].etapatoken[j] = data[i].etapatoken[j].split('@');
                                            %>
                                            <tr>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Nombre"><%= data[i].oftoken[j][0]%></td>
                                                <td style="text-align: left; cursor: default; align-content: center;" title="OP N°" data-content="<%= data[i].etapatoken[j][11]%>" data-toggle="popover" data-placement="top"><%= data[i].oftoken[j][1]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center"><%= data[i].oftoken[j][2]%></td>
                                                <!--<td data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center" style="text-align: center"><%= data[i].etapatoken[j][0]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center"><%= data[i].etapatoken[j][1]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center"><%= data[i].etapatoken[j][2]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center" style="text-align: center"><%= data[i].etapatoken[j][3]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Tratamiento Térmico" style="text-align: center"><%= data[i].etapatoken[j][4]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center"><%= data[i].etapatoken[j][5]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center"><%= data[i].etapatoken[j][6]%></td>
                                                <td data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" style="text-align: center"><%= data[i].etapatoken[j][7]%></td>
                                                <td class='info' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center"><%= data[i].etapatoken[j][8]%></td>
                                                <%if(new Date(data[i].etapatoken[j][10]) < new Date() ){%>
                                                    <td class="danger" data-toggle="tooltip" data-placement="bottom" title="Atrasado <%=data[i].etapatoken[j][9]%> días" style="text-align: center"><%= new Date(data[i].etapatoken[j][10]).toLocaleDateString()%></td>
                                                <%}else{%>
                                                    <td class="success" data-toggle="tooltip" data-placement="bottom" title="Faltan <%=data[i].etapatoken[j][9]%> días para fecha prevista" style="text-align: center"><%= new Date(data[i].etapatoken[j][10]).toLocaleDateString()%></td>

                                                <%}%>-->
                                            </tr>
                                            <%}%>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <%}%>
                                <%}%>
                            </div>
                    </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
            $("#page-wrapper").css('height', $("#page-wrapper").children('div').height()+"px");
            $('[data-toggle="popover"]').popover({ trigger: "hover",container: 'body' }); 
    
    });
    function updateScreen(){
                $("#page-wrapper").css('height', $("#page-wrapper").children('div').height()+"px");

    }
    function searchOP(){
        //alert($("#busqOP").val());
        $.ajax({
            type: 'POST',
            data: {busq: $("#busqOP").val()},
            url: '/jefeprod/search_op',
            success: function(data) {
                $("#listaOP").html(data);
            }
        });
    }

    function refresh_listOP(){
        $.ajax({
            type: 'POST',
            data: {busq: ''},
            url: '/jefeprod/search_op',
            success: function(data) {
                $("#listaOP").html(data);
                $("#busqOP").val('');
            }
        });
    }
    function closeOP(yo){
        $.ajax({
            type: 'POST',
            data: {idop: $(yo).data('idop')},
            url: '/jefeprod/cerrar_op',
            success: function(data) {
                $("#listaOP").html(data);
            }
        });
    }

    function anularOP(yo){
        $.ajax({
            type: 'POST',
            data: {idop: $(yo).data('idop')},
            url: '/jefeprod/anular_op',
            success: function(data) {
                //alert(data);
                $("#listaOP").html(data);
                $.ajax({
                    type: 'POST',
                    data: {idop: $(yo).data('idop')},
                    url: '/jefeprod/render_anular_op',
                    success: function(data) {
                        //alert(data);
                        $("#listaOPanuladas").html(data);
                    }
                });
            }
        });
    }
    $("#fullserch").on('submit',function(e){
        e.preventDefault();
        var data = {
            numordenfabricacion : $("#nof").val() + "%",
            detalle : $("#det").val() + "%"
        };
        $.ajax({
            type: 'POST',
            data: data,
            url: '/jefeprod/serchprods',
            success: function(data) {
                $("#todosbody").html(data);
            }
        });
    });

    $("#fullserchprogress").on('submit',function(e){
        e.preventDefault();
        var data = {
            numordenfabricacion : $("#nofprogress").val() + "%",
            detalle : $("#detprogress").val() + "%"
        };
        $.ajax({
            type: 'POST',
            data: data,
            url: '/jefeprod/serchprogress',
            success: function(data) {
                $("#todosbodyprogress").html(data);
            }
        });
    });
    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/jefeprod/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                yo.attr("href",data);
                yo.attr("download",$(yo).data('tipo') + "s hasta ~ " + new Date().toLocaleDateString() + ".xlsx",function(){yo.click()});
                yo.removeClass("btn-info");
                yo.removeClass("getcsv");
                yo.addClass("btn-success");
                yo.html("<i class='fa fa-download'></i> Descargar excel");
                console.log(data);
            }
        });

    });
    $(".fcinco").click(function(e){
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/jefeprod/list_ops',
            success: function(data) {
                $("#page-wrapper").html(data);
            }
        });

    });
    $(".fseis").click(function(e){
        e.preventDefault();
        var data = {
            numordenfabricacion : "%",
            detalle : "%"
        };
        $.ajax({
            type: 'POST',
            data: data,
            url: '/jefeprod/serchprogress',
            success: function(data) {
                $("#todosbodyprogress").html(data);
            }
        });

    });




       io.on('refreshProduccion', function(info){
            console.log(info);
            //alert("Refrescar la pagina");
            $.ajax({
                type: 'GET',
                url: '/jefeprod/list_prod',
                success: function(data) {
                    $("#todosbody").html(data);
                    
                    $("#"+info.info).addClass('info');
                    setTimeout(function(){ 
                        $("#"+info.info).removeClass('info'); 
                        setTimeout(function(){ 
                            $("#"+info.info).addClass('info'); 
                            setTimeout(function(){ 
                                $("#"+info.info).removeClass('info'); 
                                setTimeout(function(){ 
                                    $("#"+info.info).addClass('info'); 
                                    setTimeout(function(){ 
                                        $("#"+info.info).removeClass('info'); 
                                        setTimeout(function(){ 
                                            $("#"+info.info).addClass('info'); 
                                            setTimeout(function(){ 
                                                $("#"+info.info).removeClass('info'); 

                                            }, 1000);
                                        }, 1000);
                                    }, 1000);
                                }, 1000);
                            }, 1000);
                        }, 1000);
                    }, 1000);
                    

                    
                }
            });
            //add_notificacion(notif);
            //show_faena();
            //make_faena();
        });

    $(".ficha_a").click(function(e){
        e.preventDefault();
        $(this).children("a").children("form").submit();
    });

    function itemizarProductos(yo){
        if($(yo).is(':checked')){
            $.ajax({
                type: 'GET',
                url: '/jefeprod/itemprod/checked',
                success: function(data){
                    $("#todosbody").html(data);
                }
            });
        }
        else{
            $.ajax({
                type: 'GET',
                url: '/jefeprod/itemprod/notchecked',
                success: function(data){
                    $("#todosbody").html(data);
                }
            });
        }
    }
</script>