 <%

function letraMayus(string) {
    return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
}
                    if(datalen.length){
                        for(var i = 0; i< datalen.length;i++){%>
                    <tr>
                        <td data-toggle="tooltip" data-placement="bottom" title="Nombre"><%=datalen[i].detalle%></td>
                        <%if(check){%>
                            <td data-toggle="tooltip" data-placement="bottom" title="N° OF" style="text-align: center"> - <%# datalen[i].numordenfabricacion %></td>
                        <%}else{%>
                            <td data-toggle="tooltip" data-placement="bottom" title="N° OF" style="text-align: center"><%= datalen[i].numordenfabricacion %></td>
                        <%}%>
                        <td data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center"><%= datalen[i].cantidad %></td>
                        <!--<td data-toggle="tooltip" data-placement="bottom" title="Abastecidos" style="text-align: center"><%= datalen[i].abastecidos %></td>-->
                        <td data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center"><%= datalen[i]['1'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Fusion" style="text-align: center"><%= datalen[i]['2'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Quiebre" style="text-align: center"><%= datalen[i]['3'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Terminación" style="text-align: center"><%= datalen[i]['4'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Tratamiento Térmico" style="text-align: center"><%= datalen[i]['5'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Maestranza" style="text-align: center"><%= datalen[i]['6'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Control de Calidad" style="text-align: center"><%= datalen[i]['7'] %></td>
                        <td data-toggle="tooltip" data-placement="bottom" title="Producto Terminado" style="text-align: center"><%= datalen[i]['8'] %></td>
                        <td class='danger' data-toggle="tooltip" data-placement="bottom" title="Tratados" style="text-align: center"><%= datalen[i].trats %></td>
                    </tr>
                    <%  }
                    } else {%>
                    <tr><td>No hay nada por producir</td></tr>
                    <%
                    }
                    %>