<h1 class="page-header">Cola de fabricación: <%= nombreetapa%></h1>

<style type="text/css">
	.fabricacionItem{
		padding: 25px;
		border: solid 2px rgb(220,220,220);
		border-radius: 2%;
		margin-bottom: 10px;
		box-shadow: 5px 5px 5px #888888;
	}
	.fabricacionItem > div{
		display: flex;
		width: 100%;
	}

	.fabricacionItem div h2,h4,p{
		width: 50%;
		margin-top: 20px;
	}
</style>

<div class="row" style="align-content: center;">
  
  <input type="hidden" id="idordenproduccion">
  <%
  console.log(data);
  if(data.length == 0){%>
  	<div style="text-align: center;">
  		<h1>No hay producciones en la etapa.</h1>
    </div>
  <%}else{
  for(var i=0; i< data.length; i++){%>
    	<div class="col-sm-12 col-md-12 fabricacionItem">
    		<div>
    			<div style="width: 83%">
    				<div style="display: flex;">
    					<h3 style="width: 75%"><b>Descripción: </b><%= data[i].detalle%></h3>
    					<p style="width: 25%"><b>Por producir: </b><%= data[i][etapaactual]%> unidades</p>
    				</div>
    				<div style="display: flex">
	    				<p style="width: 75%"><b>Siguiente Etapa: </b><%= data[i].sigetapa%></p>
    					<p style="width: 25%"><b>OP N° </b><%= data[i].idordenproduccion%></p>
    				</div>
    			</div>
                <button style="margin-top: 10px;" class="btn btn-success" data-cantidad="<%=data[i][etapaactual]%>" onclick="setmodal(this)" data-id="<%=data[i].idproduccion%>" data-sgt_etapa="<%=data[i].nextstep%>" data-sigetp="<%= data[i].sigetapa%>" data-toggle="modal" data-target="#send_step">
                  Enviar produccion</button>
	        </div>
    	</div>
	<%}}%>
</div>
<script type="text/javascript">
	


	function setmodal(yo){
	    $("#prod_id").val($(yo).data('id'));
        $("#sgt_etapa").val($(yo).data('sgt_etapa'));
        $("#sendnum").attr('max',$(yo).data('cantidad'));
        $(".totalSend").html("/ "+$(yo).data('cantidad'));
        $(".p-sigetp").html("<b>Siguiente etapa: </b> "+$(yo).data('sigetp'));
		console.log($(yo).data('sgt_etapa'));
	}

  function make_faena(){
                
                $.ajax({
                    type: 'GET',
                    url: 'faena/render_proceso/'+$("#thisetapa").val(),
                    success: function(data){
                        $("#page-wrapper").html(data);
                        $.ajax({
                            type: 'GET',
                            url: 'faena/render_notificaciones/'+$("#thisetapa").val(),
                            success: function(data){
                                $(".notificaciones").html(data);
                                //$(".badge-notificaciones").html($(".open-notif").data('cant'));
                            }
                        });
                    }
                });

        }




	/*$(".send-tofaena").on('click', function(e){
		e.preventDefault();
    $.ajax({
      type: 'POST',
      url: 'faena/startProduccion',
      data: {
          'idproduccion':$("#idordenproduccion").val() ,
          'cantidad': $("#cantidadEnviar").val(), 
          'etapa': $("#stationFaena").val(), 
          'idproducido':  $("#idproducido").val()
      },
      success: function(data){
        alert(data);
      }
    });
	});*/
</script>