<%if(data.length>0){%>
<table class="table table-striped" id="tabla_op">
    <thead>
    <tr>
        <th>Detalle</th>
        <th>Aleación</th>
        <th style="text-align: center;">Por enviar</th>
        <th>A Enviar</th>
        <th>Programar</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <%
    for(var i=0; i< data.length; i++){
    %>
    <tr>
        <td><%=data[i][1]%></td>
        <td><%=data[i][3]%></td>
        <td style="text-align: center;"><%=data[i][2]%></td>
        <td><input type="number" min="1" max="<%= data[i][2]%>" name="cants" id="inpt<%=data[i][0]%>" class="form-control valor_cant" data-cant='<%=data[i][2]%>' required></td>
        <td><input type="date" name="programDate" class="form-control"></td>
        <td><div class="btn btn-danger" id="delProd" data-idf="<%= data[i][0]%>" onclick="delProd(this)"><i class="fa fa-close"></i></div></td>
    </tr>
    <%}%>
    </tbody>
</table>
<%}else{%>
 <table class="table table-striped" id="session_prod">
                <thead>
                <tr>
                    <th>Detalle</th>
                    <th>Restantes</th>
                    <th>Enviar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>No hay productos añadidos</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
<%}%>
