    <table class="table table-striped table-hover">
    <%
        function formatDate(date){
             var meses = [
             "Enero", "Febrero", "Marzo",
             "Abril", "Mayo", "Junio", "Julio",
             "Agosto", "Septiembre", "Octubre",
             "Noviembre", "Diciembre"];
              var dia = date.getDate();
              var mes = date.getMonth();
              var yyy = date.getFullYear();
              return dia + ' de ' + meses[mes] + ' de ' + yyy;
        }
    %>
    <thead>
    <tr>
                            <th>N° OP</th>
                            <th>Cantidad</th>
                            <th>Tipo</th>
                            <th>Unidad</th>
                            <th>Fecha</th>
                        </tr>
    </thead>
    <tbody>
           <%if(data.length){
           var clase = '';
           for(var i = 0;i< data.length;i++){                    
                    if(data[i].ingreso){
                        clase = 'danger';
                    }else{
                        clase = 'success';
                    } 
           %>       
                <tr  id="c<%= data[i].idmaterial%>" class="<%=clase%>">
                    <td>OP N°<%= data[i].idop%></td>
                    <td><%= data[i].cantidad%></td>
                    <td>
                       <%if(data[i].ingreso){%>
                           Devolución
                       <%}else{%>
                            Despacho
                       <%}%> 
                    </td>
                    <td><%= data[i].u_medida%></td>
                    <td><%= new Date(data[i].fecha).toLocaleString()%></td>
                </tr>
            <%}}%>
    </tbody>
    </table>