<%
function numberFormat(numero){
    var resultado = "";
    if(numero[0]=="-")
    {
        nuevoNumero=numero.replace(/\./g,'').substring(1);
    }else{
        nuevoNumero=numero.replace(/\./g,'');
    }
    if(numero.indexOf(",")>=0)
        nuevoNumero=nuevoNumero.substring(0,nuevoNumero.indexOf(","));

    for (var j, i = nuevoNumero.length - 1, j = 0; i >= 0; i--, j++)
        resultado = nuevoNumero.charAt(i) + ((j > 0) && (j % 3 == 0)? ".": "") + resultado;
    if(numero.indexOf(",")>=0)
        resultado+=numero.substring(numero.indexOf(","));
    if(numero[0]=="-")
    {
        return "-"+resultado;
    }else{
        return resultado;
    }
}
%>
<style type="text/css">
        /* Formateamos el label que servirá de contenedor */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
     
    /* Ocultamos el checkbox html */
    .switch input {
      display:none;
    }
     
    /* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
     
    /* Pintamos la perilla de control o slider usando el selector before */
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
     
    /* Cambiamos el color de fondo cuando el checkbox esta activado */
    input:checked + .slider {
      background-color: blue;
    }
     
    /* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
     
    /* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
    .slider.round {
      border-radius: 34px;
    }
     
    .slider.round:before {
      border-radius: 50%;
    }
</style>
<div style="overflow: hidden; width: 100%">
    <div style="display: flex; margin-top: 20px;"  class='changeScreen'>
        <label class="switch">
          <input type="hidden" class="state" value="1">
          <input type="checkbox" checked>
          <div class="slider round"></div>
        </label>
        <h4 style="vertical-align: sub; margin-left: 10px"><small style="font-size: 20px"> Ver por Factura</small></h4>
    </div>
    <div class="lienzo" style="display: flex; width: 200%; transition: 0.1s;">
        <div class="panel-group table-fact" style="display:none;width: 0%; position: relative; margin-top: 2%; max-height: 500px; overflow-y: scroll;">
            <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>N° Factura</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Moneda</th>
                    <th>Proveedor</th>
                  </tr>
                </thead>
                <tbody>
                <%if(fact.length){
                    for(var e=0; e < fact.length; e++){%>
                        <tr class="factura-item" data-idfactura='<%= fact[e].idfactura%>' data-numfac='<%= fact[e].numFactura%>' data-sigla='<%= fact[e].sigla%>'  data-razon='<%= fact[e].razon%>' data-coment='<%= fact[e].coment%>' data-numoda = '<%= fact[e].numoda%>' data-fecha='<%= fact[e].fecha%>' style='cursor: pointer;'>
                          <td><%=fact[e].numFactura%></td>
                          <td><%=fact[e].detalle%></td>
                          <td><%= numberFormat(fact[e].costo.toString())%></td>
                          <td><%=fact[e].moneda%></td>
                          <td><%=fact[e].sigla%></td>
                        </tr>
                    <%}
                }else{%>
                        <tr>
                          <td style="font-size: 20px; text-align: left;">Sin Facturas registradas</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                <%}%>
                </tbody>
            </table>
        </div>
        <div class="panel-group list-fact" style="width: 100%; position: relative; margin-top: 2%; max-height: 500px; overflow-y: scroll;">
            <form id="form-fact">
                <div class="col-md-offset-3 col-md-6 input-group" style="margin-bottom: 10px;margin-top: 10px;display: flex;">
                    <input style="width: 80%" id="fact-num" type="text" class="form-control" placeholder="N° Factura / N° OCA" tabindex="1">
                    <button style="width: 10%" type="button" class="input-group-addon btn" tabindex="2" onclick="submitFormFact()"><i class="glyphicon glyphicon-search"></i></button>
                    <button style="width: 10%" type="button" class="btn input-group-addon" tabindex="3" onclick="render_all_fact()"><i class="glyphicon glyphicon-refresh"></i></button>
                </div>
            </form>
            <div class="listado">
              <%
              if(data.length){
                  for(var i = 0; i< data.length;i++){
                      %>
              <div class="col-md-6 col-md-offset-1 list-group factura" style="margin: 0; padding: 1%">
                  <div class="dropdown" style="position: absolute; top: 15px; right: 15px; z-index: 10">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                       <li><a>Ver PDF</a></li>  
                    </ul>
                  </div>
                <a href="#" class="list-group-item factura-item" data-idfactura='<%= data[i].idfactura%>' data-numfac='<%= data[i].numfac%>' data-sigla='<%= data[i].sigla%>'  data-razon='<%= data[i].razon%>' data-coment='<%= data[i].coment%>' data-numoda = '<%= data[i].numoda%>' data-fecha='<%= data[i].fecha%>'>
                  <h4 class="list-group-item-heading">Factura #<%= data[i].numfac%></h4>
                  <p class="list-group-item-text"><b>OCA:</b> <%= data[i].numoda%></p>
                  <p class="list-group-item-text"><b>Proveedor:</b> <%= data[i].sigla%></p>
                  <p class="list-group-item-text">Facturado el <%= [new Date(data[i].fecha).toLocaleDateString().split('-')[2],new Date(data[i].fecha).toLocaleDateString().split('-')[1],new Date(data[i].fecha).toLocaleDateString().split('-')[0] ].join('/')%></p>
                </a>
              </div>
                  <%}%>
              <%}else{%>
                  <h1 style="text-align: center; margin-top: 40px"> No hay Facturas registradas</h1>
              <%}%>
            </div>
                
        </div>
        <div class="infoPage" style="width: 100%; position: relative; ">
            
                
            <h3 class="page-header factura-numero">
                Factura #
                <i class="glyphicon glyphicon-chevron-left pull-right" onclick="desplazar_izquierda()"  style="size: 50%; cursor: pointer;"></i>
            </h3>
            <div class="well well-coment">
                
            </div>
            <div class="info-factura">
                
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    function changeScreen(){

        if($(".changeScreen").data('state') == 1){
            $(".list-fact").css('display', 'none');
            $(".list-fact").css('width', '0%');
            $(".table-fact").css('display', 'block');
            $(".table-fact").css('width', '100%');
            $(".changeScreen").data('state',0);
        }
        else{
            $(".table-fact").css('display', 'none');
            $(".table-fact").css('width', '0%');
            $(".list-fact").css('display', 'block');
            $(".list-fact").css('width', '100%');
            $(".changeScreen").data('state',1);
        }
    }

    $(".changeScreen").on('change', function(e){
        if($(".state").val() == '1'){
            $(".list-fact").css('display', 'none');
            $(".list-fact").css('width', '0%');
            $(".table-fact").css('display', 'block');
            $(".table-fact").css('width', '100%');
            $(".changeScreen .state").val('0');
        }
        else{
            $(".table-fact").css('display', 'none');
            $(".table-fact").css('width', '0%');
            $(".list-fact").css('display', 'block');
            $(".list-fact").css('width', '100%');
            $('.state').val('1');
        }
    });
    $(".factura-item").on('click', function(e){
        e.preventDefault();
        var idfactura = $(this).data('idfactura');
        var numfac = $(this).data('numfac');
        var coment = $(this).data('coment');
        var numoda = $(this).data('numoda');
        var razon = $(this).data('razon');
        var sigla = $(this).data('sigla');
        var fecha = $(this).data('fecha');
        $.ajax({
          type: 'GET',
          url: '/abastecimiento/fact_info_view/'+idfactura,
          success: function(data){
                $(".well-coment").html('Proveedor: '+sigla+' - '+razon+' <br> <span>'+coment+'</span>');
                $(".factura-numero").html("Factura #"+numfac+" <small>OCA N°"+numoda+" - Facturado el "+new Date(fecha).toLocaleDateString()+"</small><i class='glyphicon glyphicon-chevron-left pull-right' onclick='desplazar_izquierda()'  style='size: 50%; cursor: pointer;'></i>");
                $(".info-factura").html(data);
                desplazar_derecha();
          }
        });
    });


    function desplazar_derecha(){
        $(".lienzo").css('margin-left','-100%');
    }

    function desplazar_izquierda(){
        $(".lienzo").css('margin-left','0%');
    }
    function submitFormFact(){
        //e.preventDefault();
        $.ajax({
            type: 'POST',
            data: {info: $("#fact-num").val()},
            url: '/abastecimiento/search_fact',
            beforeSend: function(){
            },
            success: function(data){
                $(".list-fact .listado").html(data);
            }
        });

   }

</script>
