
<h1>
    <!--<p class="pull-right ayuda" href="#help" data-toggle="collapse"  aria-expanded="true" aria-controls="help"><i class="fa fa-info-circle"></i></p>-->
</h1>
<style type="text/css">
  .setCC{
    cursor: pointer;
  }
</style>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js" type="text/javascript"></script>
<%
    function toFixed(num, fixed) {
        var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
        return num.toString().match(re)[0];
    }
    function eliminarDiacriticos(texto) {
        return texto.normalize('NFD').replace(/[\u0300-\u036f]/g,"");
    }
    %>
<div id="help" class="panel-collapse collapse" role="tabpanel" aria-labelledby="help" style="margin: 0 5%;background-color: rgb(202,202,202);">
  <p style="padding: 20px;font-style: italic;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p> 
</div>
<div class="row" style="margin: 0 ;padding-top: 0;margin-right: 2%;margin-left: 2%;background-color: white; height: 100%;">
  <div class="col-md-12 panel-creacion" style="margin-top: 20px">
    <div class="panel panel-primary cargando-panel" style="display: none;">
      <div class="panel-heading">
        <div style="width: 100%;text-align: center;">
          <img style="width: 25%" src="/loading.gif">
        </div>
      </div>
    </div>
    <div class="guardado_automatico" style="width: 100%;height: 20px" style="display: none;"></div>
    <form id="send_of">
      <div class="panel panel-primary panel-defecto">
        <div class="panel-heading" style="display: flex">
          <div style="width: 45%">
            <h3>Orden de Compra: #<%=last%></h3>
            <div style="display: flex">
              <button class="btn btn-primary" onclick="saveState(false)"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
              <button class="btn btn-primary" onclick="loadState(false)"><i class="glyphicon glyphicon-floppy-open"></i> Cargar</button>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li data-toggle="modal" data-target="#SaveOdaModal"><a href="#">Guardar Como Plantilla</a></li>
                  <li data-toggle="modal" data-target="#LoadOdaModal" onclick="renderPlantillasModal()"><a href="#">Cargar Plantilla</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div style="width: 20%">
            <label>Proveedor: </label>
            <div class='predic_text' onkeyup='getPredictions(this)'> 
              <input type='text' class="form-control" name='prov' autocomplete='off' required>
            </div>
          </div>
          <div style="width: 30%; margin-left: 2%">
            <label>Moneda: </label>
            <select class="form-control" name="money" id="money">
              <option value="usd">Dolares (USD)</option>
              <option value="eur">Euro (EUR)</option>
              <option value="clp" selected>Pesos Chilenos (CLP)</option>
              <option value="gbp">Libra (GBP)</option>
            </select>
          </div>
        </div>
        <div style="overflow-y: scroll; max-height: 300px;">
          <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped">
            <thead>
              <tr>
                <th class="hidden">F. Directa</th>
                <th>Exento</th>
                <th>Descripción</th>
                <th style="text-align: center">U.C.</th>
                <th>Cantidad</th>
                <th>Precio x Unidad</th>
                <th>Total</th>
                <th>C.C.</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="session_fabrs">

            </tbody>
          </table>
        </div>
        <div class="panel-footer">
            <h4 style="margin-top: 0">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <div class="total-neto"><small>Neto: </small></div>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <div class="total-iva"><small>IVA: </small></div>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <div class="total-total"><small>Total: </small></div>
                    </div>
                </div>
            </h4>
          <div style="width: 100%;text-align: center; cursor: pointer; margin-bottom: 5px"><a data-toggle="collapse" data-target="#generalInfo"><b>Información general <i class="fa fa-caret-down desp-arrow"></i></b></a></div>
          <div class="collapse" id="generalInfo">
            <div class="form-group" style="display: flex; width: 100%">
              <div style="display: none;">
                <label for="cuent">Cuenta:</label>
                <!--<input type="text" class="form-control" id="cuent" name='cuent'>-->
                <select type="text" class="form-control" id="cuent" name="cuent">
                  <%for(var e=0; e < subc.length; e++){%>
                    <option value="<%=subc[e].subcuenta%>"><%=subc[e].subcuenta%></option>
                  <%}%>
                    <option value="pordefinir">Por Definir</option>
                </select>
              </div>
              <div style="width: 50%; display: none">
                <label for="dest">Destino:</label>
              </div>
            </div>
            <div class="form-group" style="display: flex; width: 100%">
              <div style="width: 33%">
                <label for="plae">Plazo de entrega:</label>
                <input type="date" class="form-control" id="plae" name="plae" required>
              </div>
              <div style="width: 33%">
                <label for="pag">Forma de pago:</label>
                <input type="text" class="form-control" id="pag" name="pag">
              </div>
              <div style="width: 33%">
                <label for="entr">Lugar de entrega:</label>
                <select type="text" class="form-control" id="entr" name="entr">
                  <option value="siderval">Bodega Siderval</option>
                  <option value="proveedor">Bodega Proveedor</option>
                  <option value="Por definir">Por definir</option>
                </select>
              </div>
            </div>
            <div class="form-group" style="display: flex;">
              <div style="width: 50%">
                <label for="obs">Observaciones:</label>
                <input type="text" class="form-control" id="obs" name="obs">
              </div>                  
              <div style="width: 50%">
                <label for="desc">Descuento (%):</label>
                <input type="number" class="form-control descView" id="desc" name='desc' onkeyup="refreshAllCost()">
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-1 col-md-offset-11" style="padding: 0">
              <input type="text" name="nroordenfabricacion" id="num" style="width:80%; display: none" placeholder="N° Orden de Compra / N° Orden de Venta" class="form-control" value="<%=last%>" required>
              <button class="btn btn-success" style="width: 80px" id="of_submit">Crear</button>
              <div class="contenedor" style="overflow: hidden;height: 0; width: 100%; align-content: center;"><h4 class="mensaje" style="text-align: center;"></h4></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#buscador" aria-controls="home" role="tab" data-toggle="tab">Buscador</a></li>
          <li><a href="#segunOF" aria-controls="home" role="tab" data-toggle="tab">Ordenes de Fabricación</a></li>
      </ul>
    <div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane panel panel-primary active" id="buscador">
            <div class="panel-heading" style="display: flex;">
                <h3 style="width: 50%">
                    Añadir Productos
                </h3>
                <div style="width: 50%; ">
                    <div>
                        <label class="pull-right">Buscar:<input type="search" class="form-control input-sm" id="buscadorDataTableProducto" placeholder=""></label>
                        <label class="form-inline" style="font-weight: normal; margin-left: 20px; margin-right: 20px; visibility: hidden">
                            <input type="checkbox" class="form-control" style="width: 20px; height: 20px; margin-top: 0;" name="showProd" id="showProd" onchange="refreshTableProduct()"> Mostrar Productos (Fundidos)
                        </label>
                    </div>
                    <div class="form-inline">
                        <label class="pull-right" style="font-weight: normal; margin-left: 20px; margin-right: 20px">
                            <input type="checkbox" class="form-control" style="width: 20px; height: 20px; margin-top: 0;" name="showProd" id="showProd" onchange="refreshTableProduct()"> Mostrar Productos (Fundidos)
                        </label>
                    </div>
                </div>
            </div>
          <div class="panel-body" style="padding: 0px !important;">
          <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" id="viewProductos" style="margin-top: 0px !important;">
            <thead>
              <tr>
                    <th>Descripción</th>
                    <th>Unidad de Medida</th>
                    <th>Stock Aviso</th>
                    <th>Stock Crítico</th>
                    <th>Unidad Mínima de Compra</th>
                    <th>Stock Actual</th>
                    <th>Precio</th>
                    <th></th>
              </tr>
            </thead>
            <tbody id="prefabrs">
                <% for(var t=0; t < mats.length; t++){%>
                    <tr>
                        <td data-search="<%=eliminarDiacriticos(mats[t].detalle)%>"><%= mats[t].detalle%></td>
                        <td style="text-align: center"><%= mats[t].u_medida%></td>
                        <td data-cs="0" class="parsear_nro" style="text-align: center"><%= mats[t].stock_i%></td>
                        <td data-cs="0" class="parsear_nro" style="text-align: center"><%= mats[t].stock_c%></td>
                        <td data-cs="0" class="parsear_nro" style="text-align: center"><%= mats[t].u_compra%></td>
                        <td data-cs="0" class="parsear_nro" style="text-align: center"><%= mats[t].stock%></td>
                        <%if(mats[t].precio == null || mats[t].precio == 8888){%>
                            <td style="text-align: center"> - </td>
                        <%}else{%>
                            <td data-cs="0" class="parsear_nro" style="text-align: center"><%= mats[t].precio%></td>
                        <%}%>
                        <td style="text-align: center">
                            <div class="btn-group">
                                <a data-idm="<%= mats[t].idmaterial%>" class="btn btn-success btn-xs" onclick="add_prefabr(this)"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                <%}%>
            </tbody>
          </table>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="segunOF">
          <div class="panel panel-info" style="margin-bottom: 0px !important;">
            <div class="panel-heading">
              <div style="display: flex; padding-left: 30px">
                  <div>
                      <input type="checkbox" id="of-fin" value="off"> Mostrar OF finalizada<br>
                      <label class="pull-right">Buscar:<input type="search" class="form-control input-sm" id="buscadorDataTableOF" placeholder=""></label>
                  </div>
              </div>
                <script>
                    $("#of-fin").on('change', function(e){
                        e.preventDefault();
                        if( $(this).is(':checked') ) {
                            alert('Seleccionado');
                            $(".encurso").removeClass('hidden');
                        }else{
                            alert('no');
                            $(".encurso").addClass('hidden');

                        }
                    });

                </script>
            </div>
          </div>
          <div class="panel-body renderizar_ofs" style="padding: 0 !important;">
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>
<div  class="hidden form-pdf" style="display: none" ></div>




<!-- Modal Guardar Plantilla de ODA-->
<div id="SaveOdaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Guardar como Plantilla</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="namePlant" style="width: 100%;">
                        Ingrese nombre:
                        <input type="text" id="namePlant" class="form-control">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveState(true)">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal Cargar Plantilla de ODA-->
<div id="LoadOdaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Seleccionar Plantilla</h4>
            </div>
            <div class="modal-body panel-body grid-plantillas">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="loadState(true)">Selecccionar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
<style type="text/css">
    .predic_text div{  
        background-color: white;
        /*border: dotted 1px black;*/
        position: absolute;
        z-index: 10;
        color: black;
    }
    .predic_text input{
        color: black;
        width: 100%;
    }
</style>
<script>



    var productosTable = $('#viewProductos').DataTable({
        "lengthChange": false,
        "paging": true,
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });

    $("#viewProductos_filter").parent().parent().addClass('hidden');
    $("#viewProductos_wrapper").css('margin-top', '0px !important');

    $('#buscadorDataTableProducto').keyup(function(){
        productosTable.search($(this).val()).draw() ;
    });


    function refreshTableProduct(){
        $.ajax({
            type: 'GET',
            url: '/abastecimiento/refreshProductWhitP/'+$("#showProd").is(':checked'),
            beforeSend: function(){
                $('#viewProductos').DataTable().destroy();
                $('#viewProductos').html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
            },
            success: function(data){
                $('#viewProductos').html(data);
                productosTable = $('#viewProductos').DataTable({
                    "lengthChange": false,
                    "paging": true,
                    "language": {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
                $("#viewProductos_filter").parent().parent().addClass('hidden');
                $("#viewProductos_wrapper").css('margin-top', '0px !important');
            }
        })
    }

    function moveArrow(){
        $(".desp-arrow").css('transform', 'rotate(180deg)');
    }
    function getPredictions(yo){
      if($(yo).children('input').val()!=''){
             $.ajax({
                  type: 'GET',
                  url: '/plan/get_client_pred/'+$(yo).children('input').val(),
                  success: function(data){
                      $(yo).children('div').css('width', $(yo).width()+"px");
                      $(yo).children('div').html(data);
                  }
              });
      }
      else{
          $(yo).children('div').html('');
      }
    }
  function refresh(){
      var data ={};
      data.det = $("#det").val();
      data.prod = $("#showProd").is(':checked');
      $.ajax({
          type: 'POST',
          data: data,
          url: '/abastecimiento/buscar_matp',
          success: function(data){
              $("#prefabrs").html(data);
              //$("#caract").val('0');
          }
      });

  }
  function add_prefabr(yo) {
      var items = 0;
      $("#session_fabrs tr").each(function(){
        items++;
      });
      $(yo).data('items', items);
      $.ajax({
          type: 'POST',
          data: $(yo).data(),
          url: '/abastecimiento/addsession_prepeds',
          success: function(data){
              $("#session_fabrs").append(data);
          }
      });
  }
  function drop(yo){
      $(yo).closest('tr').remove();
       refreshAllCost();
  }
    

   /*$("#send_of").submit(function(e){
      e.preventDefault();
      alert("enviando");
      lista = $(this).serializeArray();
      var data = {
          idm: [],
          idp: [],
          fechas: [],
          cants: [],
          cliente: $("#cliente").val(),
          prov: [],
          costo: [],
          ex_iva: [],
          centroc: []
      }

      console.log(lista);
      for(var i =0;i<$(this).serializeArray().length;i++){
          if(lista[i].name != 'nroordenfabricacion' && lista[i].name != 'entr' && lista[i].name != 'pag' && lista[i].name != 'plae' && lista[i].name != 'dest' && lista[i].name != 'obs' && lista[i].name != 'cuent' && lista[i].name != 'money' && lista[i].name != 'desc' && lista[i].name != 'exento' ){
              //console.log(lista[i].name);
              data[lista[i].name].push(lista[i].value);
          } else{
              //console.log(lista[i].name);
              data[lista[i].name] = lista[i].value;
          }
      }
      data.ex_iva = [];
      $("#send_of :checkbox").each(function(){
          if($(this).is(':checked')){
            data.ex_iva.push('on');
          }
          else{
            data.ex_iva.push('off');
          }
          //console.log($(this).val());
      });
      console.log(data);
      if(confirm("¿Esta segúro que desea crear la OC?")){
      $.ajax({
          type: 'POST',
          data: data,
          url: '/abastecimiento/crear_oda',
          success: function(data){
              if(data == 'error'){
                  alert("La OC que esta intentando crear es inválida.");
              } else {
                  alert("La OC fue creada exitosamente.");
                  $(".hidden").html("<form method='POST' action='/plan/view_ordenpdf_first' target='_blank'><input type='hidden' name='idoda' value='"+data+"'></form>");
                  $(".hidden form").submit();

                  setTimeout(function(){
                      location.reload();
                  }, 1000);
              }
          }
      });
      }
  });*/

  function renderInsumos(idof){
   //alert("AJAX");
   $.ajax({
     type: 'GET',
     url: '/abastecimiento/get_insumos_of/'+idof,
     success: function(data){
         if(data == 'err'){
           alert("Ha ocurrido un error al obtener los insumos.");
         }
         else{
           //alert(data);
           $("#ins"+idof).html(data);
         }
     }
   });
  }

   function selectCC(yo){
      //alert($(yo).parent('td').children('input').val());
      $("#auxCC").val($(yo).parent('td').children('input').attr('id'));
   }


   function saveState(plantilla){
       var lista = $("#send_of").serializeArray();
       var data = {
           idm: [],
           cants: [],
           prov: [],
           costo: [],
           ex_iva: [],
           centroc: []
       }
       for(var i =0;i<lista.length;i++){
           if(lista[i].name != 'nroordenfabricacion' && lista[i].name != 'entr' && lista[i].name != 'pag' && lista[i].name != 'plae' && lista[i].name != 'dest' && lista[i].name != 'obs' && lista[i].name != 'cuent' && lista[i].name != 'money' && lista[i].name != 'desc' && lista[i].name != 'exento' ){
               data[lista[i].name].push(lista[i].value);
           } else{
               data[lista[i].name] = lista[i].value;
           }
       }
       data.ex_iva = [];
       $("#send_of .ex_iva").each(function(){
           if($(this).is(':checked')){
             data.ex_iva.push('on');
           }
           else{
             data.ex_iva.push('off');
           }
       });
       data.plantilla = plantilla;
       data.namePlant = $("#namePlant").val();
       $.ajax({
           type: 'POST',
           data: data,
           url: '/abastecimiento/saveStateODABD',
           beforeSend: function(xhr){
               //alert("Guardando!!");

               $(".guardado_automatico").text("Guardando estado de ODA ...");
           },
           success: function(data){
               //alert("Estado de OC guardado");
               $(".guardado_automatico").text("Guardado por ultima vez: "+ new Date().toLocaleString());

           }
       });

   }

   function loadState(plantilla){
        /*
        * EL CONTROLADOR ACEPTA plantilla (booleano que indica si se esta cargando un plantilla o no)
        *  Y idplant (id de plantilla en el caso de utilizar una). SI plantilla ES false ENTONCES SE CARGA
        *  EL ULTIMO ESTADO GUARDADO.
        * */
       $.ajax({
           type: 'POST',
           data: {plantilla: plantilla, idplant: $(".select-plant").data('id')},
           url: '/abastecimiento/loadStateODABD',
           beforeSend: function(xhr){
               $(".guardado_automatico").css('display', 'none');
               $(".panel-defecto").css('display', 'none');
               $(".cargando-panel").css('display', 'block');

               setTimeout(function(){  }, 1000);
           },
           success: function(data){

               var text = $(".guardado_automatico").text();
               $(".panel-creacion").html(data);
               $(".guardado_automatico").text(text);
           }
       });
   }


   $(document).ready(function(){
     loadState(false);
     $.ajax({
         type: 'GET',
         url: '/abastecimiento/visualizar_ofs',
         success: function(data){
             $(".renderizar_ofs").html(data)
         }
     });
   });

   function renderPlantillasModal(){
      $.ajax({
          type: 'GET',
          url: '/abastecimiento/show_plantillas',
          success: function(data){
              $(".grid-plantillas").html(data);
          }
      });
  }
</script>