    <%
      function fechaLatina(date){
          return date.split('-')[2]+'-'+date.split('-')[1]+'-'+date.split('-')[0];
      }
    %>
    <style>
        .segm-pill{
            margin-top: 10px;
        }
        .segm-pill li a{
            color: white;
        }
        .segm-pill li:hover a{
            color: rgb(98, 101,103) !important;
        }
        .segm-pill li.active a{
            color: rgb(98, 101,103) !important;
        }
    </style>
    <div class="modal-content panel-primary">
        <div class="modal-header panel-heading" style="padding-bottom: 0px !important;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Orden de Compra: #<%=last%> <small style="color: white">Cliente : <%= data[0].client%></small> </h4>
            <ul class="nav nav-tabs segm-pill">
                <li style="color: white" class="active"><a data-toggle="tab" href="#peds">Pedidos</a></li>
                <li><a data-toggle="tab" href="#infog" style="color: white">Información General</a></li>
            </ul>
        </div>
        <div class="modal-body sliderModal" style="overflow: hidden; width: 100%; padding: 0; margin: 0px !important; position:relative;">
            <div style="margin: 0; width: 100%; display: flex; transition: 0.5s">
                <div style="width: 100%;">
                    <div class="tab-content">
                        <div id="peds" class="tab-pane fade in active">
                            <div style="max-height: 300px; overflow-y: scroll; padding: 0; width: 100%">
                                <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="margin: 0 !important;">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th style="text-align: center;">U. Compra</th>
                                        <th>Pedidos</th>
                                        <th>Unidades</th>
                                        <th>Costo</th>
                                        <th>Total</th>
                                        <th>C.C.</th>
                                        <th>Exento</th>
                                        <!--<th>Abastecimiento</th>-->
                                    </tr>
                                    </thead>
                                    <tbody id="t<%= data[0].idodc%>">
                                    <%
                                    if(data[0].mat_token){
                                        console.log("data[0]");
                                        console.log(data[0]);
                                        data[0].mat_token = data[0].mat_token.split('@');
                                        data[0].date_token = data[0].date_token.split(',');
                                        data[0].cant_token = data[0].cant_token.split(',');
                                        data[0].idp_token = data[0].idp_token.split(',');
                                        data[0].idf_token = data[0].idf_token.split(',');
                                        data[0].uni_token = data[0].uni_token.split(',');
                                        data[0].ucompra_token = data[0].ucompra_token.split(',');
                                        data[0].ext_ped = data[0].ext_ped.split(',');
                                        data[0].bmi_ped = data[0].bmi_ped.split(',');
                                        data[0].cc = data[0].cc.split(',');
                                        console.log("data[0]");
                                        console.log(data[0]);
                                        for(var j = 0;j< data[0].mat_token.length;j++){%>
                                    <tr
                                            <%if(data[0].bmi_ped[j] === '1'){%>
                                                class="warning"
                                            <%}else if (data[0].ext_ped[j] === '1'){%>
                                                class="info"
                                            <%}else{%>
                                                class="success"
                                            <%}%>
                                            style="align-content: center;"
                                            data-content="Fecha de Entrega: <%=fechaLatina(new Date(data[0].date_token[j]).toLocaleDateString())%>"
                                            data-toggle="popover"
                                            data-placement="bottom">

                                    <td class="ped-hab">
                                            <input type="checkbox" name="hab" onchange="habInId(this)" class="check-ped">
                                            <input class="idped" type="hidden" name="idpedido" value="<%=data[0].idp_token[j]%>" disabled>
                                            <input class="idfab" type="hidden" name="idfabricaciones" value="<%=data[0].idf_token[j]%>" disabled>
                                        </td>
                                        <td><%= data[0].mat_token[j].substring(0,1).toUpperCase() + data[0].mat_token[j].substring(1,data[0].mat_token[j].lenght).toLowerCase()%></td>
                                        <td style="text-align: center;"><%= data[0].ucompra_token[j]%></td>
                                        <td class="td-cant">
                                            <!-- data[0].cant_token[j] ES fabricaciones.restantes-->
                                            <input type="number" class="form-control cant_compra cantCompraModal" name="cant_compra" value="<%= data[0].cant_token[j]%>" min="0" step="<%= data[0].ucompra_token[j]%>" disabled>
                                        </td>
                                        <td style="text-align: center;"><%= data[0].uni_token[j]%></td>
                                        <td class="td-costo td-money"><input class="form-control costo moneda key_money" type="float" name="costo" onkeyup="refreshAllCostModal()" disabled></td>
                                        <td class="costo-total"></td>
                                        <td class="td-cc"><input type="hidden" name="centroc" class="cc" id="extCC<%=j%>" disabled><a class="setCC" onclick='selectCCModal(this)' data-toggle="modal" data-target="#ccModal"><%= data[0].cc[j]%></a></td>
                                        <td class="td-ex"><input type="checkbox" name="ex_iva" class="checkEx" onchange="refreshAllCostModal()" disabled></td>
                                        <%if(data[0].bmi_ped[j] === '1'){%>
                                            <!--<td>BMI</td>-->
                                        <%}else if (data[0].ext_ped[j] === '1'){%>
                                            <!--<td>Proveedor</td>-->
                                        <%}else{%>
                                            <!--<td>Indefinido</td>-->
                                        <%}%>
                                    </tr>
                                    <%}
                                    }%>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th><b>Neto:</b></th>
                                        <th><b>IVA:</b></th>
                                        <th><b>Total:</b></th>
                                        <th></th>
                                        <th></th>
                                        <!--<th></th>-->
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="total-neto-modal">0</td>
                                        <td class="total-iva-modal">0</td>
                                        <td class="total-total-modal">0</td>
                                        <td></td>
                                        <td></td>
                                        <!--<td></td>-->
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="form-group" style="display: flex; width: 100%; margin-top: 15px; padding: 10px">
                                <div style="width: 100%;">
                                    <label>Moneda: </label>
                                    <select class="form-control" name="money" id="money" onchange="conversor(this)">
                                        <option value="usd">Dolares (USD - $)</option>
                                        <option value="eur">Euro (EUR - &euro;)</option>
                                        <option value="clp" selected>Pesos Chilenos (CLP - $)</option>
                                        <option value="gbp">Libra (GBP - &pound;)  </option>
                                    </select>
                                </div>
                                <div style="width: 50%">
                                    <label for="dest">Descuento (%):</label>
                                    <input type="number" class="form-control descModal" id="desc" name='desc' placeholder="Ej: 20" max="100" onkeyup="refreshAllCostModal()">
                                </div>
                            </div>

                            <div class="pull-right" style="margin: 0px 10px 10px 0px;">
                                <button type="button" class="btn btn-primary btn-xs sig-canv">Continuar &raquo;</button>
                            </div>
                        </div>
                        <div id="infog" class="tab-pane fade" style="padding: 10px">
                            <div style="width: 100%">
                                <!--<div class="form-group" style="width: 100%">
                                    <label for="prov">Seleccione Proveedor:</label>
                                    <select class="form-control" name="prov" onchange="setPago(this)">
                                        <#for(var t=0; t < provs.length; t++){#>
                                        <option value="<%#provs[t].idcliente%>@<%#provs[t].pago%>"><%#provs[t].sigla%> - <%#provs[t].razon%></option>
                                        <#}#>
                                    </select>

                                </div>-->

                                <div class="form-group" style="width: 100%">
                                    <ul class="selector-buscador" role="navigation">
                                        <input type="hidden" id="cliente" value="0" name="prov" onchange="setPago(this)">
                                        <li class="dropdown"> <a href="#" id="drop2" style="color: black" role="button" class="dropdown-toggle" data-toggle="dropdown">Seleccionar Cliente<b class="caret caret-select"></b></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2" style="width: 100%">
                                                <li role="presentation" id><a role="menuitem" tabindex="-1" href="#"><input class="form-control" type="text" id="other"></a></li>
                                                <%for(var e=0; e < cli.length; e++){%>
                                                <li class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="<%=cli[e].idcliente%>"><%=cli[e].sigla%> - <%=cli[e].razon%></a></li>
                                                <%}%>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p style="width: 100%; padding-left: 20px" id="cliente-caret">No seleccionado</p>
                                    <style>
                                        .selector-buscador{
                                            margin-left: 0;
                                            margin-bottom: 20px;
                                            list-style: none;
                                            width: 100%;
                                        }

                                        .selector-buscador ul, ol {
                                            padding: 0;
                                            margin: 0 0 10px 25px;
                                        }

                                        .selector-buscador .dropup, .dropdown {
                                            position: relative;
                                        }
                                        .selector-buscador .dropup, .dropdown #drop2{
                                            color: white;
                                        }

                                        .selector-buscador .open>.dropdown-menu {
                                            display: block;
                                            max-height: 450px;
                                            width: 400px;
                                            overflow-y: scroll;
                                        }

                                        .selector-buscador>li>a {
                                            display: block;
                                        }

                                        .selector-buscador .dropdown-menu {
                                            position: absolute;
                                            top: 100%;
                                            left: 0;
                                            z-index: 1000;
                                            display: none;
                                            float: left;
                                            min-width: 160px;
                                            padding: 5px 0;
                                            margin: 2px 0 0;
                                            list-style: none;
                                            background-color: #ffffff;
                                            border: 1px solid #ccc;
                                            border: 1px solid rgba(0, 0, 0, 0.2);
                                            -webkit-border-radius: 6px;
                                            -moz-border-radius: 6px;
                                            border-radius: 6px;
                                            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                            -webkit-background-clip: padding-box;
                                            -moz-background-clip: padding;
                                            background-clip: padding-box;
                                        }

                                        .selector-buscador .dropdown-menu .divider {
                                            height: 1px;
                                            margin: 9px 1px;
                                            overflow: hidden;
                                            background-color: #e5e5e5;
                                            border-bottom: 1px solid #ffffff;
                                        }

                                        .selector-buscador .dropdown-menu>li>a {
                                            display: block;
                                            padding: 3px 20px;
                                            clear: both;
                                            font-weight: normal;
                                            line-height: 20px;
                                            color: #333333;
                                            white-space: nowrap;
                                        }
                                    </style>
                                    <script>
                                        var c = 0;
                                        $(".selector-buscador input").on('keyup', function(e){
                                            e.preventDefault();
                                            var valor = $(this).val();
                                            var res;
                                            $(".option-dropdown").addClass('hidden');
                                            $(".selector-buscador li a").each(function(){
                                                res = $(this).html().toUpperCase().includes(valor.toUpperCase());
                                                if(res){
                                                    $(this).parent().removeClass('hidden');
                                                }
                                            });
                                        });
                                        $(".option-dropdown a").on('click', function(e){
                                            e.preventDefault();
                                            $("#cliente").val($(this).data('value'));
                                            $("#cliente-caret").html($(this).html());
                                        });
                                    </script>
                                </div>

                                <div class="form-group" style="display: flex; width: 100%">

                                    <!--<div style="width: 33%">
                                    <label for="cuent">Cuenta:</label>
                                    <input type="text" class="form-control" id="cuent" name='cuent'>
                                    </div>-->
                                    <div style="width: 50%; display: none;">
                                        <label for="dest">Destino:</label>
                                        <input type="text" class="form-control" id="dest" name='dest'>
                                    </div>
                                    <!--<div style="width: 50%">
                                    <label for="dest">Descuento (%):</label>
                                    <input type="number" class="form-control descModal" id="desc" name='desc' placeholder="Ej: 20" onkeyup="refreshAllCostModal()">
                                    </div>-->
                                </div>
                                <div class="form-group" style="display: flex; width: 100%">
                                    <div style="width: 33%">
                                        <label for="plae">Plazo de entrega:</label>
                                        <input type="date" class="form-control" id="plae" name="plae" required>
                                    </div>
                                    <div style="width: 33%">
                                        <label for="pag">Forma de pago:</label>
                                        <input type="text" class="form-control" id="pag" name="pag" placeholder="Ej: Factura">
                                    </div>
                                    <div style="width: 33%">
                                        <label for="entr">Lugar de entrega:</label>
                                        <select type="text" class="form-control" id="entr" name="entr">
                                            <option value="siderval">Bodega Siderval</option>
                                            <option value="proveedor">Bodega Proveedor</option>
                                            <option value="Por definir">Por definir</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="display: flex;">
                                    <div style="width: 100%">
                                        <label for="obs">Observaciones:</label>
                                        <textarea class="form-control" id="obs" name="obs" style="width: 100%" cols="10" rows="2" charswidth="23" >
                        </textarea>
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <input type="text" name="nrodc" id="num" style="width:80%; display: none" placeholder="N° Orden de Compra / N° Orden de Venta" value="<%=last%>" class="form-control" required>
                                </div>
                            </div>
                            <div class="pull-right" style="margin: 0px 10px 10px 0px;">
                                <button type="button" class="btn btn-primary btn-xs atr-canv">&laquo; Atras</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary send-newOC">Enviar</button>
   		 <button type="button" class="btn btn-default cerrarNewOC" data-dismiss="modal">Cerrar</button>
	     <!--<button type="button" class="btn btn-default" onclick="showForm()">Show</button>-->
  </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover({ trigger: "hover" }); 
      });
        function setPago(yo){
          $("#odcForm #pag").val($(yo).val().split('@')[1]);
        }
    $(".atr-canv").on('click', function(e){
        e.preventDefault();
        $(".sig-canv").attr('disabled', false);
        $(this).attr('disabled', true);
        $('.segm-pill li a[href="#peds"]').tab('show');
    });
    $(".sig-canv").on('click', function(e){
        e.preventDefault();
        $(".atr-canv").attr('disabled', false);
        $(this).attr('disabled', true);
        $('.segm-pill li a[href="#infog"]').tab('show');
    });



    function habInId(yo){
        if($(yo).prop('checked')){
            $(yo).parent().parent().children('.td-cant').children('.cantCompraModal').removeAttr('disabled');
            $(yo).parent().parent().children('.td-costo').children('.costo').removeAttr('disabled');
            $(yo).parent().children('.idped').removeAttr('disabled');
            $(yo).parent().children('.idfab').removeAttr('disabled');
            $(yo).parent().parent().children('.td-ex').children('.checkEx').removeAttr('disabled');
            $(yo).parent().parent().children('.td-cc').children('.cc').removeAttr('disabled');
        }
        else{
            $(yo).parent().parent().children('.td-cant').children('.cantCompraModal').removeAttr('disabled', true);
            $(yo).parent().parent().children('.td-costo').children('.costo').attr('disabled', true);
            $(yo).parent().children('.idped').attr('disabled', true);
            $(yo).parent().children('.idfab').attr('disabled', true);
            $(yo).parent().parent().children('.td-ex').children('.checkEx').attr('disabled',true);
            $(yo).parent().parent().children('.td-cc').children('.cc').attr('disabled', true);
            
        }
        refreshAllCostModal();
    }

      function refreshAllCostModal(){
        var ex_iva = '';
        $("#odcForm .checkEx").each(function(){
            if($(this).parent().parent().children('.ped-hab').children('.check-ped').is(':checked') ){
              if($(this).is(':checked')){
                ex_iva += 'on@';
              }
              else{
                ex_iva += 'off@';  
              }
              //console.log($(this).val());
            }
        });
        ex_iva = ex_iva.substring(0, ex_iva.length-1);
        console.log(ex_iva);
        var auxc = 0;
        var auxm = 0;
        var total = 0;
        var iva = 0;
        var neto = 0;
        var count = 0;
        $(".costo-total").each(function(){
            if($(this).parent().children('.ped-hab').children('.check-ped').is(":checked")){
              console.log("PEDIDO HABILITADO");

              auxc = $(this).parent().children('.td-cant').children('.cant_compra').val();  
              //console.log($(this).parent().children('.td-money').children('.key_money').val().indexOf(','));
              if($(this).parent().children('.td-money').children('.key_money').val().indexOf(',') == -1){
                  //auxm = $(this).parent().children('.td-money').children('.key_money').val(); 
                  //if($(this).parent().children('.td-ex').children('.ex-iva').is(':checked')){
                  if(ex_iva.split('@')[count] == 'on'){
                      auxm = $(this).parent().children('.td-money').children('.key_money').val(); 
                  }
                  else{
                      //auxm = $(this).parent().children('.td-money').children('.key_money').val()*0.81;
                      auxm = $(this).parent().children('.td-money').children('.key_money').val();
                      //iva +=  $(this).parent().children('.td-money').children('.key_money').val()*auxc*0.19;
                      iva +=  auxm*auxc*0.19;
                  }
              }
              else{
                  //if($(this).parent().children('.td-ex').children('.ex-iva').is(':checked')){
                  if(ex_iva.split('@')[count] == 'on'){
                      console.log("EXENTO DE IVA");
                      auxm = $(this).parent().children('.td-money').children('.key_money').val().replace(',','.'); 
                  }
                  else{ 
                      //auxm = $(this).parent().children('.td-money').children('.key_money').val().replace(',','.')*0.81;
                      console.log("CON IVA");
                      auxm = $(this).parent().children('.td-money').children('.key_money').val().replace(',','.');
                      console.log(auxm*auxc*0.19);
                      iva +=  auxm*auxc*0.19;
                      //iva +=  $(this).parent().children('.td-money').children('.key_money').val().replace(',','.')*auxc*0.19; 
                  }
              }
              //console.log(auxm);   
              $(this).html((auxm*auxc).toLocaleString());
              neto += auxm*auxc;
              count++;
            }
        });
        //neto = neto - (($(".descModal").val()/100)*neto)
        total = neto + iva;
        total = total - (($(".descModal").val()/100)*total);
        $(".total-neto-modal").html(neto.toLocaleString());
        $(".total-iva-modal").html(iva.toLocaleString());
        $(".total-total-modal").html(total.toLocaleString());
      }
    </script>