<%
function fechaLatina(date){
    return date.split('-')[2]+'-'+date.split('-')[1]+'-'+date.split('-')[0];
}
%>
<div class="modal-content panel-primary">
    <div class="modal-header panel-heading" style="padding-bottom: 0px !important;" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Orden de compra: #<%=last%></h4>
        <ul class="nav nav-tabs segm-pill">
            <li class="active"><a data-toggle="tab" href="#peds">Pedidos</a></li>
            <li><a data-toggle="tab" href="#infog" style="color: white">Información General</a></li>
        </ul>
    </div>
    <div class="modal-body sliderModal" style="overflow: hidden; width: 100%; padding: 0; margin: 0px !important; position:relative;">
        <div style="margin: 0; width: 100%; display: flex; transition: 0.5s;">
            <div style="width: 100%;">
                <div class="tab-content">
                    <div id="peds" class="tab-pane fade in active">
                        <div style="max-height: 300px; overflow-y: scroll; padding: 0; width: 100%">
                            <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="margin: 0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th style="text-align: center;">U. Compra</th>
                                    <th>Pedidos</th>
                                    <th>Unidades</th>
                                    <th>Costo</th>
                                    <th>Total</th>
                                    <th>C.C.</th>
                                    <th>Exento</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if(data.length > 0){
                                for(var j = 0; j< data.length; j++){
                                    if( data[j].idmaterial_ext !== 0 ){%>
                                <tr style="align-content: center;" data-content="Fecha de Entrega: Indefinida" data-toggle="popover" data-placement="bottom">
                                    <td class="ped-hab">
                                        <input type="checkbox" name="hab" onchange="habInId(this)" class="check-ped">

                                        <input class="idprod" type="hidden" name="idproduccion" value="<%=data[j].idproduccion%>">
                                        <input class="idmat" type="hidden" name="idmaterial" value="<%=data[j].idmaterial_ext%>">
                                        <input class="idped" type="hidden" name="idpedido" value="<%=data[j].idpedido%>">
                                        <input class="idfab" type="hidden" name="idfabricaciones" value="<%=data[j].idfabricaciones%>">
                                    </td>
                                    <td><%= data[j].detalle_ext.substring(0,1).toUpperCase() + data[j].detalle_ext.substring(1,data[j].detalle_ext.length).toLowerCase()%></td>
                                    <td style="text-align: center;"><%= data[j].compra_ext%></td>
                                    <td class="td-cant"><input type="number" class="form-control cant_compra cantCompraModal" value="<%= cant[j]%>" min="<%= cant[j]%>" max="<%= cant[j]%>" step="<%= data[j].compra_ext%>" name="cantidad" disabled></td>
                                    <td style="text-align: center;"><%= data[j].medida_ext%></td>
                                    <td class="td-costo td-money"><input class="form-control costo moneda key_money" type="float" name="costo" onkeyup="refreshAllCostModal()" disabled></td>
                                    <td class="costo-total"></td>
                                    <td class="td-cc"><input type="hidden" name="centroc" class="cc" id="extCC<%=j%>" disabled><a class="setCC" onclick='selectCCModal(this)' data-toggle="modal" data-target="#ccModal">N.D.</a></td>
                                    <td class="td-ex"><input type="checkbox" name="ex_iva" class="checkEx" onchange="refreshAllCostModal()" disabled></td>
                                </tr>
                                <%}else{%>
                                <tr style="align-content: center;" data-content="Fecha de Entrega: Indefinida" data-toggle="popover" data-placement="bottom">
                                    <td class="ped-hab">
                                        <input type="checkbox" name="hab" onchange="habInId(this)" class="check-ped" disabled>

                                        <input class="idprod" type="hidden" name="idproduccion" value="<%=data[j].idproduccion%>">
                                        <input class="idmat" type="hidden" name="idmaterial" value="<%=data[j].idmaterial_ext%>">
                                        <input class="idped" type="hidden" name="idpedido" value="<%=data[j].idpedido%>">
                                        <input class="idfab" type="hidden" name="idfabricaciones" value="<%=data[j].idfabricaciones%>">
                                    </td>
                                    <td><%= data[j].detalle_ext.substring(0,1).toUpperCase() + data[j].detalle_ext.substring(1,data[j].detalle_ext.length).toLowerCase()%></td>
                                    <td style="text-align: center;"><%= data[j].compra_ext%></td>
                                    <td class="td-cant"><input type="number" class="form-control cant_compra cantCompraModal" value="<%= cant[j]%>" min="<%= cant[j]%>" max="<%= cant[j]%>" step="<%= data[j].compra_ext%>" name="cantidad" disabled></td>
                                    <td style="text-align: center;"><%= data[j].medida_ext%></td>
                                    <td class="td-costo td-money"><input class="form-control costo moneda key_money" type="float" name="costo" onkeyup="refreshAllCostModal()" disabled></td>
                                    <td class="costo-total"></td>
                                    <td class="td-cc"><input type="hidden" name="centroc" class="cc" id="extCC<%=j%>" disabled><a class="setCC" onclick='selectCCModal(this)' data-toggle="modal" data-target="#ccModal">N.D.</a></td>
                                    <td class="td-ex"><input type="checkbox" name="ex_iva" class="checkEx" onchange="refreshAllCostModal()" disabled></td>
                                </tr>
                                <%}}
                                }%>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th><b>Neto:</b></th>
                                    <th><b>IVA:</b></th>
                                    <th><b>Total:</b></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="total-neto-modal">0</td>
                                    <td class="total-iva-modal">0</td>
                                    <td class="total-total-modal">0</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="form-group" style="display: flex; width: 100%; margin-top: 15px">
                            <div style="width: 100%;">
                                <label>Moneda: </label>
                                <select class="form-control" name="money" id="money" onchange="conversor(this)">
                                    <option value="usd">Dolares (USD - $)</option>
                                    <option value="eur">Euro (EUR - &euro;)</option>
                                    <option value="clp" selected>Pesos Chilenos (CLP - $)</option>
                                    <option value="gbp">Libra (GBP - &pound;)  </option>
                                </select>
                            </div>
                            <div style="width: 50%">
                                <label for="dest">Descuento (%):</label>
                                <input type="number" class="form-control descModal" id="desc" name='desc' placeholder="Ej: 20" max="100" onkeyup="refreshAllCostModal()">
                                <input type="hidden" class="form-control" name='idnotif' value="<%= idnotificacion%>">
                            </div>
                        </div>
                    </div>
                    <div id="infog" class="tab-pane fade" style="padding: 10px">
                        <div style="width: 100%">
                            <div class="form-group" style="width: 100%">
                                <label for="prov">Seleccione Proveedor:</label>
                                <select class="form-control" name="prov" onchange="setPago(this)">
                                    <%for(var t=0; t < provs.length; t++){%>
                                    <option value="<%=provs[t].idcliente%>@<%=provs[t].pago%>"><%=provs[t].sigla%> - <%=provs[t].razon%></option>
                                    <%}%>
                                </select>

                            </div>

                            <div class="form-group" style="display: flex; width: 100%">

                                <!--<div style="width: 33%">
                                <label for="cuent">Cuenta:</label>
                                <input type="text" class="form-control" id="cuent" name='cuent'>
                                </div>-->
                                <div style="width: 50%; display: none;">
                                    <label for="dest">Destino:</label>
                                    <input type="text" class="form-control" id="dest" name='dest'>
                                </div>
                                <!--<div style="width: 50%">
                                <label for="dest">Descuento (%):</label>
                                <input type="number" class="form-control descModal" id="desc" name='desc' placeholder="Ej: 20" onkeyup="refreshAllCostModal()">
                                </div>-->
                            </div>
                            <div class="form-group" style="display: flex; width: 100%">
                                <div style="width: 33%">
                                    <label for="plae">Plazo de entrega:</label>
                                    <input type="date" class="form-control" id="plae" name="plae" required>
                                </div>
                                <div style="width: 33%">
                                    <label for="pag">Forma de pago:</label>
                                    <input type="text" class="form-control" id="pag" name="pag" placeholder="Ej: Factura">
                                </div>
                                <div style="width: 33%">
                                    <label for="entr">Lugar de entrega:</label>
                                    <select type="text" class="form-control" id="entr" name="entr">
                                        <option value="siderval">Bodega Siderval</option>
                                        <option value="proveedor">Bodega Proveedor</option>
                                        <option value="Por definir">Por definir</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="display: flex;">
                                <div style="width: 100%">
                                    <label for="obs">Observaciones:</label>
                                    <textarea class="form-control" id="obs" name="obs" style="width: 100%" cols="10" rows="2" charswidth="23" >
                            </textarea>
                                </div>
                            </div>
                            <div class="form-inline">
                                <input type="text" name="nrodc" id="num" style="width:80%; display: none" placeholder="N° Orden de Compra / N° Orden de Venta" value="<%=last%>" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary atr-canv">&laquo; Atras</button>
            <button type="button" class="btn btn-primary sig-canv">Siguiente &raquo;</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary send-newOC">Enviar</button>
        <button type="button" class="btn btn-default cerrarNewOC" data-dismiss="modal">Cerrar</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({ trigger: "hover" });
    });
    function setPago(yo){
        $("#odcForm #pag").val($(yo).val().split('@')[1]);
    }
    $(".atr-canv").on('click', function(e){
        e.preventDefault();
        $(".sig-canv").attr('disabled', false);
        $(this).attr('disabled', true);
        $('.segm-pill li a[href="#peds"]').tab('show');
    });
    $(".sig-canv").on('click', function(e){
        e.preventDefault();
        $(".atr-canv").attr('disabled', false);
        $(this).attr('disabled', true);
        $('.segm-pill li a[href="#infog"]').tab('show');
    });



    function habInId(yo){
        if($(yo).prop('checked')){
            $(yo).parent().parent().children('.td-cant').children('.cantCompraModal').removeAttr('disabled');
            $(yo).parent().parent().children('.td-costo').children('.costo').removeAttr('disabled');
            $(yo).parent().children('.idped').removeAttr('disabled');
            $(yo).parent().parent().children('.td-ex').children('.checkEx').removeAttr('disabled');
            $(yo).parent().parent().children('.td-cc').children('.cc').removeAttr('disabled');
        }
        else{
            $(yo).parent().parent().children('.td-cant').children('.cantCompraModal').removeAttr('disabled', true);
            $(yo).parent().parent().children('.td-costo').children('.costo').attr('disabled', true);
            $(yo).parent().children('.idped').attr('disabled', true);
            $(yo).parent().parent().children('.td-ex').children('.checkEx').attr('disabled',true);
            $(yo).parent().parent().children('.td-cc').children('.cc').attr('disabled', true);

        }
        refreshAllCostModal();
    }

    function refreshAllCostModal(){
        var ex_iva = '';
        $("#odcForm .checkEx").each(function(){
            if($(this).parent().parent().children('.ped-hab').children('.check-ped').is(':checked') ){
                if($(this).is(':checked')){
                    ex_iva += 'on@';
                }
                else{
                    ex_iva += 'off@';
                }
                //console.log($(this).val());
            }
        });
        ex_iva = ex_iva.substring(0, ex_iva.length-1);
        console.log(ex_iva);
        var auxc = 0;
        var auxm = 0;
        var total = 0;
        var iva = 0;
        var neto = 0;
        var count = 0;
        $(".costo-total").each(function(){
            if($(this).parent().children('.ped-hab').children('.check-ped').is(":checked")){
                console.log("PEDIDO HABILITADO");

                auxc = $(this).parent().children('.td-cant').children('.cant_compra').val();
                //console.log($(this).parent().children('.td-money').children('.key_money').val().indexOf(','));
                if($(this).parent().children('.td-money').children('.key_money').val().indexOf(',') == -1){
                    //auxm = $(this).parent().children('.td-money').children('.key_money').val();
                    //if($(this).parent().children('.td-ex').children('.ex-iva').is(':checked')){
                    if(ex_iva.split('@')[count] == 'on'){
                        auxm = $(this).parent().children('.td-money').children('.key_money').val();
                    }
                    else{
                        //auxm = $(this).parent().children('.td-money').children('.key_money').val()*0.81;
                        auxm = $(this).parent().children('.td-money').children('.key_money').val();
                        //iva +=  $(this).parent().children('.td-money').children('.key_money').val()*auxc*0.19;
                        iva +=  auxm*auxc*0.19;
                    }
                }
                else{
                    //if($(this).parent().children('.td-ex').children('.ex-iva').is(':checked')){
                    if(ex_iva.split('@')[count] == 'on'){
                        console.log("EXENTO DE IVA");
                        auxm = $(this).parent().children('.td-money').children('.key_money').val().replace(',','.');
                    }
                    else{
                        //auxm = $(this).parent().children('.td-money').children('.key_money').val().replace(',','.')*0.81;
                        console.log("CON IVA");
                        auxm = $(this).parent().children('.td-money').children('.key_money').val().replace(',','.');
                        console.log(auxm*auxc*0.19);
                        iva +=  auxm*auxc*0.19;
                        //iva +=  $(this).parent().children('.td-money').children('.key_money').val().replace(',','.')*auxc*0.19;
                    }
                }
                //console.log(auxm);
                $(this).html((auxm*auxc).toLocaleString());
                neto += auxm*auxc;
                count++;
            }
        });
        //neto = neto - (($(".descModal").val()/100)*neto)
        total = neto + iva;
        total = total - (($(".descModal").val()/100)*total);
        $(".total-neto-modal").html(neto.toLocaleString());
        $(".total-iva-modal").html(iva.toLocaleString());
        $(".total-total-modal").html(total.toLocaleString());
    }
</script>