<script src="parsear_nro.js" type="text/javascript"></script>
<div class="modal-dialog" role="document">
    <div class="modal-content panel-success">
        <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Guia de Despacho n° <%=info[1]%></h3>
            <h4 class="modal-title" style="text-align: right"><%=new Date(info[0]).toLocaleDateString()%> </h4>
        </div>
        <div class="modal-body" style="overflow-y: scroll; max-height: 300px">
            <table class="table" >
                <tr>
                    <th>Detalle</th>
                    <th>Solicitados</th>
                    <th>Recepcionados</th>
                    <th>Unidad</th>
                </tr>
                <tbody>
                <%for (var i = 0; i < guia.length; i++){%>
                    <tr>
                        <td><%=guia[i].detalle%></td>
                        <td class="parsear_nro"><%=guia[i].solicitados%></td>
                        <td class="parsear_nro"><%=guia[i].cantidad%></td>
                        <td><%=guia[i].u_medida%></td>
                    </tr>
                <%}%>
                </tbody>
                <tfoot>
                <td colspan="4" style="text-align: right"></td>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!-- Funcion para parsear nros -->
