<%
function fechaLatino(string){
    return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-')
}
%>
<style>
    .volver-tabla:hover{
        background-color: rgb(124,123,173);
        color: white;
        cursor: pointer;
    }
    .volver-tabla{
        position: relative;
        left: 10px;
        top: 10px;
        padding: 5px;
        border-radius: 25%;
    }
</style>
<div class="o_view_manager_content">
    <i class="fa fa-arrow-left volver-tabla" id="odaBack" onclick="volver_tabla()"></i>
    <div>
        <div class="o_form_view o_sale_order o_form_readonly">
            <div class="o_form_sheet_bg">
                <div class="o_form_sheet">
                    <div class="o_not_full oe_button_box">
                        <div class="o_field_one2many o_field_widget o_invisible_modifier" name="picking_ids"></div>
                        <button class="btn btn-sm oe_stat_button o_invisible_modifier">
                            <div class="fa fa-fw o_button_icon fa-truck"></div>
                            <div name="delivery_count" class="o_field_widget o_stat_info o_readonly_modifier">
                                <span class="o_stat_value">0</span>
                                <span class="o_stat_text">Entrega</span>
                            </div>
                        </button>
                        <button class="btn btn-sm oe_stat_button o_invisible_modifier">
                            <div class="fa fa-fw o_button_icon fa-pencil-square-o"></div>
                            <div name="invoice_count" class="o_field_widget o_stat_info o_readonly_modifier">
                                <span class="o_stat_value">0</span>
                                <span class="o_stat_text">Facturas</span>
                            </div>
                        </button>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col-md-7">
                            <h1 style="width: 100%; margin-top: 0"><span class="o_field_char o_field_widget o_readonly_modifier o_required_modifier" name="name">Orden de Compra N°<%=oda.idoda%> <a href="#"  onclick="setAnular(this)" data-val="<%=oda.idoda%>" data-nom="idoda" data-url="/abastecimiento/updOca/anular" data-cantMin="0" ><p class="text-danger text-right" style="font-size: small">- Anular</p></a></span></h1>
                        </div>
                        <div class="col-md-3" style="margin-left: 12.7%">
                            <h1 style="width: 100%; margin-top: 0">
                                <a class="pull-right" style="z-index: 10; margin-left: 10px;" data-numoda="<%= oda.idoda%>" data-idoda="<%= oda.idoda%>" onclick="verPdf(this)">
                                    <i data-toggle="tooltip" title="Ver PDF" class="fa fa-file-pdf-o"></i>
                                </a>
                                <a class="pull-right" style="z-index: 10; margin-left: 10px" href="/pdf/odc<%= oda.idoda%>.pdf" download="OCA<%= oda.idoda%>.pdf" data-numoda="<%= oda.idoda%>" data-idoda="<%= oda.idoda%>" download>
                                    <i data-toggle="tooltip" title="Descargar PDF" class="fa fa-download"></i>
                                </a>
                                <%if(user.nombre != 'siderval'){%>
                                    <a class="pull-right" style="margin-left: 10px" data-idoda="<%= oda.idoda%>" data-numoda="<%= oda.idoda%>" data-view="pagina" onclick="setFactuNum(this)">
                                        <i data-toggle="tooltip" title="Facturar" class="fa fa-money"></i>
                                    </a>
                                <%}%>
                                <% if (isRecep){ %>
                                <!--<a class="pull-right" style="margin-left: 10px" data-idoda="%= oda.idoda%" data-numoda="%= oda.idoda%" onclick="receiveAll(this)">
                                    <i data-toggle="tooltip" title="Recepcionar Todos" class="fa fa-cubes"></i>
                                </a>-->
                                <%}%>
                            </h1>
                        </div>
                    </div>
                    <div class="o_group">
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1066">Proveedor <a href="#updOcaModal" data-toggle="modal" ><p class="text-info" style="font-size: small"> <i class="fa fa-edit"></i>Editar</p></a></label>
                                </td>
                                <td style="width: 100%;">
                                    <a class="o_form_uri o_field_widget o_readonly_modifier o_required_modifier" href="#id=10&amp;model=res.partner" name="partner_id" id="o_field_input_1066"><%=oda.sigla%><br><%=oda.razon%>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1067" data-original-title="" title="">Dirección factura</label>
                                </td>
                                <td style="width: 100%;">
                                    <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=36&amp;model=res.partner" name="partner_invoice_id" id="o_field_input_1067">China Export, Jacob Taylor
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1068" data-original-title="" title="">Dirección de entrega
                                    </label>
                                </td>
                                <td style="width: 100%;">
                                    <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=36&amp;model=res.partner" name="partner_shipping_id" id="o_field_input_1068">China Export, Jacob Taylor
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="o_group o_inner_group o_group_col_12">
                                    <tbody>
                                    <tr>
                                        <td class="o_td_label">
                                            <label class="o_form_label o_invisible_modifier o_readonly_modifier o_form_label_empty" for="o_field_input_1069" data-original-title="" title="">Fecha de caducidad
                                            </label>
                                        </td>
                                        <td style="width: 100%;">
                                            <span class="o_field_date o_field_widget o_invisible_modifier o_readonly_modifier o_field_empty" name="validity_date"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="o_td_label">
                                            <label class="o_form_label o_readonly_modifier" for="o_field_input_1070" data-original-title="" title="">Fecha de Creación
                                            </label>
                                        </td>
                                        <td style="width: 100%;">
                                            <span class="o_field_date o_field_widget o_readonly_modifier" name="confirmation_date"><%=fechaLatino(new Date(oda.creacion).toLocaleDateString())%></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="o_td_label">
                                            <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1071" data-original-title="" title="">Tarifa
                                            </label>
                                        </td>
                                        <td style="width: 100%;">
                                            <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=1&amp;model=product.pricelist" name="pricelist_id" id="o_field_input_1071">Tarifa pública (CLP)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="o_td_label">
                                            <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1072">Moneda
                                            </label>
                                        </td>
                                        <td style="width: 100%;">
                                            <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=46&amp;model=res.currency" name="currency_id" id="o_field_input_1072">CLP
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="o_td_label">
                                            <label class="o_form_label o_form_label_empty" for="o_field_input_1073">Plazos de pago
                                            </label>
                                        </td>
                                        <td style="width: 100%;">
                                            <a class="o_form_uri o_field_widget o_field_empty" href="#" name="payment_term_id" id="o_field_input_1073"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="o_group o_inner_group o_group_col_12">
                                    <tbody>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_readonly_modifier" for="o_field_input_1070" data-original-title="" title="">Observaciones
                                                </label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span class="o_field_date o_field_widget o_readonly_modifier" name="confirmation_date">
                                                    <%
                                                    if(oda.tokenoda.split("@")[0] == ""){
                                                    %>
                                                        Sin observaciones.
                                                    <%
                                                    }
                                                    else{
                                                    %><%=
                                                        oda.tokenoda.split("@")[0]
                                                    %><%
                                                    }
                                                    %></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="o_notebook">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" disable_anchor="true" href="#notebook_page_1074" role="tab">Pedidos
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" disable_anchor="true" href="#notebook_page_1080" role="tab">Documentos Adjuntos</a>
                            </li>
                        </ul>
                        <div class="tab-content nav nav-tabs">
                            <!-- Página Pedidos -->
                            <div class="tab-pane active" id="notebook_page_1074">
                                <div class="o_field_one2many o_field_widget o_field_x2many o_field_x2many_list" name="order_line">
                                    <div class="o_x2m_control_panel">
                                        <div class="o_cp_buttons"></div>
                                        <div class="o_cp_pager">
                                            <div class="o_hidden">
                                                <span class="o_pager_counter">
                                                    <span class="o_pager_value"></span> / <span class="o_pager_limit"></span>
                                                </span>
                                                <span class="btn-group btn-group-sm">
                                                    <button aria-label="Previous" class="fa fa-chevron-left btn btn-icon o_pager_previous" type="button"></button>
                                                    <button aria-label="Next" class="fa fa-chevron-right btn btn-icon o_pager_next" type="button"></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="tablaODA" class="o_list_view table table-condensed table-striped o_list_view_ungrouped">
                                            <thead>
                                            <tr>
                                                <th class="o_column_sortable" style="text-align: left;">Descripción</th>
                                                <th class="o_column_sortable">Cantidad</th>
                                                <th class="o_column_sortable" style="text-align: center;">Recibidos</th>
                                                <th class="o_column_sortable" style="text-align: center;">Facturados</th>
                                                <th class="o_column_sortable" style="text-align: center;">Costo Unitario</th>
                                                <th class="o_column_sortable" style="text-align: center;">Unidad</th>
                                                <th class="o_column_sortable" style="text-align: center;">Fecha de Entrega</th>
                                                <th class="o_column" id="btnGroup" style="text-align: center;"></th>
                                                <!--<th class="o_column_sortable">Impuestos</th>
                                                <th class="o_column_sortable" style="text-align: right;">Subtotal</th>-->
                                            </tr>
                                            </thead>
                                            <tbody class="ui-sortable">
                                            <%for(var e=0; e < abast.length; e++){%>
                                            <tr class="text-info danger">
                                                <td style="text-align: center;"><%=abast[e].detalle%></td>
                                                <td style="text-align: center;"><%=abast[e].cantidad%></td>
                                                <td style="text-align: center;"><%=abast[e].recibidos%></td>
                                                <td style="text-align: center;"><%=abast[e].facturados%></td>
                                                <td style="text-align: center;"><%=abast[e].costo%></td>
                                                <%if(abast[e].u_medida == '' || abast[e].u_medida == null){%>
                                                    <td style="text-align: center;">und</td>
                                                <%}else{%>
                                                    <td style="text-align: center;"><%=abast[e].u_medida%></td>
                                                <%}%>
                                                <td style="text-align: center;"><%=fechaLatino(new Date().toLocaleDateString())%></td>
                                                <td class="o_data_cell btn-group" style="text-align: center;">
                                                    <button type="button" class="btn btn-xs btn-warning" onclick="setAnular(this)" data-val="<%=abast[e].idabast%>" data-nom="idabast" data-url="/abastecimiento/updOca/cerrarAbast" data-cantMin="<%= Math.min(Math.max(parseInt(abast[e].facturados),parseInt(abast[e].recibidos)),parseInt(abast[e].cantidad))%>"><i class="fa fa-remove"></i> Cerrar</button>
                                                </td>
                                            </tr>
                                            <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <span class="o_field_text o_field_widget o_field_empty oe_inline" name="note"></span>
                                <div class="oe_clear"></div>
                            </div>
                            <!-- Página Mas Información -->
                            <div class="tab-pane" id="notebook_page_1080">
                                <div class="o_group">
                                    <!-- Mostrar las Facturas de la OC -->
                                    <table class="o_group o_inner_group o_group_col_6">
                                        <tbody>
                                        <tr>
                                            <td colspan="2" style="width: 100%;">
                                                <div class="o_horizontal_separator">Facturas</div>
                                            </td>
                                        </tr>
                                        <%
                                        if(oda.facturas_token != null){
                                            oda.facturas_token = oda.facturas_token.split(",");
                                            var lista_aux = [];
                                            for(var j = 0;j< oda.facturas_token.length; j++){
                                                lista_aux = oda.facturas_token[j].split('@');%>
                                        <tr>
                                            <td class="o_td_label">
                                                <a href="#" onclick="modal_fact(this)" data-idfactura="<%=lista_aux[1]%>">
                                                    <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1083">N° <%= lista_aux[0]%>
                                                        <% if(lista_aux[4] === '1'){%>
                                                            (Anulado)
                                                        <%}%>
                                                    </label>
                                                    <span class="label label-primary pull-right"><%= new Date(lista_aux[2]).toLocaleDateString()%></span>
                                                </a>
                                            </td>
                                            <td style="width: 100%;">
                                                <span name="picking_policy" class="o_field_widget o_readonly_modifier o_required_modifier"><%= lista_aux[3]%></span>
                                                <a onclick="gen_pdf(<%= lista_aux[1]%>)" class="btn btn-primary">
                                                    <i class="fa fa-file-pdf-o"></i> Ver PDF
                                                </a>
                                            </td>
                                        </tr>
                                        <%  }
                                        } else {%>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1083">No hay Facturas</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span name="picking_policy" class="o_field_widget o_readonly_modifier o_required_modifier">No se encontró ninguna factura adjunta.</span>
                                            </td>
                                        </tr>
                                        <%}%>
                                        </tbody>
                                    </table>
                                    <!-- Mostrar las guías de Despacho de la OC -->
                                    <table class="o_group o_inner_group o_group_col_6">
                                        <tbody>
                                        <tr>
                                            <td colspan="2" style="width: 100%;">
                                                <div class="o_horizontal_separator">Guías de despacho</div>
                                            </td>
                                        </tr>
                                        <%
                                        if(oda.gd_token != null){
                                            oda.gd_token = oda.gd_token.split(",");
                                            var lista_aux = [];
                                        for(var j = 0; j < oda.gd_token.length;j++){
                                            lista_aux = oda.gd_token[j].split('@');%>
                                        <tr>
                                            <td class="o_td_label">
                                                <a href="#" onclick="modal_guia(this)" data-idgd="<%=lista_aux[1]%>">
                                                    <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1083">
                                                        N° <%= lista_aux[0]%>
                                                    </label>
                                                </a>
                                            </td>
                                            <td style="width: 100%;">
                                                <span class="o_field_widget o_readonly_modifier o_required_modifier"></span>
                                                <span class="badge pull-right"><%= new Date(lista_aux[2]).toLocaleString()%></span>
                                            </td>
                                        </tr>
                                        <%}
                                        }else{%>
                                            <tr>
                                                <td class="o_td_label">
                                                    <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1083">No hay Facturas</label>
                                                </td>
                                                <td style="width: 100%;">
                                                    <span name="picking_policy" class="o_field_widget o_readonly_modifier o_required_modifier">No se encontró ninguna factura adjunta.</span>
                                                </td>
                                            </tr>
                                        <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o_chatter oe_chatter">

                <div class="o_mail_activity o_field_widget" name="activity_ids"></div>
                <div class="o_mail_thread"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal anular abastecimiento/oca -->
<div id="anularModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="anularModalForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmar Anulación</h4>
                </div>
                <div class="modal-body">
                        <p id="anularModalBody">Some text in the modal.</p>
                        <input type="hidden" name="url" id="urlAnularModal" value="/abastecimiento/updOca/anular">
                        <input type="hidden" name="idabast" id="idAnularModal" value="0">
                        <input type="hidden" name="cantmin" id="cantAnularModal" value="0">
                        <div class="alert alert-danger hidden" role="alert" id="anularModalAlert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="anularModalSubmit" class="btn btn-danger">Anular</button>
                </div>
            </form>
            <script type="text/javascript">
                var refreshFlag = false;
                function setAnular (esto) {
                    var data = $(esto).data();
                    $("#idAnularModal").val(data.val);
                    $("#idAnularModal").attr('name',data.nom);
                    $("#cantAnularModal").val(data.cantmin);
                    $("#urlAnularModal").val(data.url);
                    if (data.nom === 'idoda') {
                        refreshFlag = false;
                        $("#anularModalBody").html("¿Estás seguro/a que quieres anular la OCA?")
                    } else {
                        refreshFlag = true;
                        $("#anularModalBody").html("¿Estás seguro/a que quieres cerrar la fila?")
                    }
                    $("#anularModal").modal('toggle');
                };
                $("#anularModalForm").on('submit', function (e) {
                    var array = $(this).serializeArray();
                    var data = {};
                    array.map(function (input) {
                        data[input.name] = input.value;
                        return input;
                    });
                    $("#anularModalSubmit").attr('disabled',true);
                    var url = data.url;
                    delete data.url;
                    $.ajax({
                        url: url,
                        type: 'post',
                        data: data,
                        success: function (dataResponse) {
                            if (!dataResponse.err) {
                                $("#anularModal").modal('toggle');
                                setTimeout(function () {
                                    if (refreshFlag) {
                                        $.ajax({
                                            type: 'GET',
                                            url: '/abastecimiento/page_oda/<%=oda.idoda%>',
                                            success: function(data){
                                                $(".main-page").html(data);
                                            }
                                        });
                                    } else {
                                        $("#odaBack").click();
                                    }
                                },1000);
                            } else {
                                $("#anularModalAlert").html("<strong>Error!</strong> " + dataResponse.errMsg);
                                $("#anularModalAlert").removeClass("hidden");
                                setTimeout(function () {
                                    $("#anularModalAlert").addClass("hidden");
                                }, 5000);
                            }
                            $("#anularModalSubmit").attr('disabled',false);
                        }
                    });
                    return false;
                });
            </script>
        </div>
    </div>
</div>
<!-- Modal anular abastecimiento/oca -->
<div id="updOcaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="updOcaModalForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar OC</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Proveedor: </label>
                        <div class='predic_text' onkeyup='getPredictions(this)'>
                            <input type='text' class="form-control" name='prov' autocomplete='off' value="<%= oda.idproveedor%> - <%= oda.sigla%>" required>
                            <div></div>
                        </div>
                        <script type="text/javascript">
                            function getPredictions(yo){
                                if($(yo).children('input').val()!=''){
                                    $.ajax({
                                        type: 'GET',
                                        url: '/plan/get_client_pred/'+$(yo).children('input').val(),
                                        success: function(data){
                                            $(yo).children('div').css('width', $(yo).width()+"px");
                                            $(yo).children('div').html(data);
                                        }
                                    });
                                }
                                else{
                                    $(yo).children('div').html('');
                                }
                            };
                        </script>
                    </div>
                    <div class="form-group">
                        <label>Moneda: </label>
                        <select class="form-control" name="money" id="money">
                            <option value="usd">Dolares (USD)</option>
                            <option value="eur">Euro (EUR)</option>
                            <option value="clp" selected>Pesos Chilenos (CLP)</option>
                            <option value="gbp">Libra (GBP)</option>
                        </select>
                    </div>
                    <input type="hidden" name="idoda" value="<%= oda.idoda%>">
                    <div class="alert alert-danger hidden" role="alert" id="updOcaModalAlert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="updOcaModalSubmit" class="btn btn-primary">Modificar</button>
                </div>
            </form>
            <script type="text/javascript">
                $("#updOcaModalForm").on('submit', function (e) {
                    var array = $(this).serializeArray();
                    var data = {};
                    array.map(function (input) {
                        data[input.name] = input.value;
                        return input;
                    });
                    data.prov = parseInt(data.prov.split("-")[0]);
                    $("#updOcaModalSubmit").attr('disabled',true);
                    $.ajax({
                        url: "/abastecimiento/updOca",
                        type: 'post',
                        data: data,
                        success: function (data) {
                            if (!data.err) {
                                $("#updOcaModal").modal('toggle');
                                setTimeout(function () {
                                    $.ajax({
                                        type: 'GET',
                                        url: '/abastecimiento/page_oda/<%=oda.idoda%>',
                                        success: function(data){
                                            $(".main-page").html(data);
                                        }
                                    });
                                },1000);
                            } else {
                                $("#updOcaModalAlert").html("<strong>Error!</strong> " + data.errMsg);
                                $("#updOcaModalAlert").removeClass("hidden");
                                setTimeout(function () {
                                    $("#updOcaModalAlert").addClass("hidden");
                                }, 5000);
                            }
                            $("#updOcaModalSubmit").attr('disabled',false);
                        }
                    });
                    return false;
                });
            </script>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        setDataTable2('#tablaODA');
    });
    function receiveAll(self) {
        if (confirm("¿Esta seguro que desea recepcionar todo lo que falte por recepcionar?")){
            $.ajax({
                type: 'GET',
                url: '/abastecimiento/receiveAll/' + $(self).data('idoda'),
                success: function (data) {
                    $(".main-page").html(data);
                }
            })
        }
    }
</script>