

<!-- Modal -->
<div id="abastModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Abastecer Orden de Compra:</h4>
      </div>
      <div class="modal-body abastecimiento-modal">
        <p style="margin:0; margin-bottom: 10px; padding: 0; font-size: 120%"><b>Inserto 1145:  </b><span class="badge">10 unidades</span></p>
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 110%"><p>Example heading <span class="badge pull-right">60 litros</span></p></li>
            <li class="list-group-item" style="font-size: 110%"><p>Example heading <span class="badge pull-right">50 kilos</span></p></li>
            <li class="list-group-item" style="font-size: 110%"><p>Example heading <span class="badge pull-right">100 libras</span></p></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<h2 class="page-header" style="font-family: 'Oswald'">Insumos por solicitar (segun OC): </h2>

<div class="container" style="width: 100%; font-family: 'Oswald">

    
    <div class="col-md-10 col-md-offset-1">
    <div id="accordion_of" role="tablist" aria-multiselectable="true" style="margin-top: 20px" class="panel-group">
        <%
          function letraMayus(string) {
             return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
          } 
          function incluido(word, array){

            for(var w=0; w < array.lenght; w++){
                if(array[w] == word){
                    return true;
                    break;
                }
                else if(array[w] != word && w==array.lenght-1){
                    return false;
                    break;  
                }
            }
          }
        if(data.length){
            for(var i = 0; i< data.length;i++){
                %>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h<%= i%>" style="display: flex;">
                <a style="width: 100%;" role="button" href="#c<%= i%>" data-toggle="collapse" data-parent="#accordion_of"  aria-expanded="true" aria-controls="h<%= i%>">
                    <h3><b>Orden de Compra: </b> #<%=data[i].numoc%></h3>
                    <p class="pull-right"><%= data[i].sigla%> - <%=data[i].razon%></p>
                </a>
            </div>
            <div id="c<%= i%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h<%= i%>">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Insumos</th>
                        <th>Cantidad insumos</th>
                        <th>Costo por unidad</th>
                        <th>Total</th>
                        <th>Fecha entrega</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="t<%= i%>">
                    <% 

                        var info_total = [];
                        var pasados = [];
                        var unidades = [];
                    if(data[i].detalle){
                        data[i].detalle = data[i].detalle.split('@');
                        data[i].entrega = data[i].entrega.split('@');
                        data[i].costoxu = data[i].costoxu.split('@');
                        data[i].descrip = data[i].descrip.split('@');
                        data[i].cant_ped = data[i].cant_ped.split('@');
                        data[i].cant = data[i].cant.split('@');
                        data[i].uni = data[i].uni.split('@');
                        for(var j = 0;j< data[i].detalle.length;j++){
                            var total = [];%>
                            <tr>
                            <!--<tr id="col<%=j%><%=i%>" onclick="expand(this)" style="cursor: pointer; margin-right: 10px">-->
                                <td><%= letraMayus(data[i].detalle[j])%></td>
                                <td>
                                    <%= data[i].cant_ped[j]%></td>
                                <td>
                                    <%for(var cd=0; cd < data[i].descrip[j].split(',').length; cd++){%>
                                        <%=letraMayus(data[i].descrip[j].split(',')[cd])%>   
                                    <%if(cd != data[i].descrip[j].split(',').length-1){%>
                                        <br>
                                    <%}
                                    }%>
                                </td>
                                <td>
                                    <%for(var cc=0; cc < data[i].cant[j].split(',').length; cc++){
                                        if(pasados.indexOf(data[i].descrip[j].split(',')[cc])==-1){
                                            pasados[pasados.length] = data[i].descrip[j].split(',')[cc];
                                            info_total[info_total.length] = (parseInt(data[i].cant[j].split(',')[cc])* data[i].cant_ped[j]);
                                            unidades[unidades.length] = data[i].uni[j].split(',')[cc];
                                        }
                                        else{
                                            info_total[pasados.indexOf(data[i].descrip[j].split(',')[cc])] +=  (parseInt(data[i].cant[j].split(',')[cc]) * data[i].cant_ped[j]);
                                            unidades[pasados.indexOf(data[i].descrip[j].split(',')[cc])] = data[i].uni[j].split(',')[cc];
                                        }
                                        total[cc] = data[i].cant[j].split(',')[cc]*data[i].cant_ped[j];%>
                                        <%=data[i].cant[j].split(',')[cc]%> <%= data[i].uni[j].split(',')[cc]%>s  
                                    <%if(cc != data[i].cant[j].split(',').length-1){%>
                                        <br>
                                    <%}
                                    }%>
                                </td>
                                <td>
                                    <%for(var cu=0; cu < data[i].costoxu[j].split(',').length; cu++){%>
                                        $<%=data[i].costoxu[j].split(',')[cu]%> por <%= data[i].uni[j].split(',')[cu]%>  
                                    <%if(cu != data[i].costoxu[j].split(',').length-1){%>
                                        <br>
                                    <%}
                                    }%>
                                </td>
                                <td>
                                    <%for(var to = 0; to < total.length; to++){%>
                                        <%= total[to]%> <%= data[i].uni[j].split(',')[to]%>s
                                    <%if(to != total.length-1){%>
                                        <br>
                                    <%}}%>
                                </td>
                                <td><%= data[i].entrega[j].split(' ')[0]%></td>
                                <td><div class="container-button" style="margin: 0; padding:  0px;width: 100%;transition: 0.5s; overflow: hidden;" onclick="abast_modal()" data-toggle="modal" data-target="#abastModal"><button class="btn btn-primary">Abastecer</button></div></td>
                            </tr>
                        <%}
                    }%>

                    </tbody>
                </table>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Insumos Totales:</h3>
                    </div>
                    <div class="panel-body" style="padding: 0">
                        <table class="table table-striped table-hover table-bordered" style="margin: 0">
                            <thead>
                                <tr>
                                    <th>Insumo</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var r=0; r < pasados.length; r++){%>
                                    <tr>
                                        <td><%= letraMayus(pasados[r])%></td>
                                        <td><%= info_total[r]%> <%= unidades[r]%>s</td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

            <%}%>
        <%}%>
    </div>
</div>
</div>

<script type="text/javascript">

    function expand(yo){
        $("#"+$(yo).attr('id')+" td .container-button").css('transform', 'scaleY(1)');
        $("#"+$(yo).attr('id')).attr('onclick', 'compress(this)');
    }
    function compress(yo){
        $("#"+$(yo).attr('id')+" td .container-button").css('transform', 'scaleY(0)');
        $("#"+$(yo).attr('id')).attr('onclick', 'expand(this)');
    }



</script>

