<%
	function fechaLatino(string){
		return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
	}
	function diff_indays(date1){
		dt1 = new Date();
		dt2 = new Date(date1);
		return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
	}
	function textFormat(string){
		string = string.split(' ');
		for(var a=0; a < string.length; a++){
			string[a] = string[a].substring(0,1).toUpperCase() + string[a].substring(1,string[a].length).toLowerCase();
		}
		return string.join(' ');
	}
	function parsear_nro(x){
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return parts.join(",");
	}
%>

<table class="o_list_view table table-condensed table-striped o_list_view_ungrouped">
	<thead>
		<tr>
			<th class="cabecera o_column_sortable order-column" data-order="abastecimiento.idabast-ASC">N° OC</th>
			<th class="cabecera o_column_sortable order-column" data-order="material.detalle-ASC">Detalle</th>
			<th class="cabecera o_column_sortable order-column" data-order="abastecimiento.cantidad-ASC">Solicitados</th>
			<th class="cabecera o_column_sortable order-column" data-order="abastecimiento.recibidos-ASC">Recibidos</th>
			<th class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="material.u_medida-ASC">Unidad</th>
			<th class="cabecera o_column_sortable order-column" style="text-align: center" data-order="abastecimiento.costo-ASC">Costo</th>
			<th class="cabecera o_column_sortable order-column" style="text-align: center" data-order="abastecimiento.costo*abastecimiento.cantidad-ASC">Total</th>
			<th class="cabecera o_column_sortable" style="text-align: center ;">CC</th>
			<th class="cabecera o_column_sortable order-column" data-order="cliente.sigla-ASC" style="text-align: center ;">Proveedor</th>
			<th class="cabecera o_column_sortable order-column" data-order="oda.creacion-ASC">Creación</th>
		</tr>
	</thead>
	<tbody class="ui-sortable">
		<%for(var i=0; i < data.length; i++){ %>
			<tr class="o_data_row">
				<td class="o_data_cell o_readonly_modifier o_required_modifier" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)"><%=data[i].idoda%></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)"><%=data[i].detalle%></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].cantidad %></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].recibidos %></td>
				<td class="o_data_cell" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%=data[i].u_medida%></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].costo %></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= parseInt(data[i].cantidad*data[i].costo) %></td>
				<td class="o_data_cell" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%=textFormat( data[i].cuenta )%></td>
				<td class="o_data_cell" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%=textFormat( data[i].sigla)%></td>
				<td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" onclick="submit_form(this)" style="text-align: center;" data-idoda="<%= data[i].idoda%>">
					<span class="o_field_monetary o_field_number o_field_widget o_readonly_modifier" name="amount_total"><%= fechaLatino(new Date(data[i].creacion).toLocaleDateString() )%></span>
				</td>
			</tr>
		<%}%>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js""></script>

<script type="text/javascript">
	$(document).ready(function(){
		$(".order-column").removeClass('o-sort-up');
		$(".order-column").removeClass('o-sort-down');
		$(".order-column").each(function(){
			if($(this).data('order').split('-')[0] == "<%= key.split('-')[0]%>" ){
				if("<%= key.split('-')[1]%>" == "ASC"){
					$(this).addClass('o-sort-up');
					$(this).data('order', '<%= key.split("-")[0]%>-DESC');
				}
				else{
					$(this).addClass('o-sort-down');
					$(this).data('order', '<%= key.split("-")[0]%>-ASC');
					
				}
			}
		});
	});
	$(".order-column").on('click', function(e){
		e.preventDefault();
		var item = this;
		var orden = $(this).data('order');
		var showPend = $("#pend").is(':checked');
		/*$.ajax({
			type: 'GET',
			url: '/abastecimiento/table_abastecimientos/'+orden+'/'+showPend,
			success: function(data){
				$(".main-page").html(data);
			}
		});*/
        $.ajax({
            type: 'POST',
            data: {
                clave: $("#buscar_abastecimiento").val(),
                orden: $(this).data('order'),
                showPend: $("#pend").is(':checked'),
                cc_selected: $(".select_cc").val().join(',')
            },
            url: '/abastecimiento/table_abastecimientos',
            success: function(data){
                $(".main-page").html(data);
            }
        });
	});
	
	function submit_form(yo){
		$.ajax({
			type: 'GET',
			url: '/abastecimiento/page_oda/'+$(yo).data('idoda'),
			success: function(data){
				$(".main-page").html(data);	
			}
		});
	}
</script>