<%
function parsear_nro(x){
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    return parts.join(",");
}
function trunc (x, posiciones = 0) {
    var s = x.toString()
    var l = s.length
    var decimalLength = s.indexOf('.') + 1

    if (l - decimalLength <= posiciones){
        return x
    }
    // Parte decimal del número
    var isNeg  = x < 0
    var decimal =  x % 1
    var entera  = isNeg ? Math.ceil(x) : Math.floor(x)
    // Parte decimal como número entero
    // Ejemplo: parte decimal = 0.77
    // decimalFormated = 0.77 * (10^posiciones)
    // si posiciones es 2 ==> 0.77 * 100
    // si posiciones es 3 ==> 0.77 * 1000
    var decimalFormated = Math.floor(
            Math.abs(decimal) * Math.pow(10, posiciones)
    )
    // Sustraemos del número original la parte decimal
    // y le sumamos la parte decimal que hemos formateado
    var finalNum = entera +
            ((decimalFormated / Math.pow(10, posiciones))*(isNeg ? -1 : 1))

    return finalNum
}
%>

<input type="hidden" name="idoda" id="factura_idoda" value="<%= oda[0].idoda%>">
<div style="width: 100%;  text-align: center;">
    <div style="width: 100%; display: flex;">    
      <div class="panel panel-info" style="margin-right: 0%;width: 30%;margin-left: 3%;">
        <!-- Default panel contents -->
        <div class="panel-heading">Proveedor: </div>
        <div class="panel-body">
          <%= oda[0].sigla%> - <%= oda[0].razon%>
        </div>

      </div>
      <div class="panel panel-info" style="margin-right: 3%;width: 30%;margin-left: 3%;">
        <!-- Default panel contents -->
        <div class="panel-heading">Fecha Facturación:</div>
        <div class="panel-body">
          <input class="form-control" type="date" name="fecha-facturacion" required>
        </div>
      </div>
      <div class="panel panel-info" style="margin-right: 0%;width: 30%;margin-left: 0%;">
        <!-- Default panel contents -->
        <div class="panel-heading">N° Factura:</div>
        <div class="panel-body">
          <input style="margin-left: 10%;width: 80%" type="text" name="numeroFactura" id="numeroFactura" max="10" class="form-control" required>
        </div>

      </div>

    </div>
    <div>
    </div>
    <input type="hidden" id="modalIdOda">
</div>
<div class="table-responsive" style="margin-top: 15px">
  <table class="table table-bordered table-hover table-striped" >
        <thead>
          <tr>
            <th>Descripción</th>
            <th style="text-align: center;">Cantidad sin Facturar</th>
            <th style="text-align: center;">Precio OCA</th>
            <th style="text-align: left;">Precio Unidad</th>
              <th style="text-align: left;">Unidades Facturadas</th>
            <th>Moneda</th>
              <th style="align-content: center;">Recepcionar</th>
          </tr>
        </thead>
        <tbody>
          <%
          var select_money = [
            {valor: 'Pesos Chilenos (CLP)',sgl: 'clp'},
            {valor: 'Dolar (USD)',sgl: 'usd'},
            {valor: 'Euro (EUR)',sgl: 'eur'},
            {valor: 'Libra (GLP)',sgl: 'gbp'}
          ];
          for(var e=0; e < oda.length; e++){
            if(oda[e].cantidad > oda[e].facturados){
            %>
          <tr>
            <td style="width: 30%"><%= oda[e].detalle%></td>
            <input type="hidden" name="idabast" value="<%= oda[e].idabast%>">
            <td align="center"><%= oda[e].cantidad - oda[e].facturados%></td>
            <td align="center" style="width: 15%"><%= parsear_nro(oda[e].odacosto)%></td>
            <td><input class="form-control" type="number" step=".01" name="costo_unid" min="0"></td>
              <td><input class="form-control" type="number" step=".01" name="cantidad" min="0" value="0" max="<%= oda[e].cantidad - oda[e].facturados%>" required></td>
            <td>
              <select class="form-control" name="moneda-factura" required>
              <%for(var w=0; w < select_money.length; w++){
                  if(oda[0].tokenoda.split('@')[6] == select_money[w].sgl){%>
                    <option value="<%= select_money[w].sgl%>" selected><%= select_money[w].valor%></option>
              <%}else{%>
                    <option value="<%= select_money[w].sgl%>"><%= select_money[w].valor%></option>
              <%}}%>
              </select>
            </td>
              <td><input type="checkbox" name="recepcion" data-maxrec="<%= oda[e].cantidad - oda[e].recibidos%>"></td>
          </tr>
          <%}
          }%>
        </tbody>
            <%  
            var moneda = oda[0].tokenoda.split('@')[6]; 
            %>
        <tfoot>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td align="center"><b>Moneda:</b> <%= moneda.toUpperCase()%></td>
          </tr>
        </tfoot>
    
  </table>
</div>
<div class="panel panel-warning" style="margin-right: 5%;width: 90%;margin-left: 5%;">
<!-- Default panel contents -->
    <div class="panel-heading" data-toggle="collapse" data-target="#comentPanel" style="cursor: pointer; text-align: center;">Comentario / Observación <i class="fa fa-caret-down desp-arrow"></i></div>
    <div class="panel-body collapse" id="comentPanel">
      <textarea style="width: 100%" type="textarea" class="form-control" name="comentario" placeholder="Ingresar comentario ..."></textarea>
    </div>
</div>

