<%
	function fechaLatino(string){
		return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
	}
	function diff_indays(date1){
		dt1 = new Date();
		dt2 = new Date(date1);
		return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
	}
	function textFormat(string){
		string = string.split(' ');
		for(var a=0; a < string.length; a++){
			string[a] = string[a].substring(0,1).toUpperCase() + string[a].substring(1,string[a].length).toLowerCase();
		}
		return string.join(' ');
	}
	function truncateWord(string, max){
		if(string == '' || string == null || !string){
			return '';
		}
		else{
			if(string.length <= max){
				return string;
			}
			else{
				return string.substring(0, max)+"...";
			}
		}

	}
%>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<style>
	.filtro-tabla:hover{
		cursor: pointer;
	}
	.filtro-tabla{
		margin: 0;
		padding: 0px 3px;
		margin-right: 5px;
	}
	.fila_alta{

	}
	.fila_normal{

	}
</style>

<table class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%;font-size: 12px" id="dataTableOdoo">
	<thead>
		<tr>
			<th class="cabecera o_column_sortable" data-order="abastecimiento.idabast-ASC">N° OC</th>
			<th class="cabecera o_column_sortable" data-order="oda.creacion-ASC">Creación</th>
			<th class="cabecera o_column_sortable">Facturas</th>
			<th class="cabecera o_column_sortable">Guías</th>
			<th class="cabecera o_column_sortable" data-order="cliente.sigla-ASC" style="text-align: center ;">Proveedor</th>
			<th class="cabecera o_column_sortable" data-order="abastecimiento.cantidad-ASC">Solicitados</th>
			<th class="cabecera o_column_sortable" data-order="material.detalle-ASC">Detalle</th>
			<th class="cabecera o_column_sortable" data-order="abastecimiento.recibidos-ASC">Recibidos</th>
			<th class="cabecera o_column_sortable" data-order="abastecimiento.recibidos-ASC">Facturados</th>
			<th class="cabecera o_column_sortable" style="text-align: center" data-order="abastecimiento.costo-ASC">Costo</th>
			<th class="cabecera o_column_sortable" style="text-align: center" data-order="abastecimiento.costo*abastecimiento.cantidad-ASC">Total</th>
			<th class="cabecera o_column_sortable" style="text-align: center ;">CC</th>
			<th class="cabecera o_column_sortable order-column" style="text-align: right;" data-order="material.u_medida-ASC">Unidad</th>
		</tr>
	</thead>
	<tbody class="ui-sortable">
		<%
		var lista = [];
		var gd_lista = [];
		var lista2 = [];
		var lista3 = [];
		for(var i=0; i < data.length; i++){
		    if(data[i].factura_token != null){
				lista = data[i].factura_token.split(",");
				if(lista.length > 1){
					lista.map(function(e){
					    lista2.push(e.split("@"));
						return e;
					});
					lista = lista2;
				} else lista[0] = lista[0].split("@");
			} else {
		        lista = [];
			}
			if(data[i].gd_token != null){
				gd_lista = data[i].gd_token.split(",");
				if(gd_lista.length > 1){
					gd_lista.map(function(e){
						lista3.push(e.split("@"));
						return e;
					});
					gd_lista = lista3;
				} else gd_lista[0] = gd_lista[0].split("@");
			} else {
				gd_lista = [];
			}%>
			<tr class="o_data_row">
				<td class="o_data_cell o_readonly_modifier o_required_modifier" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)"><%=data[i].idoda%></td>
				<td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" onclick="submit_form(this)" style="text-align: center;" data-idoda="<%= data[i].idoda%>">
					<span class="o_field_monetary o_field_number o_field_widget o_readonly_modifier" data-order="<%= new Date(data[i].creacion).getTime()%>" name="amount_total"><%= fechaLatino(new Date(data[i].creacion).toLocaleDateString() )%></span>
				</td>
				<td class="o_data_cell" style="text-align: center; width: 13%">
					<%if(lista.length>2){
						for(var j=0;j<2;j++){%>
							<a class="label label-primary" onclick="modal_fact(this)" href="#" data-idfactura="<%= lista[j][1] %>" ><%= lista[j][0]%></a>
						<%}%>
					    <a class="label label-primary pull-right" type="button"  onclick="changeIcon(this)" data-toggle="collapse" data-target="#collapseFactura<%=i%>" aria-expanded="false" aria-controls="collapseFactura<%=i%>" data-state="close">
							<i class="fa fa-arrow-down"></i>
						</a>
					    <div class="collapse collapseLabel" id="collapseFactura<%=i%>">
							<%for(var j=3; j<lista.length; j++){%>
								<a class="label label-primary" onclick="modal_fact(this)" href="#" data-idfactura="<%= lista[j][1] %>" ><%= lista[j][0]%></a>
							<%}%>
						</div>
					<%}else{
					    for(var j=0; j<lista.length; j++){%>
							<a class="label label-primary" onclick="modal_fact(this)" href="#" data-idfactura="<%= lista[j][1]%>" ><%= lista[j][0]%></a>
						<%}
					}%>
				</td>
				<td class="o_data_cell" style="text-align: center; width: 13%">
					<%if(gd_lista.length>2){
						for(var j=0;j<2;j++){%>
							<a class="label label-success" onclick="modal_guia(this)" href="#" data-idgd="<%= gd_lista[j][1] %>" >
								<%= gd_lista[j][0]%>
							</a>
						<%}%>
							<a class="label label-success pull-right" type="button" onclick="changeIcon(this)" data-toggle="collapse" data-target="#collapseExample<%= i%>" aria-expanded="false" aria-controls="collapseExample" data-state="close">
								<i class="fa fa-arrow-down"></i>
							</a>
							<div class="collapse collapseLabel" id="collapseExample<%= i%>">
								<%for(var j=3; j<gd_lista.length; j++){%>
									<a class="label label-success" onclick="modal_guia(this)" href="#" data-idgd="<%= gd_lista[j][1] %>" ><%= gd_lista[j][0]%></a>
								<%}%>
							</div>
					<%}else{
						for(var j=0; j<gd_lista.length; j++){%>
							<a class="label label-success" onclick="modal_guia(this)" href="#" data-idgd="<%= gd_lista[j][1] %>" ><%= gd_lista[j][0]%></a>
					<%}
					}%>
				</td>
				<td class="o_data_cell" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)"  data-toggle="tooltip" title="<%= textFormat(data[i].sigla)%>" style="text-align: center;"><%=truncateWord(textFormat( data[i].sigla),10)%></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].cantidad %></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" data-toggle="tooltip" title="<%= data[i].detalle%>" style="white-space: nowrap;"><%= truncateWord(data[i].detalle,25)%></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].recibidos %></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].facturados %></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= data[i].costo %></td>
				<td class="o_data_cell parsear_nro" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%= parseInt(data[i].cantidad*data[i].costo) %></td>
				<td class="o_data_cell" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)"  data-toggle="tooltip" title="<%= textFormat(data[i].cuenta)%>" style="text-align: center; white-space: nowrap"><%=truncateWord( textFormat(data[i].cuenta),7)%></td>
				<td class="o_data_cell" data-idoda="<%= data[i].idoda%>" onclick="submit_form(this)" style="text-align: center;"><%=data[i].u_medida%></td>
			</tr>
		<%}%>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>



<!-- Funcion para parsear nros -->
<script src="parsear_nro.js" type="text/javascript"></script>

<script type="text/javascript">
	function changeIcon(yo){
	    if($(yo).data('state') == 'open' ){
            $(yo).children('i').removeClass('fa-arrow-up');
            $(yo).children('i').addClass('fa-arrow-down');
            $(yo).data('state', 'close');
	    }
		else{
            $(yo).children('i').removeClass('fa-arrow-down');
            $(yo).children('i').addClass('fa-arrow-up');
            $(yo).data('state', 'open');
		}
	}
	$(".collapseLabel").each(function(){
		$(this).parent().css('width', $(this).css('width'));
	});
    setDataTableMain("#dataTableOdoo");
    $(document).ready(function(){
        /*$('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });*/
        /*$(".order-column").removeClass('o-sort-up');
        $(".order-column").removeClass('o-sort-down');
        $(".order-column").each(function(){
            if($(this).data('order').split('-')[0] == "<= key.split('-')[0]>" ){
                if("<= key.split('-')[1]>" == "ASC"){
                    $(this).addClass('o-sort-up');
                    //$(this).append("<a><i class='fa fa-filter table-filtro'></i></a>");
                    $(this).data('order', '<= key.split("-")[0]>-DESC');
                }
                else{
                    $(this).addClass('o-sort-down');
                    //$(this).append("<a><i class='fa fa-filter table-filtro'></i></a>");
                    $(this).data('order', '<= key.split("-")[0]>-ASC');
                }
            }
        });*/
    });
    $(document).on('click', '.filtro-tabla .dropdown-menu', function (e) {
        e.stopPropagation();
    });
	function fill_apply(yo){
	    $(yo).parent().parent().parent().parent().removeClass('open');
	}
	$(".filtro-tabla").click(function(e){
	    e.preventDefault();
        //$(this).addClass('open');
	    //$(this).children('a').dropdown('toggle');
    });

	
	function submit_form(yo){
		$.ajax({
			type: 'GET',
			url: '/abastecimiento/page_oda/'+$(yo).data('idoda'),
			success: function(data){
				$(".main-page").html(data);	
			}
		});
	}
</script>