<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}
var etp = [
    "Moldes",
    "Fundidos",
    "Quebrados",
    "Terminados",
    "Tratados",
    "Maestranza",
    "CC"
];

var etp_f = [
    "Moldeo",
    "Fusión",
    "Quiebre",
    "Terminación",
    "Tratamiento Térmico",
    "Maestranza",
    "CC"
];


function fechaEspañol(date){
    date = new Date(date);
    var meses = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    ];
    var dias = [
        "Domingo",
        "Lunes",
        "Martes",
        "Miercoles",
        "Jueves",
        "Viernes",
        "Sabado"
    ];
    return dias[date.getDay()] +" "+date.getDate()+" de "+meses[date.getMonth()]+" de "+date.getFullYear();
}
%>
<script type="text/javascript">
    $("#DataTableFabs tbody").attr('unselectable','on')
        .css({'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });

    $(".nav-pills").attr('unselectable','on')
        .css({'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });
</script>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTableFabs" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%;margin-top: 0px !important; margin-bottom: 0px !important;">
    <thead>
    <tr>
        <th>OF</th>
        <th>OC/ODV</th>
        <th>Cliente</th>
        <th>Detalle</th>
        <th><%= etp[parseInt(etapa)-1]%></th>
        <th>Peso Pieza (kg)</th>
        <th>Peso (kg)</th>
        <th>Fecha <%= etp_f[parseInt(etapa)-1]%></th>
    </tr>
    </thead>
    <tbody>
    <%
    var kilos_totales = 0;
    var piezas_totales = 0;
    for(var i=0; i < data.length; i++){%>
        <tr class="o_data_row select-desp" data-state="nosele">
            <td><%= data[i].idorden_f%></td>
            <td><%= data[i].numoc%></td>
            <td><%= data[i].sigla%></td>
            <td><%= data[i].detalle%></td>
            <td class="parsear_nro body_p" data-cs="0" data-val="<%= data[i].enviados%>" style="text-align: center;"><%= data[i].enviados%></td>
            <td class="parsear_nro" data-cs="1" style="text-align: center;"><%= data[i].peso%></td>
            <% kilos_totales += (data[i].peso*data[i].enviados);
               piezas_totales += data[i].enviados;%>
            <td class="parsear_nro body_k" data-cs="0" data-val="<%= data[i].peso*data[i].enviados%>" style="text-align: center;"><%= data[i].peso*data[i].enviados%></td>
            <td style="text-align: left" data-order="<%= new Date(data[i].mov_fecha).getTime()%>"><%= fechaEspañol(data[i].mov_fecha)%></td>
        </tr>
    <%}%>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="footer_pt" class="parsear_nro" data-cs="0" style="text-align: center"><%= piezas_totales%></td>
            <td></td>
            <td id="footer_kt" class="parsear_nro" data-cs="0" style="text-align: center"><%= kilos_totales%></td>
            <td></td>
        </tr>
    </tfoot>
</table>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    var total_piezas = parseFloat('<%=piezas_totales%>');
    var total_peso = parseFloat('<%=kilos_totales%>');
    setDataTableFixed("#DataTableFabs");
    busc.setIndicadorPaginas(parseInt('<%= data.length%>'), ".indicador_paginas");


    var mouseDown = 0;
    document.body.onmousedown = function() {
        mouseDown = 1;
    }
    document.body.onmouseup = function() {
        mouseDown = 0;
    }
    $(".select-desp").mouseenter(function(){
        if(mouseDown == '1'){
            $(this).toggleClass('danger');
        }
        refreshSumas();

    });
    $(".select-desp").mousedown(function(){
        $(this).toggleClass('danger');
        refreshSumas();

    });
    function refreshSumas(){
        var body_p = 0;
        var body_k = 0;
        var no_p = true;
        var no_k = true;
        $(".body_p").each(function(){
            if($(this).parent().hasClass('danger')){
                body_p += $(this).data('val');
                no_p = false;
            }
        });
        $(".body_k").each(function(){
            if($(this).parent().hasClass('danger')) {
                body_k += $(this).data('val');
                no_k = false;
            }
        });

        if( no_p || no_k ){
            $("#footer_pt").html(parsear_nro(total_piezas, 0));
            $("#footer_kt").html(parsear_nro(total_peso, 2));
        }
        else{
            $("#footer_pt").html(parsear_nro(body_p, 0));
            $("#footer_kt").html(parsear_nro(body_k, 2));
        }

    }
    var dimensiones = {clase: [], ancho: []};
    function getMedidas(){
        dimensiones.clase = [];
        dimensiones.ancho = [];
        $("#pietabla tr td").each(function () {
            dimensiones.clase.push($(this).attr('id'));
            dimensiones.ancho.push($("." + $(this).attr('id')).width());
        });
    }
    function ini_table(str) {
        $("#pietabla").css('position', 'fixed');
        $(".fixed_table").width($(str).width());
        $(".fixed_table").css('left', $(".o_sub_menu").width());
        getMedidas();
        for (var w = 0; w < dimensiones.clase.length; w++) {
            $("#pietabla tr #" + dimensiones.clase[w]).css('width', dimensiones.ancho[w]);
        }
        /*$("#encabezadotabla").css('position', 'fixed');
        for (var w = 0; w < dimensiones.clase.length; w++) {
            $("#cuerpotabla tr ." + dimensiones.clase[w]).css('width', dimensiones.ancho[w]);
            $("#encabezadotabla tr #cab-" + dimensiones.clase[w]).css('width', dimensiones.ancho[w]);

        }
        for (var w = 0; w < dimensiones.clase.length; w++) {
        }*/
    }
    function submit_form(yo){
        //$("#form"+$(yo).data('idodc')).submit();
        $.ajax({
            type: 'GET',
            url: '/plan/page_of/'+$(yo).data('idodc'),
            success: function(data){
                $(".main-page").html(data);
            }
        });
    }
    function parsear_nro(x, cs){
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        if(parts.length > 1){
            if(parts[1].length >= cs){
                parts[1] = parts[1].substring(0,cs);
            }
            else{
                parts[1] = parts[1]+'0'.repeat(cs-parts[1].length);
            }
        }
        else{
            parts[1] = '0'.repeat(cs);
        }
        var num;

        if(cs === 0){
            num =  parts[0];
        }
        else{
            num =  parts.join(",");
        }
        return num;
    }


</script>