<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}

var etp = [
    "Moldes",
    "Fundidos",
    "Quebrados",
    "Terminados",
    "Tratados",
    "Maestranza",
    "CC"
];

var etp_f = [
    "Moldeo",
    "Fusión",
    "Quiebre",
    "Terminación",
    "Tratamiento Térmico",
    "Maestranza",
    "CC"
];


function fechaEspañol(date){
    date = new Date(date);
    var meses = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    ];
    var dias = [
        "Domingo",
        "Lunes",
        "Martes",
        "Miercoles",
        "Jueves",
        "Viernes",
        "Sabado"
    ];
    return dias[date.getDay()] +" "+date.getDate()+" de "+meses[date.getMonth()]+" de "+date.getFullYear();
}
%>
<script type="text/javascript">
    $("#DataTableFabs tbody").attr('unselectable','on')
        .css({'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });

    $(".nav-pills").attr('unselectable','on')
        .css({'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });
</script>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTableFabs" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%;margin-top: 0px !important;">
    <thead>
    <tr>
        <th id="cab-numof">OF</th>
        <th id="cab-numitem">Item</th>
        <th id="cab-cliente">Cliente</th>
        <th id="cab-descrip">Descripción</th>
        <th id="cab-subal">Aleación</th>
        <th id="cab-pesoxproducir" style="text-align: center;">Peso unitario</th>
        <th id="cab-solicitados">Solicitados</th>
        <th id="cab-sin_produccion">Por Despachar</th>
        <th id="cab-fundidos">Fundidos</th>
        <th id="cab-xfusion">Por Fundir</th>
        <th id="cab-pesoxfusion">Peso x Fundir</th>
        <th id="cab-en_produccion">En Producción</th>
        <th id="cab-peso" style="text-align: center;">Peso x Despachar</th>
        <th id="cab-pesototal" style="text-align: center;">Peso Despachado</th>
        <th id="cab-stock" style="text-align: center;">Stock</th>
        <th id="cab-f_entrega" style="text-align: center;">Fecha de Entrega</th>
    </tr>
    </thead>
    <tbody>
    <%
    var solic_total = 0;
    var xdesp_total = 0;
    var enpro_total = 0;
    var final_total = 0;
    var pesot_total = 0;
    var pesod_total = 0;
    var xfusion_total = 0;
    var pesoxfusion_total = 0;
    for(var i=0; i < data.length; i++){%>
    <tr class="o_data_row select-desp" <%if(i+1 < data.length && data[i].idordenfabricacion != data[i+1].idordenfabricacion){%>style="border-bottom: 2px dashed grey"<%}%>>
        <td data-toggle="tooltip" title="OF" class="numof" data-order="<%=data[i].idordenfabricacion%>">
            <%if(!data[i].externo){%>
                <a onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>" class="btn btn-xs btn-primary">
                    <%=data[i].idordenfabricacion%>
                </a>
            <%}else{%>
                    <a onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>" class="btn btn-xs btn-primary">
                        <%=data[i].idordenfabricacion%>
                    </a>
            <%}%>
        </td>
        <%
            solic_total += data[i].solicitados;
            xdesp_total += data[i].xdespachar;
            enpro_total += data[i].enproduccion;
            final_total += data[i].finalizados;
            pesot_total += (data[i].peso*data[i].xdespachar);
            pesod_total += (data[i].peso*data[i].despachados);
            xfusion_total += (data[i].solicitados - data[i].fundidos);
            pesoxfusion_total += (data[i].solicitados - data[i].fundidos)*data[i].peso;
        %>
        <td data-toggle="tooltip" title="Item" class="numitem" style="text-align: center;"><%=data[i].numitem%></td>
        <td data-toggle="tooltip" title="Cliente" class="cliente" data-toggle="tooltip" data-placement="top" title="<%=data[i].razon%>"><%=data[i].sigla%></td>
        <td data-toggle="tooltip" title="Descripción" class="descrip" ><%=data[i].detalle%></td>
        <td data-toggle="tooltip" title="Aleación" class="subal" ><%=data[i].subaleacion%></td>
        <td data-toggle="tooltip" title="Peso Unitario" class="pesoxproducir parsear_nro" data-cs="0" style="text-align: center;"><%= data[i].peso%></td>
        <td data-toggle="tooltip" title="Solicitados" data-name = "solicitados" class="checkFunction solicitados parsear_nro" data-cs="0" style="text-align: center;" data-valor="<%= data[i].solicitados%>"><%= data[i].solicitados%></td>
        <td data-toggle="tooltip" title="Por Despachar" data-name = "sin_produccion" class="checkFunction sin_produccion parsear_nro" data-cs="0" style="text-align: center;"  data-valor="<%= data[i].xdespachar%>"><%= data[i].xdespachar %></td>
        <td data-toggle="tooltip" title="Fundidos Totales" data-name = "fundidos" class="checkFunction fundidos parsear_nro"  data-cs="0" style="text-align: center;" data-valor="<%= data[i].fundidos%>"><%= data[i].fundidos%></td>
        <td data-toggle="tooltip" title="Por Fundir" data-name = "xfusion" class="checkFunction xfusion parsear_nro" data-cs="0" style="text-align: center;" data-valor="<%=data[i].solicitados - data[i].fundidos%>"><%=data[i].solicitados - data[i].fundidos%></td>
        <td data-toggle="tooltip" title="Peso Por Fundir" data-name = "pesoxfusion" class="checkFunction pesoxfusion parsear_nro" data-cs="2" style="text-align: center;" data-valor="<%= (data[i].solicitados - data[i].fundidos)*data[i].peso%>"><%= (data[i].solicitados - data[i].fundidos)*data[i].peso%></td>
        <td data-toggle="tooltip" title="En Producción" data-name = "en_produccion" class="checkFunction en_produccion parsear_nro"  data-cs="0" style="text-align: center;" data-valor="<%= data[i].enproduccion%>"><%= data[i].enproduccion%></td>
        <td data-toggle="tooltip" title="Peso x Despachar" data-name= "peso" class="checkFunction peso parsear_nro" style="text-align: center;"  data-cs="1" data-valor="<%= data[i].peso * data[i].xdespachar%>"><%= data[i].peso * data[i].xdespachar%></td>
        <td data-toggle="tooltip" title="Peso Despachado" data-name= "pesototal" class="checkFunction pesototal parsear_nro"  data-cs="2" style="text-align: center;" data-valor="<%= data[i].peso * data[i].despachados%>"><%= data[i].peso * data[i].despachados%></td>
        <td data-toggle="tooltip" title="Stock" data-cs="0" class="stock parsear_nro" style="text-align: center;" ><%= data[i].stock%></td>
        <td data-toggle="tooltip" title="Fecha de Entrega" class="f_entrega" style="text-align: center;" >
            <span class="cfield_monetary o_field_number o_field_widget o_readonly_modifier" data-order="<%= new Date(data[i].f_entrega).getTime()%>" name="amount_total"> <%= fechaEspañol(data[i].f_entrega) %> </span>
        </td>
    </tr>
    <%}%>
    </tbody>
    <tfoot>
    <tr>
        <td id="numof"></td>
        <td id="numitem"></td>
        <td id="cliente"></td>
        <td id="descrip"></td>
        <td id="subal"></td>
        <td id="pesoxproducir"></td>
        <td id="solicitados" data-toggle="tooltip" title="Totales Solicitados" style="text-align: center;" class="parsear_nro" data-cs="0"><%=solic_total%></td>
        <td id="sin_produccion" data-toggle="tooltip" title="Totales por Despachar" style="text-align: center;" class="parsear_nro" data-cs="0"><%=xdesp_total%></td>
        <td></td>
        <td id="xfusion" data-toggle="tooltip" title="Totales por Fundir" style="text-align: center;" class="parsear_nro" data-cs="0"><%=xfusion_total%></td>
        <td id="pesoxfusion" data-toggle="tooltip" title="Peso por Fundir" style="text-align: center;" class="parsear_nro" data-cs="2"><%=pesoxfusion_total%></td>
        <td id="en_produccion" data-toggle="tooltip" title="Total en Producción" style="text-align: center;" class="parsear_nro" data-cs="0"><%=enpro_total%> </td>
        <td id="peso" data-toggle="tooltip" title="Peso Total por despachar" style="text-align: center;" class="parsear_nro" data-cs="1"><%=pesot_total%> Kg</td>
        <td id="pesototal" data-toggle="tooltip" title="Peso Total despachado" style="text-align: center;" class="parsear_nro" data-cs="2"><%=pesod_total%></td>
        <td id="stock" class="parsear_nro" data-cs="0"></td>
        <td id="f_entrega"></td>
    </tr>
    </tfoot>
</table>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    function parsear_nro(x, cs){
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        if(parts.length > 1){
            if(parts[1].length >= cs){
                parts[1] = parts[1].substring(0,cs);
            }
            else{
                parts[1] = parts[1]+'0'.repeat(cs-parts[1].length);
            }
        }
        else{
            parts[1] = '0'.repeat(cs);
        }
        var num;

        if(cs === 0){
            num =  parts[0];
        }
        else{
            num =  parts.join(",");
        }
        return num;
    }

    setDataTableFixed("#DataTableFabs");
    busc.setIndicadorPaginas(parseInt('<%= data.length%>'), ".indicador_paginas");


    function refreshSumas(){
        var object = {
        "solicitados" : 0,
        "sin_produccion" : 0,
        "xfusion" : 0,
        "pesoxfusion" : 0,
        "en_produccion" : 0,
        "peso": 0,
        "pesototal": 0
        };
        if($('.select-desp.danger').length == 0) {
            $(".checkFunction").each(function(){
                object[$(this).data('name')] += $(this).data('valor');
            });
        }
        else{
            $(".checkFunction").each(function(){
                if($(this).parent().hasClass('danger')){
                        object[$(this).data('name')] += $(this).data('valor');
                }
            });
        }


        $("#solicitados").text(parsear_nro(object.solicitados, 0));
        $("#sin_produccion").text(parsear_nro(object.sin_produccion, 0));
        $("#xfusion").text(parsear_nro(object.xfusion, 0));
        $("#pesoxfusion").text(parsear_nro(object.pesoxfusion, 2));
        $("#en_produccion").text(parsear_nro(object.en_produccion, 0));
        $("#peso").text(parsear_nro(object.peso, 1));
        $("#pesototal").text(parsear_nro(object.pesototal, 2));


    }
    var mouseDown = 0;
    document.body.onmousedown = function() {
        mouseDown = 1;
    }
    document.body.onmouseup = function() {
        mouseDown = 0;
    }
    $(".select-desp").mouseenter(function(){
        if(mouseDown == '1'){
            $(this).toggleClass('danger');
        }
        refreshSumas();

    });
    $(".select-desp").mousedown(function(){
        $(this).toggleClass('danger');
        refreshSumas();

    });

    function submit_form(yo){
        //$("#form"+$(yo).data('idodc')).submit();
        $.ajax({
            type: 'GET',
            url: '/plan/page_of/'+$(yo).data('idodc'),
            success: function(data){
                $(".main-page").html(data);
            }
        });
    }


</script>