<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}
%>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTableFabs" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="margin-top: 7px; width: 100%;">
    <style>

        /*#DataTableFabs tbody tr td  {
            margin: 0;
            padding: auto;
        }
        #DataTableFabs thead tr th  {
            margin: 0;
            padding: auto;
        }
        #DataTableFabs tfoot tr td {
            margin: 0;
            padding: auto;
        }*/
        .order-column:hover{
            cursor: pointer;
        }
        #encabezadotabla{
            z-index: 10;
        }
        #encabezadotabla > tr > th{
            text-align: center;
        }
        #pietabla {
            left:0px;
            bottom:0px;
            height:30px;
            width:100%;
        }
    </style>
    <thead>
    <tr>
        <th id="cab-numof">OF</th>
        <th id="cab-numitem">Item</th>
        <th id="cab-cliente">Cliente</th>
        <th id="cab-descrip">Descripción</th>
        <th id="cab-solicitados">Solicitados</th>
        <th id="cab-sin_produccion">Por Despachar</th>
        <th id="cab-fundidos">Fundidos</th>
        <th id="cab-en_produccion">En Producción</th>
        <th id="cab-pesoxproducir" style="text-align: center;">Peso unitario</th>
        <th id="cab-peso" style="text-align: center;">Peso x Despachar</th>
        <th id="cab-pesototal" style="text-align: center;">Peso Despachado</th>
        <th id="cab-stock" style="text-align: center;">Stock</th>
        <th id="cab-f_entrega" style="text-align: center;">Fecha de Entrega</th>
    </tr>
    </thead>
    <tbody id="cuerpotabla">
    <%
    var solic_total = 0;
    var xdesp_total = 0;
    var enpro_total = 0;
    var final_total = 0;
    var pesot_total = 0;
    var pesod_total = 0;
    for(var i=0; i < data.length; i++){%>
    <tr class="o_data_row" <%if(i+1 < data.length && data[i].idordenfabricacion != data[i+1].idordenfabricacion){%>style="border-bottom: 2px dashed grey"<%}%>>
        <td data-toggle="tooltip" title="OF" class="numof" data-order="<%=data[i].idordenfabricacion%>">
            <%if(!data[i].externo){%>
                <a onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>" class="btn btn-xs btn-primary">
                    <%=data[i].idordenfabricacion%>
                </a>
            <%}else{%>
                    <a onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>" class="btn btn-xs btn-primary">
                        <%=data[i].idordenfabricacion%>
                    </a>
            <%}%>
        </td>
        <%
            solic_total += data[i].solicitados;
            xdesp_total += data[i].xdespachar;
            enpro_total += data[i].enproduccion;
            final_total += data[i].finalizados;
            pesot_total += (data[i].peso*data[i].xdespachar);
            pesod_total += (data[i].peso*data[i].despachados);
        %>
        <td data-toggle="tooltip" title="Item" class="numitem" style="text-align: center;"><%=data[i].numitem%></td>
        <td data-toggle="tooltip" title="Cliente" class="cliente" data-toggle="tooltip" data-placement="top" title="<%=data[i].razon%>"><%=data[i].sigla%></td>
        <td data-toggle="tooltip" title="Descripción" class="descrip" ><%=data[i].detalle%></td>
        <td data-toggle="tooltip" title="Solicitados" data-name = "solicitados" class="checkFunction solicitados parsear_nro" style="text-align: center;" data-valor="<%= data[i].solicitados%>"><%= data[i].solicitados%></td>
        <td data-toggle="tooltip" title="Por Despachar" data-name = "sin_produccion"class="checkFunction sin_produccion parsear_nro" style="text-align: center;"  data-valor="<%= data[i].xdespachar%>"><%= data[i].xdespachar %></td>
        <td data-toggle="tooltip" title="Fundidos Totales" data-name = "fundidos"class="checkFunction fundidos parsear_nro" style="text-align: center;" data-valor="<%= data[i].enproduccion%>"><%= data[i].fundidos%></td>
        <td data-toggle="tooltip" title="En Producción" data-name = "en_produccion"class="checkFunction en_produccion parsear_nro" style="text-align: center;" data-valor="<%= data[i].enproduccion%>"><%= data[i].enproduccion%></td>
        <td data-toggle="tooltip" title="Peso Unitario" class="pesoxproducir parsear_nro" style="text-align: center;"><%= data[i].peso%></td>
        <td data-toggle="tooltip" title="Peso x Despachar" data-name= "peso" class="checkFunction peso parsear_nro" style="text-align: center;" data-valor="<%= data[i].peso * data[i].xdespachar%>"><%= data[i].peso * data[i].xdespachar%></td>
        <td data-toggle="tooltip" title="Peso Despachado" data-name= "pesototal" class="checkFunction pesototal parsear_nro" style="text-align: center;" data-valor="<%= data[i].peso * data[i].despachados%>"><%= data[i].peso * data[i].despachados%></td>
        <td data-toggle="tooltip" title="Stock" class="stock parsear_nro" style="text-align: center;" ><%= data[i].stock%></td>
        <td data-toggle="tooltip" title="Fecha de Entrega" class="f_entrega" style="text-align: center;" >
            <span class="cfield_monetary o_field_number o_field_widget o_readonly_modifier" data-order="<%= new Date(data[i].f_entrega).getTime()%>" name="amount_total"> <%= fechaLatino(new Date(data[i].f_entrega).toLocaleDateString())%> </span>
        </td>
    </tr>
    <%}%>
    </tbody>
    <tfoot id="pietabla" class="fixed_table">
    <tr>
        <td id="numof"></td>
        <td id="numitem"></td>
        <td id="cliente"></td>
        <td id="descrip"></td>
        <td id="solicitados" data-toggle="tooltip" title="Totales Solicitados" style="text-align: center;" class="parsear_nro"><%=solic_total%></td>
        <td id="sin_produccion" data-toggle="tooltip" title="Totales por Moldear" style="text-align: center;" class="parsear_nro"><%=xdesp_total%></td>
        <td id="fundidos" data-toggle="tooltip" title="Fundidos Totales" style="text-align: center;" class="parsear_nro"></td>
        <td id="en_produccion" data-toggle="tooltip" title="Total en Producción" style="text-align: center;" class="parsear_nro"><%=enpro_total%> </td>
        <td id="pesoxproducir"></td>
        <td id="peso" data-toggle="tooltip" title="Peso Total por despachar" style="text-align: center;" class="parsear_nro"><%=pesot_total%> Kg</td>
        <td id="pesototal" data-toggle="tooltip" title="Peso Total despachado" style="text-align: center;" class="parsear_nro"><%=pesod_total%></td>
        <td id="stock"></td>
        <td id="f_entrega"></td>
    </tr>
    </tfoot>
</table>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">

    setDataTableFabricaciones("#DataTableFabs");


    function refreshSumas(){
        var object = {
        "solicitados" : 0,
        "sin_produccion" : 0,
        "en_produccion" : 0,
        "peso": 0,
        "pesototal": 0
        };
        if($('.focus-row').length == 0) {
            $(".checkFunction").each(function(){
                object[$(this).data('name')] += $(this).data('valor');
            });
        }
        else{
            $(".checkFunction").each(function(){
                if($(this).parent().hasClass('focus-row')){
                        object[$(this).data('name')] += $(this).data('valor');
                }
            });
        }


        $("#solicitados").text(object.solicitados);
        $("#sin_produccion").text(object.sin_produccion);
        $("#en_produccion").text(object.en_produccion);
        $("#peso").text(object.peso);
        $("#pesototal").text(object.pesototal);
    }
    var dimensiones = {clase: [], ancho: []};

    function getMedidas(){
        dimensiones.clase = [];
        dimensiones.ancho = [];
        $("#pietabla tr td").each(function () {
            dimensiones.clase.push($(this).attr('id'));
            dimensiones.ancho.push($("." + $(this).attr('id')).width());
        });
    }
    function ini_table(str) {
        $("#pietabla").css('position', 'fixed');
        $(".fixed_table").width($(str).width());
        $(".fixed_table").css('left', $(".o_sub_menu").width());
        getMedidas();
        for (var w = 0; w < dimensiones.clase.length; w++) {
            $("#pietabla tr #" + dimensiones.clase[w]).css('width', dimensiones.ancho[w]);
        }
        /*$("#encabezadotabla").css('position', 'fixed');
        for (var w = 0; w < dimensiones.clase.length; w++) {
            $("#cuerpotabla tr ." + dimensiones.clase[w]).css('width', dimensiones.ancho[w]);
            $("#encabezadotabla tr #cab-" + dimensiones.clase[w]).css('width', dimensiones.ancho[w]);

        }
        for (var w = 0; w < dimensiones.clase.length; w++) {
        }*/
    }
    ini_table("#DataTableFabs");

    $(window).resize(function(){
        //aqui el codigo que se ejecutara cuando se redimencione la ventana
        //setTimeout(function(){getMedidas();ini_table("#DataTableFabs");}, 3000);
        ini_table("#DataTableFabs");
    });
    $(document).ready(function(){
        $('#DataTableFabs tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('success');
            $(this).toggleClass('focus-row');
            refreshSumas();
        });
    });

    function submit_form(yo){
        //$("#form"+$(yo).data('idodc')).submit();
        $.ajax({
            type: 'GET',
            url: '/plan/page_of/'+$(yo).data('idodc'),
            success: function(data){
                $(".main-page").html(data);
            }
        });
    }
    $("#encabezadotabla").affix({
        offset: {
            bottom: function () {
                console.log($('#view_header').outerHeight(true));
                return (this.top = $('#view_header').outerHeight(true))
            }
        }
    });

</script>