    <%console.log(data)%>
        <div class="panel panel-primary cargando-panel" style="display: none;">
            <div class="panel-heading">
                <div style="width: 100%;text-align: center;">
                    <img style="width: 25%" src="/loading.gif">
                </div>
            </div>
        </div>
        <style type="text/css">
            .ped-option{
                cursor: pointer;
            }
        </style>
        <div class="guardado_automatico" style="width: 100%;height: 20px"></div>
        <div class="panel panel-primary panel-defecto">
            <div class="panel-heading">
                <div class="dropdown pull-right">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
                  <ul class="dropdown-menu">
                    <li class="ped-option" onclick="saveState(this)"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadState(this)"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                  </ul>
                </div>
                <div style="display: flex;">
                <div style="width: 50%">
                        <h3 style="width: 100%">Registrar Orden de Compra: 
                    <!--<div>
                        <button class="btn btn-primary" onclick="saveState(this)"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                        <button class="btn btn-primary" onclick="loadState(this)"><i class="glyphicon glyphicon-floppy-open"></i> Cargar</button>
                    </div>-->
                        </h3>
                        <p style="margin-top: 7%; margin-left: 10px">
                          <label>
                            Numeración de Items:<br>  
                            <input type="radio" name="factor_item" value="1" checked> De 1 en 1<br>
                            <input type="radio" name="factor_item" value="10"> De 10 en 10
                          </label>    
                        </p>
                </div>
                <div style="width: 50%;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="setdates">
                                    Ingresar fecha para todos: 
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                    <input type="date" id="setdates" class="form-control input-sm pull-right" data-toggle="tooltip" data-placement="top" title="Fijar fechas para todos" style="height: 32px">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="width: 50%">
                            <label for="moneda">Seleccione Moneda:</label>
                            <select class="form-control" id="moneda">
                                <option value="usd">Dolares (USD)</option>
                                <option value="eur">Euros (EUR)</option>
                                <option value="clp" selected>Pesos Chilenos (CLP)</option>
                                <option value="gbp">Libra (GBP)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="width: 100%">
                      <label for="cliente">Seleccione cliente:</label>
                      <select class="form-control" id="cliente" onchange="compNum(this)">
                      <%for(var e=0; e < cli.length; e++){
                        if(cli[e].idcliente == data['cliente']){%>
                        <option value="<%=cli[e].idcliente%>" selected="selected"><%=cli[e].sigla%> - <%=cli[e].razon%></option>
                      <%}else{%>
                        <option value="<%=cli[e].idcliente%>"><%=cli[e].sigla%> - <%=cli[e].razon%></option>
                      <%}}%>
                    </select>
                    </div>
                </div>
            </div>
        </div>
        <form id="send_of">
            <div style="overflow-y: scroll; max-height: 300px;">
            <table class="table table-striped sectionSave" style="margin: 0">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Fabricación</th>
                    <th>Aleación</th>
                    <th>Fecha de Entrega</th>
                    <th>Cantidad</th>
                    <th>Stock</th>
                    <th>Precio Unitario</th>
                    <th>Bloquear</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="session_fabrs">
                    <%
                    if(typeof data['dets[]'] == 'string'){
                        data['dets[]'] = [data['dets[]']];
                        data['alea[]'] = [data['alea[]']];
                        data['stock[]'] = [data['stock[]']];
                    }
                    if(data['idm[]']){
                        var fabricacion = '';
                        var color = '';
                        for(var e=0; e < data['idm[]'].length; e++){
                            if(data['prov[]'][e] == '-1'){
                                fabricacion = 'Interna';
                                color = 'success';
                            }
                            else{
                                fabricacion = 'Externa';
                                color = 'warning';
                            }
                        %>                
                        <tr class="<%= color%>">
                            <td><%=data['dets[]'][e]%><input type="hidden" name="idm" value="<%=data['idm[]'][e]%>"><input type="hidden" name="idp" value="<%=data['idp[]'][e]%>"></td>
                            <td><strong><%=fabricacion%></strong></td>
                            <td><input type="text" value="<%=data['prov[]'][e]%>" name="prov" style="display:none;"> <%=data['alea[]'][e]%></td>
                            <td style="padding: 3px"><input type="date" name="fechas" class="form-control" min="<%= new Date().toLocaleDateString()%>" required="" value="<%= data['fechas[]'][e]%>"></td>
                            <td style="width: 12%; padding: 3px"><input class="form-control" type="number" name="cants" min="1" required="" value="<%= data['cants[]'][e]%>"></td>
                            <td class="parsear_nro"><%= data['stock[]'][e]%></td>
                            <td style="width: 12%; padding: 3px"><input type="number" name="precio" class="form-control" min="0" placeholder="Precio" value="<%= data['precio[]'][e]%>"></td>
                            <td style="text-align: center; padding: 5px"><input class="form-control" style="margin-left: 30%; width: 20px; height: 20px;" type="checkbox" name="lock"></td>
                            <td><a onclick="drop(this)" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a></td>
                        </tr>
                    <%}}%>
                </tbody>
            </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="nroordenfabricacion" id="num" style="width:80%" placeholder="N° Orden de Compra" class="form-control" required="" value="<%=data['nroordenfabricacion']%>">
                    </div>
                    <div class="col-md-1 col-md-offset-5" style="padding: 0; padding-right: 8px">
                        <button class="btn btn-success" style="width: 80px" id="of_submit">Crear</button>
                        <div class="contenedor" style="overflow: hidden;height: 0; width: 100%; align-content: center;"><h4 class="mensaje" style="text-align: center;"></h4></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        compNum("#cliente");
    });
    function compNum(yo){
        if($("#num").val() != ''){
                $.ajax({
                    type: 'GET',
                    url: '/plan/found_num/'+$("#num").val()+'/'+$(yo).val(),
                    success: function(data){
                        if(data == 'colapse'){
                            $('.mensaje').html("Número No Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', true);
                        }
                        else{
                            $('.mensaje').html("Número Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', false);    
                        }
                    }
                });
            }
            else{
                $(".contenedor").css('height', '0px');
                $("#of_submit").prop('disabled', false);
            }
    }
    $("#num").on('keyup', function(e){
            e.preventDefault();
            if($(this).val() != ''){
                $.ajax({
                    type: 'GET',
                    url: '/plan/found_num/'+$(this).val()+'/'+$("#cliente").val(),
                    success: function(data){
                        if(data == 'colapse'){
                            $('.mensaje').html("Número No Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', true);
                        }
                        else{
                            $('.mensaje').html("Número Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', false);    
                        }
                    }
                });
            }
            else{
                $(".contenedor").css('height', '0px');
                $("#of_submit").prop('disabled', false);
            }
    });
    $("#setdates").on('change',function(){
        var valor = $(this).val();
        $("input[type=date]").each(function(e){
            $(this).val(valor);
        });
    });


    $("#send_of").submit(function(e){
        e.preventDefault();
        lista = $(this).serializeArray();
        console.log(lista);
        var data = {
            idm: [],
            idp: [],
            fechas: [],
            cants: [],
            cliente: $("#cliente").val(),
            moneda: $("#moneda").val(),
            factor_item: $("input[name='factor_item']:checked").val(),
            prov: [],
            precio: [],
            lock: []
        }
        for(var i =0;i<$(this).serializeArray().length;i++){
            if(lista[i].name != 'nroordenfabricacion'){
                if(lista[i].name == 'precio' && (lista[i].value == null || lista[i].value == '') ){
                    data[lista[i].name].push(0);
                }
                else{
                    data[lista[i].name].push(lista[i].value);
                }
            } else{
                data[lista[i].name] = lista[i].value;
            }
        }
        data.lock = [];
        $("#send_of :checkbox").each(function(){
           if($(this).is(':checked')){
             data.lock.push('1');
           }
           else{
             data.lock.push('0');  
           }
           //console.log($(this).val());
        });
        console.log(data);
        if(confirm("¿Esta seguro que desea crear la OC?")){
            $.ajax({
                type: 'POST',
                data: data,
                url: '/plan/crear_odc',
                success: function(data){
                    if(data == 'error'){
                        alert("La OC que intenta crear es inválida");
                    } 
                    else{
                        var input = [$("#cliente").val(), $("#num").val()];
                        io.emit('abastNotificacion', input);
                        if(data != 'none'){
                            data = [data, $("#cliente").val()];
                            emitToast(data);
                        }
                        $.ajax({
                            type: 'GET',
                            url: '/plan/lanzar_of/pedido',
                            success: function(html){    
                                    $("#page-wrapper").html(html);
                            }
                        });
                    }
                }
            });
        }
    });
</script>