     <div class="panel panel-primary cargando-panel" style="display: none;">
            <div class="panel-heading">
                <div style="width: 100%;text-align: center;">
                    <img style="width: 25%" src="/loading.gif">
                </div>
            </div>
        </div>
        <style type="text/css">
            .ped-option{
                cursor: pointer;
            }
        </style>
        <div class="panel panel-primary panel-defecto" style="margin-top: 35px">
            <div class="panel-heading">
                <div class="dropdown pull-right">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
                  <ul class="dropdown-menu">
                    <li class="ped-option" onclick="saveState(this)"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadState(this)"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                  </ul>
                </div>
                <div style="display: flex;">
                <div style="width: 50%">
                        <h3 style="width: 100%">Registrar Orden de Compra:
                            <small class="guardado_automatico" style="width: 100%;height: 20px; color: white;" style="display: none;"></small></h3>
                    <!--<div>
                        <button class="btn btn-primary" onclick="saveState(this)"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                        <button class="btn btn-primary" onclick="loadState(this)"><i class="glyphicon glyphicon-floppy-open"></i> Cargar</button>
                    </div>-->
                        </h3>
                        <p style="margin-top: 7%; margin-left: 10px" id="p-col">
                          <label>
                            Numeración de Items:<br>  
                            <input type="radio" name="factor_item" value="1" onclick="refreshItemNum();" checked> De 1 en 1<br>
                            <input type="radio" name="factor_item" value="10" onclick="refreshItemNum();"> De 10 en 10
                          </label>    
                        </p>
                </div>
                <div style="width: 50%;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="setdates">
                                    Ingresar fecha para todos: 
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                    <input type="date" id="setdates" class="form-control input-sm pull-right" data-toggle="tooltip" data-placement="top" title="Fijar fechas para todos" style="height: 32px">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="width: 50%">
                            <label for="moneda">Seleccione Moneda:</label>
                            <select class="form-control" id="moneda">
                                <option value="usd">Dolares (USD)</option>
                                <option value="eur">Euros (EUR)</option>
                                <option value="clp" selected>Pesos Chilenos (CLP)</option>
                                <option value="gbp">Libra (GBP)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="width: 100%">
                        <ul class="selector-buscador" role="navigation">
                            <input type="hidden" id="cliente" onchange="compNum(this)" value="0">
                            <li class="dropdown"> <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Seleccionar Cliente<b class="caret caret-select"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                    <li role="presentation" id><a role="menuitem" tabindex="-1" href="#"><input class="form-control" type="text" id="other"></a></li>
                                    <li class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="0">Sin Cliente seleccionado</a></li>
                                        <%for(var e=0; e < cli.length; e++){
                                        if(cli[e].idcliente == data['cliente']){%>
                                            <li onclick='compNum("#cliente");' class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="<%=cli[e].idcliente%>"><%=cli[e].sigla%> - <%=cli[e].razon%></a></li>
                                        <%}else{%>
                                            <li onclick='compNum("#cliente");' class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="<%=cli[e].idcliente%>"><%=cli[e].sigla%> - <%=cli[e].razon%></a></li>
                                        <%}}%>
                                </ul>
                            </li>
                        </ul>
                        <p style="width: 100%; padding-left: 20px" id="cliente-caret">Sin Cliente seleccionado</p>
                        <style>
                            .selector-buscador{
                                margin-left: 0;
                                margin-bottom: 20px;
                                list-style: none;
                                width: 100%;
                            }

                            .selector-buscador ul, ol {
                                padding: 0;
                                margin: 0 0 10px 25px;
                            }

                            .selector-buscador .dropup, .dropdown {
                                position: relative;
                            }
                            .selector-buscador .dropup, .dropdown #drop2{
                                color: white;
                            }

                            .selector-buscador .open>.dropdown-menu {
                                display: block;
                                max-height: 450px;
                                width: 400px;
                                overflow-y: scroll;
                            }

                            .selector-buscador>li>a {
                                display: block;
                            }

                            .selector-buscador .dropdown-menu {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                z-index: 1000;
                                display: none;
                                float: left;
                                min-width: 160px;
                                padding: 5px 0;
                                margin: 2px 0 0;
                                list-style: none;
                                background-color: #ffffff;
                                border: 1px solid #ccc;
                                border: 1px solid rgba(0, 0, 0, 0.2);
                                -webkit-border-radius: 6px;
                                -moz-border-radius: 6px;
                                border-radius: 6px;
                                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                -webkit-background-clip: padding-box;
                                -moz-background-clip: padding;
                                background-clip: padding-box;
                            }

                            .selector-buscador .dropdown-menu .divider {
                                height: 1px;
                                margin: 9px 1px;
                                overflow: hidden;
                                background-color: #e5e5e5;
                                border-bottom: 1px solid #ffffff;
                            }

                            .selector-buscador .dropdown-menu>li>a {
                                display: block;
                                padding: 3px 20px;
                                clear: both;
                                font-weight: normal;
                                line-height: 20px;
                                color: #333333;
                                white-space: nowrap;
                            }
                        </style>
                        <script>
                            var c = 0;
                            $(".selector-buscador input").on('keyup', function(e){
                                e.preventDefault();
                                var valor = $(this).val();
                                var res;
                                $(".option-dropdown").addClass('hidden');
                                $(".selector-buscador li a").each(function(){
                                    res = $(this).html().toUpperCase().includes(valor.toUpperCase());
                                    if(res){
                                        $(this).parent().removeClass('hidden');
                                    }
                                });
                            });
                            $(".option-dropdown a").on('click', function(e){
                                e.preventDefault();
                                $("#cliente").val($(this).data('value'));
                                $("#cliente-caret").html($(this).html());
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <form id="send_of">
            <div style="overflow-y: scroll; max-height: 300px;">
            <table class="o_list_view table table-responsive table-condensed table-striped o_list_view_ungrouped sectionSave" style="margin: 0">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Descripción</th>
                    <th>Fabricación</th>
                    <th>Aleación</th>
                    <th>Fecha de Entrega</th>
                    <th>Cantidad</th>
                    <th>Stock Disponible</th>
                    <th>Precio Unitario</th>
                    <th>Bloquear</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="session_fabrs">
                    <%
                    if(typeof data['dets[]'] == 'string'){
                        data['dets[]'] = [data['dets[]']];
                        data['alea[]'] = [data['alea[]']];
                        data['stock[]'] = [data['stock[]']];
                    }
                    if(data['idm[]']){
                        var fabricacion = '';
                        var color = '';
                        for(var e=0; e < data['idm[]'].length; e++){
                            //PRODUCIDO
                            if(data['prov[]'][e] === 'producido'){
                                fabricacion = 'Interna';
                                color = 'success';
                            }
                            //PRODUCTO
                            else if(data['prov[]'][e] === 'producto'){
                                fabricacion = 'Externa';
                                color = 'warning';
                            }
                            //OTRO
                            else{
                                fabricacion = 'Bodega B.I.';
                                color = 'info';
                            }%>
                        <tr class="<%= color%>">
                            <td class="itemCol" style="text-align: center"><%=e+1%></td>
                            <td><%=data['dets[]'][e]%><input type="hidden" name="idm" value="<%=data['idm[]'][e]%>"><input type="hidden" name="idp" value="<%=data['idp[]'][e]%>"><input type='hidden' name='disp' value="<%= data['stock[]'][e]%>"></td>
                            <td><strong><%=fabricacion%></strong></td>
                            <td><input type="text" value="<%=data['prov[]'][e]%>" name="prov" style="display:none;"> <%=data['alea[]'][e]%></td>
                            <td style="padding: 3px"><input type="date" name="fechas" class="form-control" min="<%= new Date().toLocaleDateString()%>" required="" value="<%= data['fechas[]'][e]%>"></td>
                            <td style="width: 12%; padding: 3px"><input class="form-control" type="number" name="cants" min="1" required="" value="<%= data['cants[]'][e]%>"></td>
                            <td class="parsear_nro" data-cs="0" style="text-align: center"><%= data['stock[]'][e]%></td>
                            <td style="width: 12%; padding: 3px"><input type="number" name="precio" class="form-control" min="0" placeholder="Precio" value="<%= data['precio[]'][e]%>"></td>
                            <td style="text-align: center; padding: 5px"><input class="form-control" style="margin-left: 30%; width: 20px; height: 20px;" type="checkbox" name="lock"></td>
                            <td><a onclick="drop(this);refreshItemNum();" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a></td>
                        </tr>
                    <%}}%>
                </tbody>
            </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="nroordenfabricacion" id="num" style="width:80%" placeholder="N° Orden de Compra" class="form-control" required="" value="<%=data['nroordenfabricacion']%>">
                    </div>
                    <div class="col-md-1 col-md-offset-5" style="padding: 0; padding-right: 8px">
                        <button class="btn btn-success" style="width: 80px" id="of_submit">Crear</button>
                        <div class="contenedor" style="overflow: hidden;height: 0; width: 100%; align-content: center;"><h4 class="mensaje" style="text-align: center;"></h4></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        compNum("#cliente");
    });

    function compNum(yo){
        if($("#num").val() != ''){
                $.ajax({
                    type: 'GET',
                    url: '/plan/found_num/'+$("#num").val()+'/'+$(yo).val(),
                    success: function(data){
                        if(data == 'colapse'){
                            $('.mensaje').html("Número No Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', true);
                        }
                        else{
                            $('.mensaje').html("Número Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', false);    
                        }
                    }
                });
        }
        else{
            $(".contenedor").css('height', '0px');
            $("#of_submit").prop('disabled', false);
        }
    }

    $("#num").on('keyup', function(e){
            e.preventDefault();
            if($(this).val() != ''){
                $.ajax({
                    type: 'GET',
                    url: '/plan/found_num/'+$(this).val()+'/'+$("#cliente").val(),
                    success: function(data){
                        if(data == 'colapse'){
                            $('.mensaje').html("Número No Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', true);
                        }
                        else{
                            $('.mensaje').html("Número Disponible");
                            $(".contenedor").css('height', '40px');
                            $("#of_submit").prop('disabled', false);    
                        }
                    }
                });
            }
            else{
                $(".contenedor").css('height', '0px');
                $("#of_submit").prop('disabled', false);
            }
    });

    $("#setdates").on('change',function(){
        var valor = $(this).val();
        $("input[type=date]").each(function(e){
            $(this).val(valor);
        });
    });


    $("#send_of").submit(function(e){
        e.preventDefault();
        lista = $(this).serializeArray();
        var data = {
            idm: [],
            idp: [],
            fechas: [],
            cants: [],
            cliente: $("#cliente").val(),
            moneda: $("#moneda").val(),
            factor_item: $("input[name='factor_item']:checked").val(),
            //prov INDICA EL TIPO DE FABRICACION
            prov: [],
            precio: [],
            lock: [],
            disp: []
        }
        for(var i =0;i<$(this).serializeArray().length;i++){
            if(lista[i].name != 'nroordenfabricacion'){
                if(lista[i].name == 'precio' && (lista[i].value == null || lista[i].value == '') ){
                    data[lista[i].name].push(0);
                }
                else{
                    data[lista[i].name].push(lista[i].value);
                }
            } else{
                data[lista[i].name] = lista[i].value;
            }
        }
        data.lock = [];
        $("#send_of :checkbox").each(function(){
           if($(this).is(':checked')){
             data.lock.push('1');
           }
           else{
             data.lock.push('0');  
           }
        });

        //COMPRUEBA SI SE HA SELECCIONADO UN CLIENTE, SI NO ES ASI NO PERMITE CREAR OC
        if($("#cliente").val() === '0') {
            Alerta("¡Ingrese Cliente!");
        }
        else{
            if(confirm("¿Esta seguro que desea crear la OC?.\n Se creará una OF con los productos que se necesitan fabricar.")){
                $.ajax({
                    type: 'POST',
                    data: data,
                    url: '/plan/crear_odc',
                    success: function(data){
                        if(data === 'error'){
                            Alerta("La OC que intenta crear es inválida");
                        }
                        else{
                            var input = [$("#cliente").val(), $("#num").val()];
                            io.emit('abastNotificacion', input);
                            if(data !== 'none'){
                                data = [data, $("#cliente").val()];
                                emitToast(data);
                            }
                            $.ajax({
                                type: 'GET',
                                url: '/plan/lanzar_of/pedido',
                                success: function(html){
                                        $("#page-wrapper").html(html);
                                }
                            });
                        }
                    }
                });
            }
        }
    });

    function comprobarCliente(id){
        alert($("#"+id).val());
        alert(typeof $("#"+id).val());
        if($("#"+id).val() === '0'){
            Alerta("¡Ingrese Cliente!");
        }
    }



</script>