<div style="margin-top: 20px">
        <%
          function letraMayus(string) {
             return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
          } 
          function unidades(string){
            if(string=='UN'){return 'unidades';}
            else if(string=='LT'){return 'litros';}
            else{return 'kilos'}
        }

        function numberFormat(numero){
            var resultado = "";
            if(numero[0]=="-")
            {
                nuevoNumero=numero.replace(/\./g,'').substring(1);
            }else{
                nuevoNumero=numero.replace(/\./g,'');
            }
            if(numero.indexOf(",")>=0)
                nuevoNumero=nuevoNumero.substring(0,nuevoNumero.indexOf(","));
     
            for (var j, i = nuevoNumero.length - 1, j = 0; i >= 0; i--, j++)
                resultado = nuevoNumero.charAt(i) + ((j > 0) && (j % 3 == 0)? ".": "") + resultado;
            if(numero.indexOf(",")>=0)
                resultado+=numero.substring(numero.indexOf(","));
            if(numero[0]=="-")
            {
                return "-"+resultado;
            }else{
                return resultado;
            }
        }%>

<h3 class="page-header" style="margin: 0; padding-top: 5% ">Productos fabricados:</h3>
        <%if(prods.length){
            total_fabricados = 0;
        %>
            <table class="table table-hover table-striped table-bordered" id="fabrs_tabl">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Detalle</th>
                            <th>Stock inicial</th>
                            <th>Solicitados por OC</th>
                            <th>Atrasados</th>
                            <th>Necesarios según fabricados</th>
                            <th>Virtuales en produccion</th>
                            <th>Virtuales de ODA</th>
                            <th>Aceptados por CC</th>
                            <th>Recepción GDD</th>
                            <th>Salidas con GDD</th>
                            <th>Stock final</th>
                            <th>Devoluciones BMI</th>
                            <th>Retiros BMI</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% 
                            for(var r = 0;r < prods.length; r++){%>
                                <tr data-idmat="<%= prods[r].idmaterial%>" data-detalle="<%= prods[r].detalle%>">
                                    <td><%= prods[r].codigo%></td>
                                    <td><%= prods[r].detalle%></td>
                                    <td><%= numberFormat(prods[r].s_inicial.toString())%></td>
                                    <td><%= numberFormat(prods[r].solicitados.toString())%></td>
                                    <td><%= numberFormat(prods[r].sol_atr.toString())%></td>
                                    <td><%= prods[r].necesario_neto%></td>
                                    <td><%= prods[r].virtuales%></td>
                                    <td><%= numberFormat(prods[r].virtuales_oda.toString())%></td>
                                    <td><%= numberFormat((prods[r].fabricados).toString())%></td>
                                    <td><%= numberFormat(prods[r].ing_oda.toString())%></td>
                                    <td><%= numberFormat(prods[r].despachados.toString())%></td>
                                    <td><%= numberFormat((prods[r].s_inicial + prods[r].ing_oda + prods[r].sum_dev + prods[r].fabricados - prods[r].despachados - prods[r].sum_sal).toString())%></td>
                                    <td><%= numberFormat(prods[r].sum_dev.toString())%></td>
                                    <td><%= numberFormat(prods[r].sum_sal.toString())%></td>
                                    <% total_fabricados += prods[r].fabricados;%>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>



        <%}%>
</div>
    <!--<button type="button" class="btn btn-success" onclick="cierreMensual()">Descargar Excel</button>-->
<script type="text/javascript">
    setDataTable2("#fabrs_tabl");
</script>
