<%
    function fechaLatino(string){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-')
    }
%>
<style>
    .volver-tabla:hover{
        background-color: rgb(124,123,173);
        color: white;
        cursor: pointer;
    }
    .volver-tabla{
        position: relative;
        left: 10px;
        top: 10px;
        padding: 5px;
        border-radius: 25%;
    }
</style>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>
<div class="o_view_manager_content">
    <i class="fa fa-arrow-left volver-tabla" id="odaBack" onclick="volver_tabla()"></i>
    <div>
        <div class="o_form_view o_sale_order o_form_readonly">
            <div class="o_form_sheet_bg">
                <div class="o_form_sheet">
                    <div class="o_not_full oe_button_box">
                        <div class="o_field_one2many o_field_widget o_invisible_modifier" name="picking_ids"></div>
                        <button class="btn btn-sm oe_stat_button o_invisible_modifier">
                            <div class="fa fa-fw o_button_icon fa-truck"></div>
                            <div name="delivery_count" class="o_field_widget o_stat_info o_readonly_modifier">
                                <span class="o_stat_value">0</span>
                                <span class="o_stat_text">Entrega</span>
                            </div>
                        </button>
                        <button class="btn btn-sm oe_stat_button o_invisible_modifier">
                            <div class="fa fa-fw o_button_icon fa-pencil-square-o"></div>
                            <div name="invoice_count" class="o_field_widget o_stat_info o_readonly_modifier">
                                <span class="o_stat_value">0</span>
                                <span class="o_stat_text">Facturas</span>
                            </div>
                        </button>
                    </div>
                    <div class="oe_title" style="display: flex; margin: 0; width: 100%">
                        <h1>
                            <span class="o_field_char o_field_widget o_readonly_modifier o_required_modifier" name="name" style="display: flex">
                                <small style="font-size: 25px">Orden de Compra N°<%=odc.numoc%></small>
                                <% if(rev.length > 0){%>
                                <select class="form-control rev-select" style="width: 25%; margin-left: 20px">
                                    <option value="0">Revisión Original</option>
                                    <%for(var e = 0; e < odc.idmodificaciones_concat.split(',').length; e++ ){
                                        if(e === odc.idmodificaciones_concat.split(',').length-1){%>
                                        <option value="<%= odc.idmodificaciones_concat.split(',')[e]%>" selected>Revisión N°<%= e + 1%> (Actual)</option>
                                    <%}else{%>
                                        <option value="<%= odc.idmodificaciones_concat.split(',')[e]%>">Revisión N°<%= e + 1%></option>
                                    <%}%>
                                 <%}%>
                                </select>
                                <%}%>
                            </span>
                            <script>
                                var lastEdit = parseInt($(".rev-select").val());
                                var rev = '<%= rev%>';
                                rev = rev.split('&#34;').join('"');
                                rev = JSON.parse(rev);
                                console.log(rev);
                                $(".rev-select").on('change', function(e){
                                   e.preventDefault();
                                   //ID DE MOVIMIENTO
                                   var idmov = parseInt($(this).val());
                                   var key;
                                    if(lastEdit === idmov){
                                        $(".div-button-edit").removeClass('hidden');
                                        $(".oc-edit-col div").each(function(){
                                             $(this).html( parseInt( $(this).data('valor') ));
                                        });
                                    }else{
                                        $(".div-button-edit").addClass('hidden');
                                        $(".oc-edit-col div").each(function(){
                                            key = $(this).parent().data('key');
                                            var yo = this;
                                            //$(this).data('valor', $(this).data('valoraux') );
                                            for(var q=0; q < Object.keys(rev).length; q++ ){
                                                if(Object.keys(rev)[q].split('-')[0] === $(this).parent().parent().children('.oc-edit-col-idped').children('input').val()
                                                    && parseInt(Object.keys(rev)[q].split('-')[1]) > idmov ){
                                                    for(var a=0; a < rev[Object.keys(rev)[q]].length; a++ ){
                                                        if(rev[Object.keys(rev)[q]][a][1] === key){
                                                            $(this).data('valoraux', parseInt( $(this).data('valoraux') ) - parseInt(rev[Object.keys(rev)[q]][a][0]));
                                                            $(this).html( parseInt( $(this).data('valoraux') ) - parseInt(rev[Object.keys(rev)[q]][a][0]) );
                                                            if( a === rev[Object.keys(rev)[q]].length - 1 ){
                                                                $(yo).parent().addClass('danger');
                                                                $(this).html( parseInt( $(this).data('valoraux') ));
                                                                setTimeout(function(){
                                                                    //alert($(yo).html());
                                                                    //$(yo).parent().addClass('danger');
                                                                    $(yo).parent().removeClass('danger');
                                                                }, 1500);
                                                            }
                                                        }
                                                        else if( a === rev[Object.keys(rev)[q]].length - 1 ){
                                                            $(this).html( parseInt( $(this).data('valor') ));
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    }

                                   //console.log(data);
                                });
                            </script>
                        </h1>
                        <style>
                            .edit-icon:hover{
                                background-color: #d4d4d4;
                            }
                        </style>
                        <script>
                                function editarOC(){
                                    var n;
                                    $(".button-edit").toggleClass('hidden');
                                    var c = 0;
                                    $(".oc-edit-col").each(function(){
                                        //CAMBIA EL TIPO DE INPUT
                                        $(this).children('input').toggleClass('hidden');
                                        $(this).children('div').toggleClass('hidden');
                                        //$(this).children('input').attr('type', $(this).children('input').data('input'));
                                    });
                                }
                                function editarOCcancelar(){
                                    var n;
                                    $(".button-edit").toggleClass('hidden');

                                    $(".oc-edit-col").each(function(){
                                        //CAMBIA EL TIPO DE INPUT
                                        $(this).children('input').toggleClass('hidden');
                                        $(this).children('div').toggleClass('hidden');
                                        //$(this).children('input').attr('type', $(this).children('input').data('input'));
                                    });
                                }
                                $("form#formEditOC").submit(function(e){
                                    e.preventDefault();
                                    console.log($(this).serializeArray());
                                    //$("form#formEditOC > table > tbody > tr > td").each(function(){
                                        //alert($(this).html());
                                    //});
                                    var invalidForm = false;
                                    if( confirm("¿Está seguro?") ){
                                        var array = {};
                                        $(".oc-edit-col").each(function(){
                                            if(Object.keys(array).indexOf($(this).children('input').data('nombre')) === -1 ){
                                                array[$(this).children('input').data('nombre')] = [$(this).children('input').val()];
                                            }else{
                                                array[$(this).children('input').data('nombre')].push($(this).children('input').val());
                                            }
                                            //SI EL NUMERO NO CUMPLE CON MAX Y MIN
                                            if(  parseInt($(this).children('input').val()) < parseInt($(this).children('input').data('min')) ){
                                                invalidForm = true;
                                                $(this).children('input').css('color', 'red');
                                            }
                                            else{
                                                $(this).children('input').css('color', 'green');

                                            }
                                        });
                                        if(invalidForm){
                                            Alerta("¡Los Datos Ingresados son Incorrectos!");
                                        }else{
                                            console.log(array);
                                            $.ajax({
                                                type: 'POST',
                                                data: array,
                                                url: '/plan/editar_oc_save',
                                                success: function(data){
                                                    Alerta("¡OC editada con Exito!");
                                                    $(".main-page").html(data);
                                                }
                                            });
                                        }
                                        }
                                });
                                function editarOCfinalizar(){
                                    $("form#formEditOC").submit();
                                }

                        </script>
                        <div class="div-button-edit">
                            <div class="btn-group" style="display: flex;">
                            <button type="button" onclick="editarOC()" class="button-edit btn btn-xs btn-info" style="align-content: center;">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </button>
                            </div>
                            <div class="btn-group" style="display: flex;">
                                <button type="button" onclick="editarOCfinalizar()" class="button-edit hidden btn btn-xs btn-primary" style="align-content: center;height: 50%;">
                                    <i class="fa fa-check"></i> Finalizar
                                </button>
                                <button type="button" onclick="editarOCcancelar()" class="button-edit hidden btn btn-xs btn-danger" style="align-content: center;height: 50%;">
                                    <i class="fa fa-times"></i> Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="o_group">
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1066">Cliente</label>
                                    </td>
                                    <td style="width: 100%;">
                                        <a class="o_form_uri o_field_widget o_readonly_modifier o_required_modifier" href="#id=10&amp;model=res.partner" name="partner_id" id="o_field_input_1066"><%=odc.sigla%><br><%=odc.razon%>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1067" data-original-title="" title="">Dirección factura</label>
                                    </td>
                                    <td style="width: 100%;">
                                        <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=36&amp;model=res.partner" name="partner_invoice_id" id="o_field_input_1067">China Export, Jacob Taylor
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1068" data-original-title="" title="">Dirección de entrega
                                        </label>
                                    </td>
                                    <td style="width: 100%;">
                                        <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=36&amp;model=res.partner" name="partner_shipping_id" id="o_field_input_1068">China Export, Jacob Taylor
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_invisible_modifier o_readonly_modifier o_form_label_empty" for="o_field_input_1069" data-original-title="" title="">Fecha de caducidad
                                        </label>
                                    </td>
                                    <td style="width: 100%;">
                                        <span class="o_field_date o_field_widget o_invisible_modifier o_readonly_modifier o_field_empty" name="validity_date"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_readonly_modifier" for="o_field_input_1070" data-original-title="" title="">Fecha de Creación
                                        </label>
                                    </td>
                                    <td style="width: 100%;">
                                        <span class="o_field_date o_field_widget o_readonly_modifier" name="confirmation_date"><%=fechaLatino(new Date(odc.creacion).toLocaleDateString())%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1071" data-original-title="" title="">Tarifa
                                        </label>
                                    </td>
                                    <td style="width: 100%;">
                                        <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=1&amp;model=product.pricelist" name="pricelist_id" id="o_field_input_1071">Tarifa pública (CLP)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1072">Moneda
                                        </label>
                                    </td>
                                    <td style="width: 100%;">
                                        <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=46&amp;model=res.currency" name="currency_id" id="o_field_input_1072">CLP
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="o_td_label">
                                        <label class="o_form_label o_form_label_empty" for="o_field_input_1073">Plazos de pago
                                        </label>
                                    </td>
                                    <td style="width: 100%;">
                                        <a class="o_form_uri o_field_widget o_field_empty" href="#" name="payment_term_id" id="o_field_input_1073"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="o_notebook">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" disable_anchor="true" href="#notebook_page_1074" role="tab">Líneas del pedido
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" disable_anchor="true" href="#notebook_page_1080" role="tab">Otra información</a>
                            </li>
                        </ul>
                        <div class="tab-content nav nav-tabs">
                            <div class="tab-pane active" id="notebook_page_1074">
                                <div class="o_field_one2many o_field_widget o_field_x2many o_field_x2many_list" name="order_line">
                                    <div class="o_x2m_control_panel">
                                        <div class="o_cp_buttons"></div>
                                        <div class="o_cp_pager">
                                            <div class="o_hidden">
                                                <span class="o_pager_counter">
                                                    <span class="o_pager_value"></span> / <span class="o_pager_limit"></span>
                                                </span>
                                                <span class="btn-group btn-group-sm">
                                                    <button aria-label="Previous" class="fa fa-chevron-left btn btn-icon o_pager_previous" type="button"></button>
                                                    <button aria-label="Next" class="fa fa-chevron-right btn btn-icon o_pager_next" type="button"></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <%
                                        var clase = '';
                                        if(username !== 'plan'){
                                            clase = 'hidden'
                                        }%>
                                        <form id="formEditOC">
                                        <table id="tablaOC" class="o_list_view table table-condensed table-striped o_list_view_ungrouped">
                                            <thead>
                                                <tr>
                                                    <th class="o-sort-up o_column_sortable hidden" style="text-align: right;"></th>
                                                    <th class="o_column_sortable" style="text-align: left;">Item</th>
                                                    <th class="o_column_sortable" style="text-align: left;">Descripción</th>
                                                    <th class="o_column_sortable hidden">Cantidad Antes</th>
                                                    <th class="o_column_sortable hidden">Precio Antes</th>
                                                    <th class="o_column_sortable">Cantidad</th>
                                                    <th class="o_column_sortable" style="text-align: center;">Despachados</th>
                                                    <th class="o_column_sortable" style="text-align: center;">Sin Producir</th>
                                                    <th class="o_column_sortable <%= clase%>" style="text-align: center;">Precio Unidad</th>
                                                    <th class="o_column_sortable <%= clase%>" style="text-align: center;">Precio Total</th>
                                                    <th class="o_column_sortable" style="text-align: center;">Unidad</th>
                                                    <th class="o_column_sortable" style="text-align: center;">Fecha de Entrega</th>
                                                    <th class="o_column_sortable" style="text-align: center;">Días Restantes</th>

                                                    <th class="oc-edit-col hidden">
                                                        <input type="hidden" name="idodc" class="form-control input-xs" data-nombre="idodc" data-min="0" data-input="hidden" data-valor="<%=odc.idodc%>" value="<%=odc.idodc%>">
                                                    </th>
                                                    <!--<th class="o_column_sortable">Impuestos</th>
                                                    <th class="o_column_sortable" style="text-align: right;">Subtotal</th>-->
                                                </tr>
                                            </thead>
                                            <tbody class="ui-sortable">
                                                <%
                                                var precio_total = 0;
                                                var clase_color = 'success';
                                                for(var e=0; e < ped.length; e++){
                                                    if(ped[e].dias < 0 && ped[e].cantidad > ped[e].despachados){clase_color='danger';}
                                                    else if( (ped[e].dias >= 0 && ped[e].dias <= 10) && (ped[e].cantidad > ped[e].despachados) ){clase_color='warning';}
                                                    else{clase_color='success';}%>
                                                    <tr class="o_data_row text-info <%=clase_color%>">
                                                        <td class="o_data_cell o_list_number o_handle_cell oc-edit-col hidden">
                                                            <input class="form-control input-xs" type="hidden" name="idmaterial<%= e%>" data-nombre="idmaterial" min="0" data-input="hidden" data-valor="<%=ped[e].idmaterial%>" value="<%=ped[e].idmaterial%>">
                                                        </td>
                                                        <td class="o_data_cell o_list_number o_handle_cell oc-edit-col oc-edit-col-idped hidden">
                                                            <input class="form-control input-xs" type="hidden" name="idpedido<%= e%>" min="0" value="<%=ped[e].idpedido%>" data-nombre="idpedido" data-input="hidden" data-valor="<%=ped[e].idpedido%>">
                                                        </td>
                                                        <td class="o_data_cell o_required_modifier" style="text-align: center;"><%=ped[e].numitem%></td>
                                                        <td class="o_data_cell o_required_modifier" style="text-align: center;"><%=ped[e].detalle%></td>
                                                        <td class="o_data_cell o_list_number o_required_modifier oc-edit-col hidden">
                                                            <input class="form-control input-xs" type="hidden" name="cantidad_a<%= e%>" value="<%=ped[e].cantidad%>" data-nombre="cantidad_a" data-min="0" data-input="number" data-valor="<%=ped[e].cantidad%>">
                                                        </td>
                                                        <td class="o_data_cell o_list_number o_required_modifier oc-edit-col hidden" style="text-align: center;">
                                                            <input class="form-control input-xs" type="hidden" name="precio_a<%= e%>" data-min="0" value="<%=ped[e].precioOC%>" data-nombre="precio_a" data-input="number" data-valor="<%=ped[e].precioOC%>">
                                                        </td>
                                                        <td class="o_data_cell o_list_number o_required_modifier oc-edit-col" data-key="cant" style="text-align: center;">
                                                            <input class="form-control input-xs hidden" type="number" name="cantidad<%= e%>" min="<%= Math.max(ped[e].cantidad - ped[e].restantes_fabricaciones, ped[e].despachados)%>" value="<%=ped[e].cantidad%>" data-min="<%= Math.max(ped[e].cantidad - ped[e].restantes_fabricaciones, ped[e].despachados)%>"  data-input="number" data-valor="<%=ped[e].cantidad%>" data-nombre="cantidad" required> <div data-valor="<%= ped[e].cantidad%>" data-valoraux="<%= ped[e].cantidad%>"><%=ped[e].cantidad%></div>
                                                        </td>
                                                        <td class="o_data_cell o_list_number o_readonly_modifier" style="text-align: center;"><%=ped[e].despachados%></td>
                                                        <td class="o_data_cell o_list_number o_readonly_modifier" style="text-align: center;"><%=ped[e].restantes_fabricaciones%></td>
                                                        <td class="o_data_cell o_list_number o_readonly_modifier oc-edit-col <%= clase%>" data-key="cost" style="text-align: center;">
                                                            <input type="number" name="precio<%= e%>" class="form-control input-xs hidden" min="0" data-nombre="precio" data-input="number" data-valor="<%= ped[e].precioOC%>" value="<%= ped[e].precioOC%>"> <div data-valor="<%= ped[e].precioOC%>" data-valoraux="<%= ped[e].precioOC%>"><%= ped[e].precioOC%></div>
                                                        </td>
                                                        <%precio_total += ped[e].precioOC*ped[e].cantidad%>
                                                        <td class="o_data_cell o_list_number o_readonly_modifier parsear_nro <%= clase%>" style="text-align: center;"><%=ped[e].precioOC*ped[e].cantidad%></td>
                                                        <td class="o_data_cell o_list_number o_readonly_modifier" style="text-align: center;"><%=ped[e].u_medida%></td>
                                                        <td class="o_data_cell o_list_text o_required_modifier" data-name="entrega" data-min="0" data-input="date" data-order="<%= new Date(ped[e].f_entrega).getTime()%>" data-valor="<%=fechaLatino(new Date(ped[e].f_entrega).toLocaleDateString())%>" style="text-align: center;"><%=fechaLatino(new Date(ped[e].f_entrega).toLocaleDateString())%></td>
                                                        <td class="o_data_cell o_list_text o_required_modifier" style="text-align: center;"><%=ped[e].dias%></td>
                                                    </tr>
                                                <%}%>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="<%= clase%>"></td>
                                                    <td class="parsear_nro <%= clase%>" style="text-align: center"><%= precio_total%></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <span class="o_field_text o_field_widget o_field_empty oe_inline" name="note"></span>
                            <div class="oe_clear"></div>

                            <div class="tab-pane" id="notebook_page_1080">
                                <div class="o_group">
                                    <table class="o_group o_inner_group o_group_col_6">
                                        <tbody>
                                        <tr>
                                            <td colspan="2" style="width: 100%;">
                                                <div class="o_horizontal_separator">Información de envio</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1081">Inventario</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" href="#id=1&amp;model=stock.warehouse" name="warehouse_id" id="o_field_input_1081">YourCompany</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_form_label_empty" for="o_field_input_1082" data-original-title="" title="">Incoterms</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span name="incoterm" class="o_field_widget o_invisible_modifier o_field_empty"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1083">Política de entrega</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span name="picking_policy" class="o_field_widget o_readonly_modifier o_required_modifier">Despachar cada producto cuando se encuentre disponible</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="o_group o_inner_group o_group_col_6">
                                        <tbody>
                                        <tr>
                                            <td colspan="2" style="width: 100%;">
                                                <div class="o_horizontal_separator">Información de ventas</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label" for="o_field_input_1084">Vendedor</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget" href="#id=5&amp;model=res.users" name="user_id" id="o_field_input_1084">Demo User</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_form_label_empty" for="o_field_input_1085">Etiquetas</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <div class="o_field_many2manytags o_field_widget o_field_empty" name="tag_ids">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label" for="o_field_input_1086">Canal de ventas</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget" href="#id=3&amp;model=crm.team" name="team_id" id="o_field_input_1086">América</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_form_label_empty" for="o_field_input_1087">Referencia cliente</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span class="o_field_char o_field_widget o_field_empty" name="client_order_ref"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier" for="o_field_input_1088">Compañía</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier" href="#id=1&amp;model=res.company" name="company_id" id="o_field_input_1088">YourCompany</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_readonly_modifier o_form_label_empty" for="o_field_input_1089" data-original-title="" title="">Cuenta analítica</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier o_readonly_modifier o_field_empty" href="#" name="analytic_account_id" id="o_field_input_1089"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="o_group o_inner_group o_group_col_6">
                                        <tbody>
                                        <tr>
                                            <td colspan="2" style="width: 100%;">
                                                <div class="o_horizontal_separator">Facturando</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_readonly_modifier o_required_modifier" for="o_field_input_1090">Fecha orden</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span class="o_field_date o_field_widget o_invisible_modifier o_readonly_modifier o_required_modifier" name="date_order">28/09/2018 13:22:44</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_form_label_empty" for="o_field_input_1091">Posición fiscal</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_field_empty" href="#" name="fiscal_position_id" id="o_field_input_1091"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_readonly_modifier" for="o_field_input_1092">Estado de facturación</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span name="invoice_status" class="o_field_widget o_readonly_modifier">Para facturar</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="o_group o_inner_group o_invisible_modifier o_group_col_6">
                                        <tbody>
                                        <tr>
                                            <td colspan="2" style="width: 100%;">
                                                <div class="o_horizontal_separator">Informes</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_form_label_empty" for="o_field_input_1093" data-original-title="" title="">Documento origen</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <span class="o_field_char o_field_widget o_invisible_modifier o_field_empty" name="origin"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_form_label_empty" for="o_field_input_1094" data-original-title="" title="">Campaign</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier o_field_empty" href="#" name="campaign_id" id="o_field_input_1094"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_form_label_empty" for="o_field_input_1095" data-original-title="" title="">Medium</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier o_field_empty" href="#" name="medium_id" id="o_field_input_1095"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_form_label_empty" for="o_field_input_1096" data-original-title="" title="">Source</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier o_field_empty" href="#" name="source_id" id="o_field_input_1096"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="o_td_label">
                                                <label class="o_form_label o_invisible_modifier o_form_label_empty" for="o_field_input_1097" data-original-title="" title="">Oportunidad</label>
                                            </td>
                                            <td style="width: 100%;">
                                                <a class="o_form_uri o_field_widget o_invisible_modifier o_field_empty" href="#" name="opportunity_id" id="o_field_input_1097"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o_chatter oe_chatter">
        <div class="o_mail_activity o_field_widget" name="activity_ids"></div>
        <div class="o_mail_thread"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
        //setDataTable("#tablaOC");
    });

</script>