<%
	function fechaLatino(string){
		return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-') 
	}
	function diff_indays(date1){
		dt1 = new Date();
		dt2 = new Date(date1);
		return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
		}
%>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTablePeds" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="margin-top: 7px">
		<style>
			.order-column:hover{
				cursor: pointer;
			}
		</style>
		<thead>
			<tr>
				<th class="o_column_sortable order-column" data-order="odc.numoc-ASC">N° de OC</th>
				<th class="o_column_sortable order-column" data-order="odc.numoc-ASC">N° OFS</th>
				<th class="o_column_sortable order-column" data-order="odc.numoc-ASC">N° Item</th>
				<th class="o_column_sortable order-column" data-order="cliente.razon-ASC">Cliente</th>
				<th class="o_column_sortable order-column" data-order="material.detalle-ASC">Descripción</th>
				<th class="o_column_sortable order-column" data-order="pedido.cantidad-ASC">Solicitados</th>
				<th class="o_column_sortable order-column" data-order="pedido.despachados-ASC">Despachados</th>
				<th class="o_column_sortable order-column" style="text-align: center;" data-order="pedido.f_entrega-DESC">Fecha de Entrega</th>
				<th class="o_column_sortable order-column" style="text-align: center;" data-order="odc.creacion-ASC">Fecha de Creación</th>
				<th class="o_column_sortable order-column" data-order="cliente.razon-ASC">Estado</th>
			</tr>
		</thead>
	<tbody class="ui-sortable">
		<%var clase;
		var estado;
		for(var i=0; i < data.length; i++){
			if(parseInt(data[i].despachados) < parseInt(data[i].cantidad)  && diff_indays(data[i].f_entrega) < 10 && diff_indays(data[i].f_entrega)>=0 ){
				clase = 'warning';
				estado = 'Pronta Entrega';
			}else if(parseInt(data[i].despachados) < parseInt(data[i].cantidad)  && diff_indays(data[i].f_entrega) < 0 ){
				clase = 'danger';
				estado = 'Atrasado';
			}else if(parseInt(data[i].despachados) == parseInt(data[i].cantidad)){
				clase = 'success';
				estado = 'Finalizado';
			}else{
				clase = 'success';
				estado = 'Más de 10 días';
			}%>
		<tr class="o_data_row <%=clase%>" <%if(i+1 < data.length && data[i].numoc != data[i+1].numoc){%>style="border-bottom: 2px dashed grey"<%}%>>
			<td class="o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].numoc%></td>
			<td class="o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].oefes%></td>
			<td class="o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].numitem%></td>
			<td class="o_data_cell o_readonly_modifier"><%=data[i].sigla%></td>
			<td class="o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].detalle%></td>
			<td class="o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;"><%= data[i].cantidad %></td>
			<td class="o_data_cell parsear_nro" style="text-align: center;"><%= data[i].despachados %></td>
			<td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" data-order="<%= new Date(data[i].f_entrega).getTime()%>" style="text-align: center;">
				<span class="o_field_monetary o_field_number o_field_widget o_readonly_modifier" name="amount_total"><%= fechaLatino(new Date(data[i].f_entrega).toLocaleDateString() )%></span>
			</td>
			<td class="o_data_cell o_list_number o_monetary_cell o_readonly_modifier" data-order="<%= new Date(data[i].creacion).getTime()%>" style="text-align: center;">
				<span class="o_field_monetary o_field_number o_field_widget o_readonly_modifier" name="amount_total"><%= fechaLatino(new Date(data[i].creacion).toLocaleDateString() )%></span>
			</td>
			<td><%= estado%></td>
		</tr>
		<%}%>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<!--<td class="o_list_number" title="Total sin producir">124.021,00</td>-->
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    setDataTableMain("#DataTablePeds");

	function submit_form(yo){
		//$("#form"+$(yo).data('idodc')).submit();
		$.ajax({
			type: 'GET',
			url: '/plan/page_oc/'+$(yo).data('idodc'),
			success: function(data){
				$(".main-page").html(data);	
			}
		});
	}
</script>