<%
	function fechaLatino(string){
	    if(string.split('-').length == 3){
			return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
		}
		else{
			return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
		}
	}
%>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTableFabs" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="margin-top: 7px">
	<style>
		.order-column:hover{
			cursor: pointer;
		}
	</style>
	<thead style="/*position: fixed; width: 100%*/">
			<tr>
                <th id="numof" class="cabecera o_column_sortable order-column" data-order="ordenfabricacion.idordenfabricacion-ASC">N째 OF</th>
				<th id="numoc" class="cabecera o_column_sortable order-column" data-order="ordenfabricacion.idordenfabricacion-ASC">N째 OC</th>
				<th id="descrip" class="cabecera o_column_sortable order-column" data-order="material.detalle-ASC">Descripci처n</th>
				<th id="solicitados" class="cabecera o_column_sortable order-column" data-order="fabricaciones.cantidad-ASC">Solicitados</th>
				<th id="sin_produccion" class="cabecera o_column_sortable order-column" data-order="fabricaciones.restantes-ASC">Por Producir</th>
				<th id="sin_produccion" class="cabecera o_column_sortable order-column" data-order="fabricaciones.restantes-ASC">En Producci처n</th>
				<th id="sin_produccion" class="cabecera o_column_sortable order-column" data-order="fabricaciones.restantes-ASC">Finalizados</th>
				<!--<th id="p_terminado" class="cabecera o_column_sortable" data-order="fabricaciones.restantes-ASC">PT</th>
				<th id="planta" class="cabecera o_column_sortable" data-order="fabricaciones.restantes-ASC">Planta</th>-->
				<th id="f_creacion" class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="ordenfabricacion.creacion-ASC">Peso Total</th>
				<th id="f_entrega" class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="fabricaciones.f_entrega-DESC">Fecha de Entrega</th>
				<%if(user.nombre != 'siderval'){%>
					<th id="habilitar_cand" class="cabecera o_column_sortable order-column" style="text-align: center;" data-order="fabricaciones.lock-ASC">Habilitar</th>
				<%}%>
			</tr>
		</thead>
	<tbody class="ui-sortable" style="margin-top: 10px">
		<%for(var i=0; i < data.length; i++){%>
			<tr class="o_data_row" <%if(i+1 < data.length && data[i].idordenfabricacion != data[i+1].idordenfabricacion){%>style="border-bottom: 2px dashed grey"<%}%>>
					<td class="numof o_data_cell o_readonly_modifier o_required_modifier" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%=data[i].idordenfabricacion%></td>
					<td class="numoc o_data_cell o_readonly_modifier o_required_modifier" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%=data[i].numoc%></td>
					<td class="descrip o_data_cell o_readonly_modifier o_required_modifier" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%=data[i].detalle%></td>
					<td class="solicitados o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%= data[i].cantidad %></td>
					<td class="sin_produccion o_data_cell parsear_nro" style="text-align: center;" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%= data[i].restantes %></td>
					<td class="en_produccion o_data_cell parsear_nro" style="text-align: center;" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%= data[i].cantidad - data[i].restantes - data[i].finalizados%></td>
					<td class="finalizado o_data_cell parsear_nro" style="text-align: center;" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%= data[i].finalizados%></td>
					<td class="pesoxproducir o_data_cell parsear_nro" style="text-align: center;" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>"><%= data[i].peso * data[i].restantes%></td>
					<td class="f_entrega o_data_cell o_list_number o_monetary_cell o_readonly_modifier" style="text-align: center;" onclick="submit_form(this)" data-idodc="<%= data[i].idordenfabricacion%>">
						<span class="cfield_monetary o_field_number o_field_widget o_readonly_modifier" data-order="<%= new Date(data[i].f_entrega).getTime()%>" name="amount_total"> <%= fechaLatino(new Date(data[i].f_entrega).toLocaleDateString())%> </span>
					</td>
					<%
					if(user.nombre != 'siderval'){
						if(data[i].externo == '0' && data[i].restantes > 0 ){
							if(data[i].lock == '0'){%>
								<td class="habilitar_cand o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center;">
									<button class="btn btn-xs btn-primary" onclick="habFabricacion(this)" data-state="0" data-id="<%= data[i].idfabricaciones%>">
										<i class="fa fa-unlock"></i>
									</button>
								</td>
							<%}else{%>
								<td class="habilitar_cand o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center;">
									<button class="btn btn-xs btn-danger"  onclick="habFabricacion(this)" data-state="1" data-id="<%= data[i].idfabricaciones%>">
										<i class="fa fa-lock"></i>
									</button>
								</td>
							<%}
						}else{%>
								<td class="habilitar_cand o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center;">
									<button class="btn btn-xs btn-danger">
										<i class="fa fa-ban"></i>
									</button>
								</td>
						<%}%>
					<%}%>
            </tr>
		<%}%>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<!--<td class="o_list_number" title="Total sin producir">124.021,00</td>-->
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<%if(user.nombre != 'siderval'){%>
				<td></td>
			<%}%>
		</tr>
	</tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    setDataTableMain("#DataTableFabs");
    $(document).ready(function(){
        /*$(".order-column").removeClass('o-sort-up');
        $(".order-column").removeClass('o-sort-down');
        $(".order-column").each(function(){
            //$(this).css("width", $("."+$(this).attr('id')).css('width'));

            if($(this).data('order').split('-')[0] == "< key.split('-')[0]>" ){
                if("< key.split('-')[1]>" == "ASC"){
                    $(this).addClass('o-sort-up');
                    $(this).data('order', '< key.split("-")[0]>-DESC');
                }
				else{
                    $(this).addClass('o-sort-down');

                    $(this).data('order', '< key.split("-")[0]>-ASC');
                }
            }
        });*/
    });
	/*$(".order-column").on('click', function(e){
		e.preventDefault();
		var item = this;
		var orden = $(this).data('order');
		var showPend = $("#pend").is(':checked'); 
		$.ajax({
			type: 'GET',
			url: '/plan/table_fabricaciones/'+orden+'/'+showPend,
			success: function(data){
				$(".main-page").html(data);
			}
		});
	});*/


	function submit_form(yo){
		//$("#form"+$(yo).data('idodc')).submit();
		$.ajax({
			type: 'GET',
			url: '/plan/page_of/'+$(yo).data('idodc'),
			success: function(data){
				$(".main-page").html(data);	
			}
		});
	}

    function habFabricacion(yo){
        var lock = $(yo).data('state');
        var idfab = $(yo).data('id');
        $.ajax({
            type: 'POST',
            data: {lock: lock, idfab: idfab},
            url: '/plan/habilitar_fabricacion',
            success: function(data){
                if(lock == '1'){
                    $(yo).children('i').removeClass('fa-lock');
                    $(yo).children('i').addClass('fa-unlock');
                    $(yo).removeClass('btn-danger');
                    $(yo).addClass('btn-primary');
                    $(yo).data('state', '0');
                    emitToastCount();
                }
                else{
                    $(yo).children('i').removeClass('fa-unlock');
                    $(yo).children('i').addClass('fa-lock');
                    $(yo).removeClass('btn-primary');
                    $(yo).addClass('btn-danger');
                    $(yo).data('state', '1');
                }
            }
        });
    }
</script>