<%
	function fechaLatino(string){
		return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-') 
	}
	function diff_indays(date1){
		dt1 = new Date();
		dt2 = new Date(date1);
		return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
		}
%>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTablePeds" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="margin-top: 7px">
		<style>
			.order-column:hover{
				cursor: pointer;
			}
		</style>
		<thead>
			<tr>
				<th class="o_column_sortable order-column" data-order="odc.numoc-ASC">OF</th>
				<th class="o_column_sortable order-column" data-order="odc.numoc-ASC">Item</th>
				<th class="o_column_sortable order-column" data-order="odc.numoc-ASC">OC</th>
				<th class="o_column_sortable order-column" data-order="cliente.razon-ASC">Cliente</th>
				<th class="o_column_sortable order-column" data-order="material.detalle-ASC">Descripción</th>
				<th class="o_column_sortable order-column" data-order="pedido.cantidad-ASC">Solicitados</th>
				<th class="o_column_sortable order-column" >Por Fabricar</th>
				<th class="o_column_sortable order-column" >En Producción</th>
				<th class="o_column_sortable order-column">Sin despachar</th>
				<th class="o_column_sortable order-column" data-order="pedido.despachados-ASC">Despachados</th>
				<th class="o_column_sortable order-column" style="text-align: center;" data-order="pedido.f_entrega-DESC">Fecha de Entrega</th>
				<th class="o_column_sortable order-column" data-order="cliente.razon-ASC">Estado</th>
			</tr>
		</thead>
	<tbody class="ui-sortable">
		<%var clase;
		var estado;
		var t_sol = 0;
        var t_xfabs = 0;
        var t_enprod = 0;
        var t_sindesp = 0;
        var t_desp = 0;
		for(var i=0; i < data.length; i++){
			if(parseInt(data[i].despachados) < parseInt(data[i].cantidad)  && diff_indays(data[i].f_entrega) < 10 && diff_indays(data[i].f_entrega)>=0 ){
				clase = 'warning';
				estado = 'Pronta Entrega';
			}else if(parseInt(data[i].despachados) < parseInt(data[i].cantidad)  && diff_indays(data[i].f_entrega) < 0 ){
				clase = 'danger';
				estado = 'Atrasado';
			}else if(parseInt(data[i].despachados) == parseInt(data[i].cantidad)){
				clase = 'success';
				estado = 'Finalizado';
			}else{
				clase = 'success';
				estado = 'Más de 10 días';
			}%>
		<tr class="o_data_row <%=clase%>" <%if(i+1 < data.length && data[i].numoc != data[i+1].numoc){%>style="border-bottom: 2px dashed grey"<%}%>>
			<td data-toggle="tooltip" title="OF" class="col-numof o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center">
                <%if(data[i].oefes.split(',').length > 2){%>
                    <%=data[i].oefes.substring(0,8)%>...
                <%}else{%>
                    <%=data[i].oefes%>
                <%}%>
            </td>
			<td data-toggle="tooltip" title="Item" class="col-item o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].numitem%></td>
			<td data-toggle="tooltip" title="OC" class="col-numoc o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].numoc%></td>
			<td data-toggle="tooltip" title="Cliente" class="col-cliente o_data_cell o_readonly_modifier"><%=data[i].sigla%></td>
			<td data-toggle="tooltip" title="Descripción" class="col-descrip o_data_cell o_readonly_modifier o_required_modifier"><%=data[i].detalle%></td>
            <%
                t_sol += data[i].cantidad;
                t_xfabs  += data[i].x_fabricar;
                t_enprod  += (parseInt(data[i].sol_op) - parseInt(data[i].rech_op) - parseInt(data[i].bpt_op));
                t_sindesp += ( parseInt(data[i].cantidad) - parseInt(data[i].despachados) );
                t_desp  += data[i].despachados;
            %>

			<td data-toggle="tooltip" title="Solicitados" data-valor = "<%= data[i].cantidad %>" data-name="col-solic" class="checkFuntion col-solic o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;"><%= data[i].cantidad %></td>
			<td data-toggle="tooltip" title="Por Fabricar" data-valor = "<%= data[i].x_fabricar %>" data-name="col-xfabs" class="checkFuntion col-xfabs o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;"><%= data[i].x_fabricar %></td>
			<td data-toggle="tooltip" title="En Producción" data-valor = "<%= parseInt(data[i].sol_op) - parseInt(data[i].rech_op) - parseInt(data[i].bpt_op) %>" data-name="col-enprod" class="checkFuntion col-enprod o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;"><%= parseInt(data[i].sol_op) - parseInt(data[i].rech_op) - parseInt(data[i].bpt_op) %></td>
			<td data-toggle="tooltip" title="Sin Despachar" data-valor = "<%= parseInt(data[i].cantidad) - parseInt(data[i].despachados) %>" data-name="col-sindesp" class="checkFuntion col-sindesp o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;"><%= parseInt(data[i].cantidad) - parseInt(data[i].despachados) %></td>
			<td data-toggle="tooltip" title="Despachados" data-valor = "<%= data[i].despachados %>" data-name="col-desp" class="checkFuntion col-desp o_data_cell parsear_nro" style="text-align: center;"><%= data[i].despachados %></td>
			<td data-toggle="tooltip" title="Fecha de Entrega" class="col-f_entrega o_data_cell o_list_number o_monetary_cell o_readonly_modifier" data-order="<%= new Date(data[i].f_entrega).getTime()%>" style="text-align: center;">
				<span class="o_field_monetary o_field_number o_field_widget o_readonly_modifier" name="amount_total"><%= fechaLatino(new Date(data[i].f_entrega).toLocaleDateString() )%></span>
			</td>
			<td data-toggle="tooltip" title="Estado" class="col-estado"><%= estado%></td>
		</tr>
		<%}%>
	</tbody>
    <style>
        #pietabla {
            position:fixed;
            left:0px;
            bottom:0px;
            height:30px;
            width:100%;
            /*background:#999;*/
        }
    </style>
    <tfoot id="pietabla" class="fixed_table">
		<tr>
			<td id="col-numof"></td>
			<td id="col-item"></td>
			<td id="col-numoc"></td>
			<td id="col-cliente"></td>
			<td id="col-descrip"></td>
			<td data-toggle="tooltip" title="Total Solicitado" style="text-align: center;" class="parsear_nro"    id="col-solic"><%=t_sol%></td>
			<td data-toggle="tooltip" title="Total por Fabricar" style="text-align: center;" class="parsear_nro"  id="col-xfabs"><%=t_xfabs%></td>
			<td data-toggle="tooltip" title="Total en Producción" style="text-align: center;" class="parsear_nro" id="col-enprod"><%=t_enprod%></td>
			<td data-toggle="tooltip" title="Total por Despachar" style="text-align: center;" class="parsear_nro" id="col-sindesp"><%=t_sindesp%></td>
			<td data-toggle="tooltip" title="Total Despachado" style="text-align: center;" class="parsear_nro"    id="col-desp"><%=t_desp%></td>
			<td id="col-f_entrega"></td>
			<td id="col-estado"></td>
		</tr>
	</tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    setDataTableFabricaciones("#DataTablePeds");
    $(".fixed_table").width( $("#DataTablePeds").width() );

    $(".fixed_table").css( 'left' ,$(".o_sub_menu").width() );

    $("#pietabla tr td").each(function(){
        if($(this).attr('id')){
            $(this).css('width', $("."+$(this).attr('id')).width());
        }
    });
	function submit_form(yo){
		//$("#form"+$(yo).data('idodc')).submit();
		$.ajax({
			type: 'GET',
			url: '/plan/page_oc/'+$(yo).data('idodc'),
			success: function(data){
				$(".main-page").html(data);	
			}
		});
	}
</script>