<!DOCTYPE html>
<html lang="en">
	<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Orden de Compra #<%=oda[0].numoda%></title>
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Morris Charts CSS -->
	    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	</head>
	<style type='text/css'>
		html{
			padding: 0.5cm;
		}
		body{
			display: block;
			align-content: center;
			width: 100%;
			height: 100%;
			background-color: white;
			padding: 0;
		}
		.headerss{
			margin: 0;
			padding: 0;
		}
		.fecha{
			text-align: right;
		}
		.info{
			border: 1px solid;
			margin: 0;
			padding: 0;
			width: 100%;
			padding-left:1%;
		}
		.cab_table th{
			padding-left: 1%;
			border: 1px solid;
		}
		.tabla tbody > tr td{
			border: 1px solid;
			text-align: center;
		}



		.tabla tfoot{
			border: 1px solid;
			text-align: center;
		}
		.fund{
			border: 1px solid;
		}
		.obs{
			margin-top: 2%;
			}
		.obs div{
			border: 1px solid;
		}
	</style>
		<%function numberFormat(numero){
            var resultado = "";
            if(numero[0]=="-")
            {
                nuevoNumero=numero.replace(/\./g,'').substring(1);
            }else{
                nuevoNumero=numero.replace(/\./g,'');
            }
            if(numero.indexOf(",")>=0)
                nuevoNumero=nuevoNumero.substring(0,nuevoNumero.indexOf(","));

            for (var j, i = nuevoNumero.length - 1, j = 0; i >= 0; i--, j++)
                resultado = nuevoNumero.charAt(i) + ((j > 0) && (j % 3 == 0)? ".": "") + resultado;
            if(numero.indexOf(",")>=0)
                resultado+=numero.substring(numero.indexOf(","));
            if(numero[0]=="-")
            {
                return "-"+resultado;
            }else{
                return resultado;
            }
        }
		function toFixed(num, fixed) {
		    var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
		    return num.toString().match(re)[0];
		}

        %>
	<body>
		<div class='headerss' style="width: 100%; margin-bottom: 20px;float: left;">
				<img style='width: 30%; margin: 0;float:left;' src='/assets/img/logo.png'>
				<p style='text-align: center; width: 40%; font-size: 20px;margin:0;float:left;font-weight: 200;'>
					Fundición y Maestranza<br> Calle Décima - Parcela N° 474 <br> Placilla - Valparaíso - Chile<br> Rut: 96.935.140-4<br> Fono: 032-3817000<br> 032-3817002<br> E-mail: abastecimiento@siderval.cl<br> www.siderval.cl<br>
				</p>
				<!-- Se setea el numero de documento -->
				<p style='padding: 0% 10%; padding-top: 2%;margin: 0;width: 30%;float:left; text-align: center;font-weight: 500; font-size: 25px'>
				<% switch(tipo){
					case 'oda':%>
					Orden de Compra <br> <b>N° <%=oda[0].numoda%> </b>
				<% break;
					case 'factura':%>
					Factura<br> <b>N° <%=oda[0].numfactura%> </b>
				<% break;
					default:%>
					JEJEJE
				<%}%>
				</p>

		</div>
		<div class='bodyss' style="font-size: 15px;font-weight: 600">
			<div class='info' style="float: left">
				<!-- Nombre y fecha -->
				<div style="float: left;width: 100%">
					<div style="float: left;">
						<div class="columna">NOMBRE:</div>
						<div style="float: left;font-weight: 400;margin-left: 10%"  class="columna2"><%= oda[0].razon%></div>
					</div>
					<div style="float: right;">Valparaíso, <%= new Date().getDate();%>/<%= parseInt(new Date().getMonth()) + 1;%>/<%= new Date().getFullYear();%></div>
				</div>
				<!-- Rut y Ciudad-->
				<div style='width: 100%;float: left'>
					<div style='width: 60%;float:left;'><div class="columna">RUT: </div><div  class="columna2" style="float: left;font-weight: 400;"><%= oda[0].rut%></div></div>
					<div style='width: 38%;float:left;'>CIUDAD: <div style="font-weight: 400;"><%=oda[0].ciudad%></div></div>
				</div>
				<!-- Direccion -->
				<div style="float:left;">
					<div class="columna">DIRECCION:</div>
					<div  class="columna2" style="float: left;font-weight: 400;margin-left:10%;"><%= oda[0].direccion%></div>
				</div>
				<!-- AT y FONO -->
				<div style='width: 100%;float: left' >
					<div style='width: 60%;float:left;'><div class="columna">AT:</div> <div class="columna2" style="float: left;margin-left:15px;font-weight: 400;"><%= oda[0].contacto%></div></div>
					<div style='width: 38%;float:left;'>FONO: <div style="font-weight: 400;"><%=oda[0].telefono%></div></div>
				</div>
				<div style="float: left;"><div class="columna">GIRO: </div> <div  class="columna2" style="float: left;font-weight: 400;"><%= oda[0].giro%></div></div>
			</div>
			<div style="float: left;">POR LO SIGUIENTE:</div>
			<style type="text/css">
				.columna{
					float: left;
					width: 70px;
				}
			</style>
			<table style='width: 100%; font-size: 15px;font-weight: 700;' class='tabla' cellspacing="3">
                <thead>
                <tr class='cab_table'>
                	<th style='width: 5%;text-align: right;'>Item</th>
                	<th style='width: 11%;text-align: center;'>Cantidad</th>
                	<th style='width: 55%;text-align: center;'>Descripción</th>
                	<th style='text-align: center; '>Valor <br> Unitario</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <%
                var nototal = 0;
                var total = 0;
                var ex = false;
                for(var t=0; t < 13; t++){%>
		                <tr>
		                	<%if(mats[t]){
		                	%>
			                    <td><%= t+1%></td>
			                    <td><%= mats[t].cantidad.toLocaleString() %></td>
			                    <td style="text-align: right;"><span style="float:left"><%= mats[t].detalle%></span>  <%=mats[t].subcuenta%></td>
			                    <% if(oda[0].tokenoda.split('@')[6] == 'clp'){%>
				                	<td><%= mats[t].precio.toLocaleString().split('.')[0].split(',').join('.') %></td>
				                	<td style="text-align: right;"><%=(mats[t].precio*mats[t].cantidad).toLocaleString().split('.')[0].split(',').join('.')%></td>
				               <%}else{%>
				                	<%if(mats[t].precio.toLocaleString().split('.').length > 1){%>
				                		<td><%= mats[t].precio.toLocaleString().split('.')[0].split(',').join('.')+','+mats[t].precio.toLocaleString().split('.')[1] %></td>
				                		<td style="text-align: right;"><%=(mats[t].precio*mats[t].cantidad).toLocaleString().split('.')[0].split(',').join('.')%>
											,<% if((mats[t].precio*mats[t].cantidad).toLocaleString().split('.')[1] != null){%>
												<%= (mats[t].precio*mats[t].cantidad).toLocaleString().split('.')[1]%>
											<%} else {%>
												0
											<%}%></td>
				                	<%}else{%>
				                		<td><%= mats[t].precio.toLocaleString().split('.')[0].split(',').join('.') %></td>
				                		<td style="text-align: right;"><%=(mats[t].precio*mats[t].cantidad).toLocaleString().split('.')[0].split(',').join('.')%></td>
				                	<%}%>
                 				<%}%>
                 				<%if(mats[t].exento){
		                			nototal += mats[t].precio*mats[t].cantidad;
		                			ex = true;
                 				}else{
									total += mats[t].precio*mats[t].cantidad;
                 				}%>
		                	<%}else{%>
		                		<td><%= t+1%></td>
			                    <td></td>
			                    <td></td>
			                    <td></td>
			                    <td></td>
		                	<%}%>
		                </tr>
	                <%}%>
	                <tr>

            	<%oda[0].tokenoda = oda[0].tokenoda.split('@');%>
		                <%if(ex){%>
			            	<td></td>
				            <td></td>
				            <td></td>
			            	<td>EXENTO </td>
			            	<td></td>
			            <%}else{%>
			            	<td>14</td>
				            <td></td>
				            <td></td>
			            	<td></td>
			            	<td></td>
			            <%}%>
	                </tr>
	                <tr>
                 		<td></td>
                 		<td></td>
                 		<td></td>
                 		<td class='fund'>DESCUENTO </td>
	                 		<%
	                 		var monto_descontado = 0;
	                 		if(oda[0].tokenoda[6] == 'clp'){%>
	                 			<td class='fund' style="text-align: right;"><%= ((total+nototal)*(parseInt(oda[0].tokenoda[8])/100)).toLocaleString().split('.')[0].split(',').join('.')%></td>
	                 			
	                 		<%}else{%>
		                 		<%if(((total+nototal)*(parseInt(oda[0].tokenoda[8])/100)).toLocaleString().split('.').length > 1){%>
	                 				<td class='fund' style="text-align: right;">
	                 					<%= ((total+nototal)*(parseInt(oda[0].tokenoda[8])/100)).toLocaleString().split('.')[0].split(',').join('.')+','+((total+nototal)*(parseInt(oda[0].tokenoda[8])/100)).toLocaleString().split('.')[1] %>
                 					</td>
		                 		<%}else{%>
		                 			<td class='fund' style="text-align: right;">
		                 				<%= ((total+nototal)*(parseInt(oda[0].tokenoda[8])/100)).toLocaleString().split('.')[0].split(',').join('.')%>
	                 				</td>
		                 		<%}%>
		                 		<%monto_descontado = (total+nototal)*(parseInt(oda[0].tokenoda[8])/100);
		                 	}%>
                 	</tr>     
                </tbody>
                 <tfoot>
	                <tr>
		                <td></td>
			            <td></td>
			            <td></td>
			            <td>NETO </td>
			            <%if(oda[0].tokenoda[6] == 'clp'){%>
			            	<td class='fund' style="text-align: right;">
		                 		<%= (total+nototal).toLocaleString().split('.')[0].split(',').join('.')%>
	                 		</td>	
			            <%}else{%>
                 			<%if((total+nototal).toLocaleString().split('.').length > 1){%>
	                 			<td class='fund' style="text-align: right;">
	                 				<%= (total+nototal).toLocaleString().split('.')[0].split(',').join('.')+','+(total+nototal).toLocaleString().split('.')[1] %>
                 				</td>
		                 	<%}else{%>
		                 		<td class='fund' style="text-align: right;">
		                 			<%= (total+nototal).toLocaleString().split('.')[0].split(',').join('.')%>
	                 			</td>
		                 	<%}%>
                 		<%}%>
	                </tr>
                 	<tr>
                 		<td></td>
                 		<td></td>
                 		<td style="text-align: left;">MONEDA <%=oda[0].tokenoda[6].toUpperCase()%></td>
                 		<td class='fund'>IVA </td>
                 		<%if(oda[0].tokenoda[7] == 'off'){%>
	                 		<%if(oda[0].tokenoda[6] == 'clp'){%>
	                 				<td class='fund' style="text-align: right;">
		                 				<%= (total*0.19).toLocaleString().split('.')[0].split(',').join('.')%>
	                 				</td>
	                 			<%total += (total*0.19);
	                 		}else{%>
	                 			<%if((total*0.19).toLocaleString().split('.').length > 1){%>
	                 				<td class='fund' style="text-align: right;">
	                 					<%= (total*0.19).toLocaleString().split('.')[0].split(',').join('.')+','+(total*0.19).toLocaleString().split('.')[1] %>
                 					</td>
		                 		<%}else{%>
		                 			<td class='fund' style="text-align: right;">
		                 				<%= (total*0.19).toLocaleString().split('.')[0].split(',').join('.')%>
	                 				</td>
		                 		<%}%>
	                 			<%total += (total*0.19);}%>
                 		<%}else{%>
                 			<td class="fund" style="text-align: right;">0</td>
                 		<%}%>
                 	</tr>
                 	<tr>
                 		<td></td>
                 		<td></td>
                 		<td style="text-align: left"></td>
                 		<!--<td style="text-align: left">CUENTA: <%= oda[0].tokenoda[5]%></td>-->
                 		<td class='fund'>TOTAL </td>
                 		<%if(oda[0].tokenoda[6] == 'clp'){%>
		                 	<td class='fund' style="text-align: right;">
		                 		<%= (total-monto_descontado+nototal).toLocaleString().split('.')[0].split(',').join('.')%>
	                 		</td>
                 		<%}else{%>
                 			<%if((total-monto_descontado+nototal).toLocaleString().split('.').length > 1){%>
	                 			<td class='fund' style="text-align: right;">
	                 				<%= (total-monto_descontado+nototal).toLocaleString().split('.')[0].split(',').join('.')+','+(total-monto_descontado+nototal).toLocaleString().split('.')[1] %>
                 				</td>
		                 	<%}else{%>
		                 		<td class='fund' style="text-align: right;">
		                 			<%= (total-monto_descontado+nototal).toLocaleString().split('.')[0].split(',').join('.')%>
	                 			</td>
		                 	<%}%>
                 		<%}%>
                 	</tr>
                 </tfoot>
            </table>

            <div class='obs'>
            	<div>OBSERVACIONES: <%=oda[0].tokenoda[0]%></div>
            	<div>DESTINO: <!--AQUI VA EL oda[0].tokenoda[0]--></div>
            	<div>PLAZO DE ENTREGA: <%= oda[0].tokenoda[2].split('-')[2];%>/<%= oda[0].tokenoda[2].split('-')[1];%>/<%= oda[0].tokenoda[2].split('-')[0];%></div>
            	<div>FORMA DE PAGO: <%=oda[0].tokenoda[3]%></div>
            	<div>LUGAR DE ENTREGA: <%=oda[0].tokenoda[4]%></div>
            </div>
            <div class='firma' style='width: 100%; padding-left: 75%; padding-top: 2%'>
            	<img style='width: 100%' src='/assets/img/firma.png'>
            </div>
		</div>


	</body>

	</html>	