<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}

function completarDigitos(num, dig){
    var arr = [];
    if(num.toString().length >= dig){
        return num.toString();
    }
    else{
        for(var w=0; w < dig-num.toString().length; w++){arr.push(0);}
        return arr.join('')+num.toString();
    }
}
%>

<style>
    .hiddenCol{
        display: none;
    }
</style>

<script>
    function reCalcularPeso(){
        var t = 0;
        $(".peso-rech").each(function(){
            if(!$(this).parent().hasClass('hidden')){
                t += $(this).data('valor');
            }
        });
        $(".footer-pesoT").html(t);
    }
    $(".selectGroup").each(function(){
        var sel = [];
        <% for(var t=0; t < datalen.length; t++ ){%>
        sel.push('<option value="'+'<%= datalen[t].idcausal%>-<%= datalen[t].idetapacausal%>'+'">'+'<%= datalen[t].causal%> - <%= datalen[t].etapacausal%>'+'</option>');
        <%}%>
        sel = "<select class='form-control' onchange='$(\".column-prods\").addClass(\"hidden\"); $(\".causal\" +$(this).val()).removeClass(\"hidden\"); $(\".causal\" +$(this).val()).click(); reCalcularPeso();'>"+sel.join(' ')+'</select>';
        $(this).html(sel);
    });
</script>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"></div>

<table id="rechTable" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
    <thead>
    <tr>
        <th onclick="sortTable('rechTable', this);" data-sort='0' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Fecha de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Fecha de Rechazo </th>
        <th onclick="sortTable('rechTable', this);" data-sort='1' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Hora de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Hora de Rechazo</th>
        <th onclick="sortTable('rechTable', this);" data-sort='2' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Descripción Producto" style="padding:auto; text-align: center; white-space: nowrap; ">Descripción Producto</th>
        <th onclick="sortTable('rechTable', this);" data-sort='3' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Área de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Área de Rechazo</th>
        <th onclick="sortTable('rechTable', this);" data-sort='4' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="OF" style="padding:auto; text-align: center; white-space: nowrap; ">OF</th>
        <th onclick="sortTable('rechTable', this);" data-sort='5' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="OP" style="padding:auto; text-align: center; white-space: nowrap; ">OP</th>
        <th onclick="sortTable('rechTable', this);" data-sort='6' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Código Único de Colada" style="padding:auto; text-align: center; white-space: nowrap; ">Código Único de Colada</th>
        <th onclick="sortTable('rechTable', this);" data-sort='7' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Corr. Producto" style="padding:auto; text-align: center; white-space: nowrap; ">Correlativo Producto</th>
        <th onclick="sortTable('rechTable', this);" data-sort='8' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="padding:auto; text-align: center; white-space: nowrap; ">Cantidad</th>
        <th onclick="sortTable('rechTable', this);" data-sort='9' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Peso Unitario [Kg]" style="padding:auto; text-align: center; white-space: nowrap; ">Peso Unitario [kg]</th>
        <th onclick="sortTable('rechTable', this);" data-sort='10' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Causal de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Causal de Rechazo</th>
        <th onclick="sortTable('rechTable', this);" data-sort='11' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Etapa Causal de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Etapa Causal de Rechazo</th>
        <th onclick="sortTable('rechTable', this);" data-sort='12' data-updown='false' data-toggle="tooltip" data-placement="bottom" title="Imagen de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Imagen</th>
    </tr>
    </thead>
    <tbody id="rechTablebody">
    <%
    var pesoT = 0;
    if(datalen.length){
    for(var i=0; i < datalen.length; i++){%>
        <%if(i === 0){%>
            <tr class="column-prods causal<%= datalen[i].idcausal%>-<%= datalen[i].idetapacausal%>"
                onclick="
                $('.hiddenCol<%= i%>').toggleClass('hiddenCol');
                $(this).find('i.glyphicon').toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
                busc.resetFixed('main-page');">
        <%}else{%>
            <tr class="hidden column-prods causal<%= datalen[i].idcausal%>-<%= datalen[i].idetapacausal%>"
                onclick="
                $('.hiddenCol<%= i%>').toggleClass('hiddenCol');
                $(this).find('i.glyphicon').toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
                busc.resetFixed('main-page');">
        <%}%>

            <td data-order="<%=i%>" style="padding: 1px; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: 1px; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: auto; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: 1px; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: auto; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: auto; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: auto; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: 1px; text-align: center;white-space: nowrap"> -- </td>
            <td data-order="<%=i%>" style="padding: 1px; text-align: center;white-space: nowrap"><%= datalen[i].det_rech.split('%%').length%></td>
            <td data-order="<%=i%>" style="padding: 1px; text-align: center;white-space: nowrap" class="peso-rech" data-valor="0"> -- </td>
            <td data-order="<%= datalen[i].causal%><%=i%>" style="padding: auto; text-align: center;white-space: nowrap"> <%= datalen[i].causal%> </td>
            <td data-order="<%= datalen[i].etapacausal%><%=i%>" style="padding: auto; text-align: center;white-space: nowrap"> <%= datalen[i].etapacausal%> </td>
            <td data-order="<%=i%>" style="padding: auto; text-align: center"> -- </td>
        </tr>
        <% for(var t=0; t < datalen[i].det_rech.split('%%').length; t++){%>
            <%if(i === 0){%>
                <tr class="column-prods hiddenCol hiddenCol<%= i%> danger causal<%= datalen[i].idcausal%>-<%= datalen[i].idetapacausal%>">
            <%}else{%>
                <tr class="column-prods hiddenCol hiddenCol<%= i%> danger causal<%= datalen[i].idcausal%>-<%= datalen[i].idetapacausal%> hidden">
            <%}%>
                <!--
                0"mainTable.detalle,'@'," +
                1"mainTable.fecha,'@', " +
                2"mainTable.idof,'@', " +
                3"mainTable.idop,'@', " +
                4"mainTable.colada,'@', " +
                5"mainTable.producto,'@', " +
                6"mainTable.enviados,'@', " +
                7"mainTable.peso,'@', " +
                8"mainTable.etapa_desde-->
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap"><%=[completarDigitos(new Date(datalen[i].det_rech.split('%%')[t].split('@')[1]).getDate(),2),completarDigitos(new Date(datalen[i].det_rech.split('%%')[t].split('@')[1]).getMonth()+1,2),new Date(datalen[i].det_rech.split('%%')[t].split('@')[1]).getFullYear()].join('-') %></td>
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap"><%=[completarDigitos(new Date(datalen[i].det_rech.split('%%')[t].split('@')[1]).getHours(),2),completarDigitos(new Date(datalen[i].det_rech.split('%%')[t].split('@')[1]).getMinutes(),2)].join(':') %></td>
                <td data-order="<%=i%>" style="text-align: left;white-space: nowrap"><%= datalen[i].det_rech.split('%%')[t].split('@')[0]%></td>
                <td data-order="<%=i%>" style="text-align: left;white-space: nowrap"><%= datalen[i].det_rech.split('%%')[t].split('@')[8]%></td>
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap"><%= datalen[i].det_rech.split('%%')[t].split('@')[2]%></td>
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap"><%= datalen[i].det_rech.split('%%')[t].split('@')[3]%></td>
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap"><%= datalen[i].det_rech.split('%%')[t].split('@')[4]%></td>
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap"><%= datalen[i].det_rech.split('%%')[t].split('@')[5]%></td>
                <td data-order="<%= datalen[i].det_rech.split('%%').length%><%=i%>" style="text-align: center;white-space: nowrap">1</td>
                <td data-order="<%=i%>" style="text-align: center;white-space: nowrap" class="peso-rech" data-cs="1" data-valor="<%= datalen[i].det_rech.split('%%')[t].split('@')[7]%>"><%= datalen[i].det_rech.split('%%')[t].split('@')[7]%></td>
                <% if(i === 0){pesoT += parseFloat(datalen[i].det_rech.split('%%')[t].split('@')[7])}%>
                <td data-order="<%= datalen[i].causal%><%=i%>" style="text-align: center;white-space: nowrap"> -- </td>
                <td data-order="<%= datalen[i].etapacausal%><%=i%>" style="text-align: center;white-space: nowrap"> -- </td>
                <td data-order="<%=i%>" style="text-align: center">
                    <a href="/img/rechazos/rechazo.png" download><i class="fa fa-download" aria-hidden="true"></i></a>
                </td>
            </tr>
    <%}}
    } else { %>
        <tr>
            <td colspan="12">
                <h2 style="text-align: center"><small> <i class="fa fa-exclamation-circle"></i> No hay nada por producir</small></h2>
            </td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
        </tr>
    <%}%>
    </tbody>
    <tfoot id="rechTablefooter">
    <tr>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1" class="footer-pesoT" style="text-align: center"><%= pesoT%></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
    </tr>
    </tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="/assets/parsear_nro.js" type="text/javascript"></script>
<script type="text/javascript">
    //setDataTableFixed("#rechTable");
    $(document).ready(function(){
        busc.initFixed('main-page', true);
    });

</script>

<style>
    table.fixedHeader-floating thead {
        top: 0px;
        width: 100% !important;
        display: block;
        overflow-x: unset;
    }
    table.fixedHeader-floating tfoot {
        width: 100% !important;
        display: block;
        overflow-x: unset;
    }

    table#rechTable thead tr{
        width: 100%;
    }
    table#rechTable tfoot{
        width: 100% !important;
    }
</style>