<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}

function completarDigitos(num, dig){
    var arr = [];
    if(num.toString().length >= dig){
        return num.toString();
    }
    else{
        for(var w=0; w < dig-num.toString().length; w++){arr.push(0);}
        return arr.join('')+num.toString();
    }
}
%>
<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"></div>

<table id="rechTable" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: auto; margin-top: -2px !important;">
    <thead>
        <tr>
            <th data-toggle="tooltip" data-placement="bottom" title="Fecha de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Fecha de Rechazo</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Hora de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Hora de Rechazo</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Descripción Producto" style="padding:auto; text-align: center; white-space: nowrap; ">Descripción Producto</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Área de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Área de Rechazo</th>
            <th data-toggle="tooltip" data-placement="bottom" title="OF" style="padding:auto; text-align: center; white-space: nowrap; ">OF</th>
            <th data-toggle="tooltip" data-placement="bottom" title="OP" style="padding:auto; text-align: center; white-space: nowrap; ">OP</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Código Único de Colada" style="padding:auto; text-align: center; white-space: nowrap; ">Código Único de Colada</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Corr. Producto" style="padding:auto; text-align: center; white-space: nowrap; ">Corr. Producto</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Peso Unitario [Kg]" style="padding:auto; text-align: center; white-space: nowrap; ">Peso Unitario [Kg]</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Causal de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Causal de Rechazo</th>
            <th data-toggle="tooltip" data-placement="bottom" title="Etapa Causal de Rechazo" style="padding:auto; text-align: center; white-space: nowrap; ">Etapa Causal de Rechazo</th>
        </tr>
    </thead>
    <tbody id="rechTablebody">
    <%
    var pesoT = 0;
    if(datalen.length){
        for(var i=0; i < datalen.length; i++){%>
            <tr class="column-prods">
                <td style="text-align: center;white-space: nowrap"><%=[completarDigitos(new Date(datalen[i].fecha).getDate(),2),completarDigitos(new Date(datalen[i].fecha).getMonth()+1,2),new Date(datalen[i].fecha).getFullYear()].join('-') %></td>
                <td style="text-align: center;white-space: nowrap"><%=[completarDigitos(new Date(datalen[i].fecha).getHours(),2),completarDigitos(new Date(datalen[i].fecha).getMinutes(),2)].join(':') %></td>
                <td style="text-align: left;white-space: nowrap"><%=datalen[i].detalle %></td>
                <td style="text-align: left;white-space: nowrap"><%=datalen[i].etapa_desde %></td>
                <td style="text-align: center;white-space: nowrap"><%=datalen[i].idof %></td>
                <td style="text-align: center;white-space: nowrap"><%=datalen[i].idop %></td>
                <td style="text-align: center;white-space: nowrap"><%=datalen[i].colada %></td>
                <td style="text-align: center;white-space: nowrap"><%=completarDigitos(datalen[i].producto,3) %></td>
                <td style="text-align: center;white-space: nowrap" class="peso-rech parsear_nro" data-cs="1" data-valor="<%=datalen[i].peso %>"><%= datalen[i].peso %></td>
                <% pesoT += datalen[i].peso; %>
                <td style="text-align: left;white-space: nowrap">
                    <ul style="margin: 0px">
                        <%for(var t=0; t < datalen[i].causal.split('@').length; t++){%>
                            <li><%= datalen[i].causal.split('@')[t] %></li>
                        <%}%>
                    </ul>
                </td>
                <td style="text-align: left;white-space: nowrap">
                    <ul style="margin: 0px">
                        <%for(var t=0; t < datalen[i].etapacausal.split('@').length; t++){%>
                            <li><%= datalen[i].etapacausal.split('@')[t] %></li>
                        <%}%>
                    </ul>
                </td>
            </tr>
    <%}
    } else { %>
        <tr>
            <td colspan="11">
                <h2 style="text-align: center"><small> <i class="fa fa-exclamation-circle"></i> No hay nada por producir</small></h2>
            </td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
            <td colspan="0"></td>
        </tr>
    <%}%>
    </tbody>
    <tfoot id="rechTablefooter">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="footer-pesoT parsear_nro" cs="2" style="display: flex; align-content: center"><%= pesoT%></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="/assets/parsear_nro.js" type="text/javascript"></script>
<script type="text/javascript">
    var dataTabla = setDataTableFixed("#rechTable");

    $(".ch-font-size").val(
        parseInt($("#rechTable").css('font-size'))
    );

    /*CODIGO NECESARIO PARA DESPLAZAR LA CABECERA DE LA TABLA DE IZQUIERDA A DERECHA*/
   $('.dataTables_scrollBody').scroll(function(e){
        //$('.fixedHeader-floating').scrollLeft($(this).scrollLeft());
       $(".fixedHeader-floating tfoot").offset({ left: $("#rechTable thead").offset().left })
        $('.fixedHeader-floating thead').offset({ left: $("#rechTable thead").offset().left });
       //$('.fixedHeader-floating tfoot').offset({ left: $("#rechTable tfoot").offset().left });
       //alert($('.fixedHeader-floating tfoot').left());
       //$('.fixedHeader-floating').css('left', $(this).css('left'));
    });
    /*CODIGO NECESARIO PARA DESPLAZAR LA CABECERA DE LA TABLA DE IZQUIERDA A DERECHA --- FIN*/

</script>

<style>
    table.fixedHeader-floating thead {
        top: 0px;
        width: 100% !important;
        display: block;
        overflow-x: unset;
    }
    table.fixedHeader-floating tfoot {
        width: 100% !important;
        display: block;
        overflow-x: unset;
    }

    table#rechTable thead tr{
        width: 100%;
    }
    table#rechTable tfoot{
         width: 100% !important;

     }

</style>