<!--llave de notificaciones: crgdd, idm-->

<%
if(notif.length > 0){
    var desc = notif[0].descripcion.split('@');
if( notif[0].descripcion.split('@')[0] === 'crgdd' ){%>
    <li data-idkey="idkey<%= notif[0].idnotificacion%>">
        <button type="button" class="close" onclick="$(this).parent().remove()" style="position: relative; top: 1px; right: 3px">&times;</button>
        <a style="width: 100%">
            <div style="width: 100% !important;">
                <small style="margin: 0; margin-bottom: 10px; font-size: 110%; color: rgb(119, 119, 119)">Stock para Reserva: </small>
            </div>
            <div style="color: black !important; width: 100% !important; margin-left: 5px">
                Ya es posible realizar GDD para <b>OC <%= notif[u].numoc%> - Item 10 : <%= notif[u].detalle2%></b>
            </div>

            <div style="width: 100% !important; display: flex; margin-top: 5px !important;">
                <div class="select-a-sim" style="visibility: hidden; text-align: center;width: 50% !important; color: red !important;"><i class="fa fa-warning"></i> Lo haré después</div>
                <div class="select-a-sim" style="text-align: center; width: 50% !important; color: green !important;" onclick="alertAccionGDD(this)" data-alerta="true" data-id="<%= notif[0].idnotificacion%>" data-idodc="<%= notif[0].idodc%>" data-idped="<%= notif[u].descripcion.split('@')[1]%>">Crear GDD <i class="fa fa-arrow-right"></i></div>
            </div>
        </a>
    </li>
<%}else if( notif[0].descripcion.split('@')[0] === 'idm' ){%>
    <li data-idkey="idkey<%= notif[0].idnotificacion%>">
        <button type="button" class="close" onclick="$(this).parent().remove()" style="position: relative; top: 1px; right: 3px">&times;</button>
        <a style="width: 100%">
            <div style="width: 100% !important;">
                <small style="margin: 0; margin-bottom: 10px; font-size: 125%; color: rgb(119, 119, 119)">Material entrante: </small>
            </div>
            <div style="color: black !important; width: 100% !important; margin-left: 5px">
                Ha recibido <%= desc[2]%> unidades de <%=notif[0].detalle%>
            </div>
        </a>
    </li>
<%}else if( notif[0].descripcion.split('@')[0] === 'dtegddgpl' ){
    var desc = notif[0].descripcion.split('@');%>
<li style="cursor: pointer;">
    <a <%if(desc[3] === 'true'){%> href="http://192.168.0.25:4200<%= desc[4]%>" target="_blank" <%}%> class="notif-dte" data-wasCreated="<%= desc[3]%>" data-pdfPath="<%= desc[4]%>" data-id="<%= notif[u].idnotificacion%>" style="width: 100%">
        <div style="width: 100% !important;">
            <small style="margin: 0; margin-bottom: 10px; font-size: 125%; color: rgb(119, 119, 119)">Información de DTE en SII: </small>
            <span class="pull-right text-muted" style="top: 0px"><em><%= hora%></em></span>
        </div>
        <div style="color: black !important; width: 100% !important;">
            La <b>GDD <%= desc[1]%></b>
            <% if(desc[3] === 'true'){%>
                fue existosamente creada. Haz click aquí para ver el documento timbrado.
            <%} else {%>
                tuvo errores al ser enviada al servicio externo. Haz click para reintentar el timbrado.

            <%}%>
        </div>
    </a>
    <button type="button" class="close" style="position: absolute; top: 1px; right: 3px" data-id="<%= notif[u].idnotificacion%>" onclick="removeNotif(this)">&times;</button>
</li>
<li class="divider"></li>
<%}
}%>
