<%
var etapas = [
    "Moldeo",
    "Fusión",
    "Quiebre",
    "Tratamiento Térmico",
    "Terminación",
    "Maestranza",
    "Control de Calidad",
    "Rechazo"
];
console.log("mmm");
%>
<div id="mol" class="tab-pane fade in active">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Siguiente Etapa" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[0].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[0][e][0]%>"><%= etp[0][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[0][e][2]%>"><%= etp[0][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[0][e][3]%>"><%= etapas[etp[0][e][3]]%></td>
                            <td data-valor="<%= etp[0][e][4]%>"><%= etp[0][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[0][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="mol" data-etp="<%= etapas[etp[0][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="fus" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[1].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[1][e][0]%>"><%= etp[1][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[1][e][2]%>"><%= etp[1][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[1][e][3]%>"><%= etapas[etp[1][e][3]]%></td>
                            <td data-valor="<%= etp[1][e][4]%>"><%= etp[1][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[1][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="fus" data-etp="<%= etapas[etp[1][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="qui" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[2].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[2][e][0]%>"><%= etp[2][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[2][e][2]%>"><%= etp[2][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[2][e][3]%>"><%= etapas[etp[2][e][3]]%></td>
                            <td data-valor="<%= etp[2][e][4]%>"><%= etp[2][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[2][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="mol" data-etp="<%= etapas[etp[2][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="tra" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[3].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[3][e][0]%>"><%= etp[3][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[3][e][2]%>"><%= etp[3][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[3][e][3]%>"><%= etapas[etp[3][e][3]]%></td>
                            <td data-valor="<%= etp[3][e][4]%>"><%= etp[3][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[3][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="tra" data-etp="<%= etapas[etp[3][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="ter" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[4].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[4][e][0]%>"><%= etp[4][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[4][e][2]%>"><%= etp[4][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[4][e][3]%>"><%= etapas[etp[4][e][3]]%></td>
                            <td data-valor="<%= etp[4][e][4]%>"><%= etp[4][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[4][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="ter" data-etp="<%= etapas[etp[4][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="mae" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[5].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[5][e][0]%>"><%= etp[5][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[5][e][2]%>"><%= etp[5][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[5][e][3]%>"><%= etapas[etp[5][e][3]]%></td>
                            <td data-valor="<%= etp[5][e][4]%>"><%= etp[5][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[5][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="mae" data-etp="<%= etapas[etp[5][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="con" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Siguiente Etapa</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <%for(var e=0; e < etp[6].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[6][e][0]%>"><%= etp[6][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[6][e][2]%>"><%= etp[6][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[6][e][3]%>"><%= etapas[etp[6][e][3]]%></td>
                            <td data-valor="<%= etp[6][e][4]%>"><%= etp[6][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[6][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="con" data-etp="<%= etapas[etp[6][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
<div id="rec" class="tab-pane fade">
    <div class="panel panel-primary col-md-12" style="padding: 0">
        <div class="panel-heading">
            <div class="dropdown opcion-sl" style="margin-left: 99%; width: 1%;">
                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li class="ped-option" onclick="saveStateProdHist()"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></li>
                    <li class="ped-option" onclick="loadStateProdHist()"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar</a></li>
                    <!--<li class="ped-option" data-toggle="modal" data-target="#saveplantModal"><a><i class="glyphicon glyphicon-floppy-save"></i> Guardar Plantilla</a></li>
                    <li class="ped-option" data-toggle="modal" data-target="#loadplantModal"><a><i class="glyphicon glyphicon-floppy-open"></i> Cargar Plantilla</a></li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body" style="padding: 0%">
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="etp-mov o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%; margin-top: -2px !important;">
                    <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="bottom" title="Nombre">Descripción</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Cantidad" style="text-align: center">Cantidad</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Moldeo" style="text-align: center">Rechazado Desde</th>
                        <th data-toggle="tooltip" data-placement="bottom" title="Comentario" style="text-align: center">Comentario</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for(var e=0; e < etp[7].length; e++ ){%>
                        <tr>
                            <td data-name="idmat" data-valor="<%= etp[7][e][0]%>"><%= etp[7][e][1]%></td>
                            <td style="text-align: center" data-name="env" data-valor="<%= etp[7][e][2]%>"><%= etp[7][e][2]%></td>
                            <td style="text-align: center" data-name="to" data-valor="<%= etp[7][e][3]%>"><%= etapas[etp[7][e][3]]%></td>
                            <td data-valor="<%= etp[7][e][4]%>"><%= etp[7][e][4]%></td>
                            <td style="text-align: center" data-name="from" data-valor="<%= etp[7][e][5]%>">
                                <button class="btn btn-xs btn-danger" data-preetp="rec" data-etp="<%= etapas[etp[7][e][3]].substring(0,2).toLowerCase()%>" onclick="$(this).parent().parent().remove();act_numcol(this)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
        </div>
    </div>
</div>
