<!--llave de notificaciones: crgdd, idm-->

<%
if(notif.length > 0){
    var desc = notif[0].descripcion.split('@');
    if( notif[0].descripcion.split('@')[0] === 'crgdd' ){%>
    <li data-idkey="idkey<%= notif[0].idnotificacion%>">
        <button type="button" class="close" onclick="$(this).parent().remove()" style="position: relative; top: 1px; right: 3px">&times;</button>

        <a style="width: 100%">
            <div style="width: 100% !important;">
                <small style="margin: 0; margin-bottom: 10px; font-size: 110%; color: rgb(119, 119, 119)">Stock para Reserva: </small>
            </div>
            <div style="color: black !important; width: 100% !important; margin-left: 5px">
                Ya es posible realizar GDD para <b>OC <%= notif[0].numoc%> - Item 10 : <%= notif[0].detalle2%></b>
            </div>

            <div style="width: 100% !important; display: flex; margin-top: 5px !important;">
                <div class="select-a-sim" style="visibility: hidden;text-align: center;width: 50% !important; color: red !important;"><i class="fa fa-warning"></i> Lo haré después</div>
                <div class="select-a-sim" style="text-align: center; width: 50% !important; color: green !important;" onclick="alertAccionGDD(this)" data-alerta="true" data-id="<%= notif[0].idnotificacion%>" data-idodc="<%= notif[0].idodc%>" data-idped="<%= desc[1]%>">Crear GDD <i class="fa fa-arrow-right"></i></div>
            </div>
        </a>
    </li>
<%}else if( notif[0].descripcion.split('@')[0] === 'idm' ){%>
    <li data-idkey="idkey<%= notif[0].idnotificacion%>">
        <button type="button" class="close" onclick="$(this).parent().remove()" style="position: relative; top: 1px; right: 3px">&times;</button>
        <a style="width: 100%">
            <div style="width: 100% !important;">
                <small style="margin: 0; margin-bottom: 10px; font-size: 110%; color: rgb(119, 119, 119)">Material entrante: </small>
            </div>
            <div style="color: black !important; width: 100% !important; margin-left: 5px">
                Ha recibido <%= desc[2]%> unidades de <%=notif[0].detalle%>
            </div>
        </a>
    </li>
<%}
}%>
