<div class="row" style="margin: 0 ;padding-top: 0;margin-right: 2%;margin-left: 2%;background-color: white; height: 100%;">
<!--<h1 class="page-header">Crear Guía de Despacho:</h1>-->
<%
function largeID(string, large){
    if(string == null || string == ''){
        return 'Sin OF';
    }
    else{
        string = string.toString();
    }
    var ceros = '';
    var cant = Math.abs(large - string.length);
    for(var e=0; e < cant; e++){
        ceros += '0';
    }    
    return ceros+string;
}
function letraMayus(string) {
     return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
} 
%>
<div class="col-md-12 panel-creacion">
    <div class="panel panel-primary cargando-panel" style="display: none;">
        <div class="panel-heading">
            <div style="width: 100%;text-align: center;">
                <img style="width: 25%" src="/loading.gif">
            </div>
        </div>
    </div>
    <div class="guardado_automatico" style="width: 100%;height: 20px" style="display: none;"></div>
<%if(blanco){%>
    <form id="act_gdd" type="post">
<%}else{%>
    <form id="send_gdd" type="post">
<%}%>    
        <div class="panel panel-primary panel-defecto">
            <div class="panel-heading" style="display: flex;">
                <div style="width: 50%">
                    <h3>Crear Guía de Despacho N° <%=num%></h3>
                    <!--<div>
                        <button class="btn btn-primary saveStateButton"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                        <button class="btn btn-primary loadStateButton"><i class="glyphicon glyphicon-floppy-open"></i> Cargar</button>
                    </div>-->
                </div>

                    <label style="width: 30%">
                        Cliente: 
                        <select name="cliente_gd" class="form-control" id="cliente_gd">
                            <%for(var w=0; w < cli.length; w++){%>
                                <option value="<%= cli[w].idcliente%>" id="cli<%= cli[w].idcliente%>"><%= cli[w].sigla%> - <%= cli[w].razon%></option>
                            <%}%>
                        </select>
                    </label>
            </div>
            <table id="DataTableCGD" class="table table-striped">
                <thead>
                    <tr>
                        <th>N° OC</th>
                        <th>Item</th>
                        <th>Detalle</th>
                        <th>Sin Enviar</th>
                        <th>En Stock</th>
                        <th>A Enviar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="session_prod">
                    <tr id="0">
                        <td>No hay productos añadidos</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-offset-1 col-md-7" style="padding-right: 8px">
                        <div class="form-group" id="gddobs" style="display: none; margin: 0">
                            <textarea name="obs" class="form-control" rows="1" placeholder="Observaciones"></textarea>
                        </div>
                    </div>
                    <div class="divSelect col-md-2"  style="padding-left: 0; padding-right: 8px">
                        <select name="estado" id="estadoselect" class="form-control">
                            <option value="Venta" class="notT">Venta</option>
                            <option value="Traslado">Traslado</option>
                            <option value="Devolucion" class="notT">Devolución</option>
                            <option value="Otro" class="notT">Otro</option>
                            <option value="Blanco" class="notT">Blanco</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="padding: 0; padding-right: 8px">
                        <button type="button" class="btn btn-info" onclick="comment()" id="btn_comment" style="width: 80px">+ <i class="fa fa-comment"></i></button>
                    </div>
                    <div class="col-md-1" style="padding: 0">
                        <button class="btn btn-success" type="submit" style="width: 80px">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<style type="text/css">
    #nolanzados_wrapper{
        padding: 1%;
    }
    /* Estilo tablas Datatable */
    .dataTables_filter {
       position: relative;
       left: -160%;
       max-width: 100%;
       width: 100%;
    }
    .dataTables_filter#label#input{
       width: 150%;
    }
</style>

<div class="col-sm-12 col-md-12 col-md-offset-0">
        
    <ul class="nav nav-tabs" style="box-shadow: 0 0px 0px;">
        <li class="pestana_xdespachar active" onclick="tab_prod()"><a data-toggle="tab" href="#prodxdeps">Productos por Despachar</a></li>
        <li class="pestana_insumos" onclick="tab_insum()"><a data-toggle="tab" href="#insum">Insumos</a></li>
    </ul>

    <div class="tab-content">     
        <div class="tab-pane fade in active" id="prodxdeps" style="display: block;">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 0; padding-top: 10px">
                    <table id="DataTableGD" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>N°OC</th>
                                <th>N°OF</th>
                                <th>Item</th>
                                <th>Detalle</th>
                                <th>Aleación</th>
                                <th>Sin Despachar</th>
                                <th>En Stock</th>
                                <th class="hidden">A Enviar</th>
                                <th>Fecha de Entrega</th>
                                <th></th>
                                <th class="hidden"></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        <%
                        var stateButton;
                        for(var i=0; i< data.length; i++){
                            stateButton = 'true';
                            if(data[i].stock <= 0){
                                stateButton = 'false';
                            }%>
                            <tr id="<%=data[i].idpedido%>">
                                <td><%= largeID(data[i].numordenfabricacion, 6)%></td>
                                <td id="nof<%=data[i].idpedido%>"><%= largeID(data[i].numof, 6)%></td>
                                <td><%= data[i].numitem%></td>
                                <td><%= letraMayus(data[i].detalle)%></td>
                                <td id="anom<%=data[i].idpedido%>" style="text-align: center;"><%=data[i].anom%></td>
                                
                                <td style="text-align: center;" class="parsear_nro"><%= data[i].cantidad - data[i].despachados %></td>
                                
                                <td style="text-align: center;" class="parsear_nro"><%= data[i].stock %></td>
                                
                                <td class="hidden data_gdd" id="in<%= data[i].idpedido%>" style="padding: 2px"><input type="number" min="1" max="<%= data[i].cantidad - data[i].despachados %>" data-idpedido="<%= data[i].idpedido%>" data-idmat="<%= data[i].idmaterial%>" class="form-control" value="1" style="width: 80px;margin: 0"></td>
                                
                                <td id="date<%= data[i].idpedido%>" style="text-align: center;"><%= new Date(data[i].f_entrega).toLocaleDateString()%></td>

                                <td id="add<%= data[i].idpedido%>">
                                    <a onclick="add_row(this)" data-idpedido="<%= data[i].idpedido%>" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus" style="padding-left: 2px"></span></a>
                                </td>
                                
                                <td class="hidden" id="rmv<%= data[i].idpedido%>">
                                    <a onclick="remove_row(this)" data-idpedido="<%= data[i].idpedido%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" style="padding-left: 1px"></span></a>
                                </td>
                            </tr>
                        <%}%>
                        </tbody>
                    </table
                    >
                </div>
            </div>
        </div>
        <div class="tab-pane fade in active" id="insum">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">
                    <div style="width: 45%; margin-right: 5%;">
                        <small for="detProducto" style="width: 100%;margin-top: 5px">Buscador:</small>
                        <div style="display: flex;">
                            <input placeholder="Ej: Arena Cromita" class="form-control" style="width: 100%" id="detInsumo">
                            <button class="btn btn-primary buscar_insumo">Buscar <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <h3 style="width: 55%">
                        <small class="pull-right">¡Guía de Despacho solo para Traslado!</small>
                    </h3>
                </div>
                <div class="panel-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Detalle</th>
                        <th>Stock</th>
                        <th>Unidad</th>
                        <th>Añadir</th>
                    </tr>
                    </thead>
                    <tbody class="tabla_insumos" id="tbody">
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">

    // Oculta la seccion de insumos
    $(document).ready(function(){
        $("#insum").css("display","none");
    });

    // Muestra el tab presionado y oculta el otro
    function tab_prod() {
        $(this).tab('show');
        var display = $("#prodxdeps").css("display");
        if(display == "none"){
            $("#prodxdeps").css("display","block");
            $("#insum").css("display","none");
            $('.divSelect option[value="Venta"]').prop('selected', true);
            $(".notT").css('display', 'block');
        }
    }

    // Muestra el tab presionado y oculta el otro
    function tab_insum() {
        $(this).tab('show');
        var display = $("#insum").css("display");
        if(display == "none"){
            $("#insum").css("display","block");
            $("#prodxdeps").css("display","none");
            $('.divSelect option[value="Traslado"]').prop('selected', true);
            $(".notT").css('display', 'none');
        }
    }

    // Muestra/oculta el textarea para comentario
    function comment(yo){
        var display = $("#gddobs").css("display");
        if(display == "none"){
            $("#gddobs").css("display", "block");
        }
        else{
            $("#gddobs").css("display", "none");
        }
    }

    var idioma_español = {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    };

    // Tabla superior(TS)
    $('#DataTableCGD').DataTable( {
        "lengthChange": false,
        "searching": false,
        "bInfo": false,
        "paging": false
    });

    // Tabla inferior(TI)
    $('#DataTableGD').DataTable( {
        "lengthChange": false,
        "paging": false,
        "language": idioma_español
    });

    //Funcion para agregar datos de la tabla inferior a la superior
    function add_row(yo){
        var row = $(yo);
        $("#0").remove();                             //Elimina la primera fila en TS
        $("#" + row.data('idpedido')).addClass("hidden");          //Oculta la fila en TI
        $("#rmv" + row.data('idpedido')).removeClass("hidden");    //Muestra el boton eliminar en TS
        $("#nof" + row.data('idpedido')).addClass("hidden");       //Oculta el N°OF en TS
        $("#anom" + row.data('idpedido')).addClass("hidden");      //Oculta la Aleacion en TS
        $("#date" + row.data('idpedido')).addClass("hidden");      //Oculta la fecha en TS
        $("#add" + row.data('idpedido')).addClass("hidden");       //Oculta el boton agregar en TS
        $("#in" + row.data('idpedido')).removeClass("hidden");     //Muestra input en TS
        $("#session_prod").append("<tr id='TS" + row.data('idpedido') + "'>"+$("#" + row.data('idpedido')).html()+"</tr>"); //Agrega fila de TI en TS
    }

    //Funcion para eliminar datos de la tabla inferior a la superior
    function remove_row(yo){
        var row = $(yo);
        $("#TS" + row.data('idpedido')).remove();                  //Elimina la fila
        $("#" + row.data('idpedido')).removeClass("hidden");       //Muestra la fila en TI
        $("#rmv" + row.data('idpedido')).addClass("hidden");       //Oculta el boton eliminar en TS
        $("#nof" + row.data('idpedido')).removeClass("hidden");    //Muestra el N°OF en TS
        $("#anom" + row.data('idpedido')).removeClass("hidden");   //Muestra la Aleacion en TS
        $("#date" + row.data('idpedido')).removeClass("hidden");   //Muestra la fecha en TS
        $("#add" + row.data('idpedido')).removeClass("hidden");    //Muestra el boton agregar en TS
        $("#in" + row.data('idpedido')).addClass("hidden");        //Oculta input en TS
    }

    // Busca los insumos filtrados
    $(".buscar_insumo").on('click', function(e){
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/bodega/buscar_insumos/'+$("#detInsumo").val(),
            success: function(data){
                $(".tabla_insumos").html(data);
            }
        });
    });

    $("form#send_gdd").on('submit',function(e){
        e.preventDefault();
        var aux = [];
        $("#session_prod input.form-control").each(function(e){
            aux.push([$(this).data("idpedido"), $(this).data("idmat"), this.value]);
        });
        var est = $("#estadoselect").val();
        if(aux.length == 0){
            conf = confirm("¿Esta seguro que desea crear la GDD en blanco?");
            est = "Blanco";
        } else {
            conf = confirm("¿Esta seguro que desea crear esta GDD?")
        }
        if(conf){
            $.ajax({
                type: 'POST',
                data: {
                    list: aux,
                    estado: est,
                    obs:$("#gddobs .form-control").val(),
                    idcliente: $("#cliente_gd").val()
                },
                url: 'bodega/save_gdd',
                success: function(data){
                    alert("Guía Creada!")
                    $("#page-wrapper").html(data);
                }
            });
        }
    });

    // Activa gdd en blanco
    $("form#act_gdd").on('submit',function(e){
        e.preventDefault();
        var aux = [];
        $("#session_prod input.form-control").each(function(e){
            aux.push([$(this).data("idpedido"), $(this).data("idmat"), this.value]);
        });
        var conf = true;
        var est = $("#estadoselect").val();
        conf = confirm("¿Esta seguro?");
        $.ajax({
            type: 'POST',
            data: {
                list: aux,
                estado: est,
                idgdd: <%= num%>,
                obs:$("#gddobs .form-control").val(),
                idcliente: $("select[name = 'cliente_gd']").val()
            },
            url: 'bodega/act_gdd',
            success: function(data){
                alert("Guía Creada!")
                $("#page-wrapper").html(data);
            }
        });
    });

  </script>  
</div>