 <%
    function parsear_nro(x){
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return parts.join(",");
    }
function letraMayus(string) {
     return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
}
function largeID(string, large){
    if(string == null || string == ''){
        return 'Sin OF';
    }
    else{
        string = string.toString();
    }
    var ceros = '';
    var cant = Math.abs(large - string.length);
    for(var e=0; e < cant; e++){
        ceros += '0';
    }    
    return ceros+string;
} 
%>
 <table class="table table-striped table-hover table-bordered" id="nolanzados" style="width: 100%;">
                <thead>
                <tr>
                    <th>N°OC</th>
                    <th>N°OF</th>
                    <th>Item</th>
                    <th>Detalle</th>
                    <th>Aleación</th>
                    <th>Sin Despachar</th>
                    <th>En Stock</th>
                    <th>Fecha de Entrega</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">
          <%
            var stateButton;
            for(var i=0; i< data.length; i++){
                stateButton = 'true';
                if(data[i].stock <= 0){
                    stateButton = 'false';
                }
              %>
                <tr class="mat_desp" id="<%=data[i].idfabricaciones%>">
                    <td><%= largeID(data[i].numordenfabricacion, 6)%></td>
                    <td><%= largeID(data[i].numof, 6)%></td>
                    <td><%= data[i].numitem%></td>
                    <td><%= letraMayus(data[i].detalle)%></td>
                    <td style="text-align: center;"><%=data[i].anom%></td>
                    <td style="text-align: center;"><%=parsear_nro(data[i].cantidad - data[i].despachados)%></td>
                    <td class="mat_stock" style="text-align: center;"><%=parsear_nro(data[i].stock)%></td>
                    <td style="text-align: center;"><%= new Date(data[i].f_entrega).toLocaleDateString()%></td>
                    <td class="mat_butt">
                        <a onclick="send_queue(this)"
                           data-notstock="<%=stateButton%>"
                           data-num="<%=data[i].numordenfabricacion%>"
                           data-idmat="<%= data[i].idmaterial%>"
                           data-stock="<%= data[i].stock%>"
                           data-sinenviar="<%= data[i].cantidad - data[i].despachados%>"
                           data-cantidad="<%= data[i].cantidad%>" data-detalle="<%=data[i].detalle%>"
                           data-id="<%= data[i].idfabricaciones%>"
                           data-idof="<%= data[i].idordenfabricacion%>"
                           data-idcli="<%= data[i].idcliente%>"
                           data-numitem="<%= data[i].idcliente%>" class="btn btn-success addqq">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </td>

                </tr>

          <%}%>
                </tbody>
            </table>

