
﻿<div class="row" style="margin: 0 ;padding-top: 0;margin-right: 2%;margin-left: 2%;background-color: white; height: 100%;margin-top: 20px">
<!--<h1 class="page-header">Crear Guía de Despacho:</h1>-->
<%
function largeID(string, large){
    if(string == null || string == ''){
        return 'Sin OF';
    }
    else{
        string = string.toString();
    }
    var ceros = '';
    var cant = Math.abs(large - string.length);
    for(var e=0; e < cant; e++){
        ceros += '0';
    }    
    return ceros+string;
}
function letraMayus(string) {
     return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
} 
%>
<div class="col-md-12 panel-creacion">
    <div class="panel panel-primary cargando-panel" style="display: none;">
        <div class="panel-heading">
            <div style="width: 100%;text-align: center;">
                <img style="width: 25%" src="/loading.gif">
            </div>
        </div>
    </div>
    <div class="guardado_automatico" style="width: 100%;height: 20px" style="display: none;"></div>
      <%
      var idtag;
        if(blanco){
            idtag = 'act_gdd';
        }else{
            idtag = 'send_gdd';
        }%>
        <form id="<%= idtag%>" type="post">
            <div class="panel panel-primary panel-defecto">
                <div class="panel-heading" style="display: flex;">
                <div style="width: 50%">
                    <h3>Crear Guía de Despacho N° <%=num%></h3>
                    <% if(blanco === 1){%>
                        <input type="hidden" name="idguia" id="idguia" value="<%=num%>">
                    <%}else{%>
                        <input type="hidden" name="idguia" id="idguia" value="0">
                    <%}%>
                    <input type="hidden" value="<%= %>">
                    <!--<div>
                        <button class="btn btn-primary saveStateButton"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button>
                        <button class="btn btn-primary loadStateButton"><i class="glyphicon glyphicon-floppy-open"></i> Cargar</button>
                    </div>-->
                </div>
                <label style="width: 25%">
                    <ul class="selector-buscador" role="navigation">
                        <input type="hidden" id="cliente" onchange="compNum(this)" value="0">
                        <li class="dropdown"> <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Seleccionar Cliente<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                <li role="presentation" id><a role="menuitem" tabindex="-1" href="#"><input class="form-control" type="text" id="other"></a></li>
                                <li class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="0">Sin Cliente seleccionado</a></li>
                                <%for(var e=0; e < cli.length; e++){%>
                                    <li class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="<%=cli[e].idcliente%>"><%=cli[e].sigla%> - <%=cli[e].razon%></a></li>
                                <%}%>
                            </ul>
                        </li>
                    </ul>
                    <p style="width: 100%; padding-left: 20px" id="cliente-caret">Sin Cliente Seleccionado</p>
                </label>
                <label style="width: 25%">
                    <ul class="selector-buscador" role="navigation">
                        <input type="hidden" id="destino" value="0">
                        <li class="dropdown"> <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Seleccionar Destino<b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop2">
                                <li role="presentation" id><a role="menuitem" tabindex="-1" href="#"><input class="form-control" type="text" id="other"></a></li>
                                <li class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="0">Sin Destino seleccionado</a></li>
                                <%for(var e=0; e < dir.length; e++){%>
                                <li class="option-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-value="<%=dir[e].iddireccion%>"><%=dir[e].direccion%> - <%=dir[e].pais%></a></li>
                                <%}%>
                            </ul>
                        </li>
                    </ul>
                    <p style="width: 100%; padding-left: 20px" id="destino-caret">Sin Destino seleccionado</p>
                </label>
                <style>
                    .selector-buscador{
                        margin-left: 0;
                        margin-bottom: 20px;
                        list-style: none;
                        width: 100%;
                    }

                    .selector-buscador ul, ol {
                        padding: 0;
                        margin: 0 0 10px 25px;
                    }

                    .selector-buscador .dropup, .dropdown {
                        position: relative;
                    }
                    .selector-buscador .dropup, .dropdown a{
                        color: white;
                    }

                    .selector-buscador .open>.dropdown-menu {
                        display: block;
                        max-height: 450px;
                        width: 400px;
                        overflow-y: scroll;
                    }

                    .selector-buscador>li>a {
                        display: block;
                    }

                    .selector-buscador .dropdown-menu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 1000;
                        display: none;
                        float: left;
                        min-width: 160px;
                        padding: 5px 0;
                        margin: 2px 0 0;
                        list-style: none;
                        background-color: #ffffff;
                        border: 1px solid #ccc;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                        -webkit-background-clip: padding-box;
                        -moz-background-clip: padding;
                        background-clip: padding-box;
                    }

                    .selector-buscador .dropdown-menu .divider {
                        height: 1px;
                        margin: 9px 1px;
                        overflow: hidden;
                        background-color: #e5e5e5;
                        border-bottom: 1px solid #ffffff;
                    }

                    .selector-buscador .dropdown-menu>li>a {
                        display: block;
                        padding: 3px 20px;
                        clear: both;
                        font-weight: normal;
                        line-height: 20px;
                        color: #333333;
                        white-space: nowrap;
                    }
                </style>
                <script>
                    var c = 0;
                    $(".selector-buscador input").on('keyup', function(e){
                        e.preventDefault();
                        var valor = $(this).val();
                        var res;
                        $(".option-dropdown").addClass('hidden');
                        $(".selector-buscador li a").each(function(){
                            res = $(this).html().toUpperCase().includes(valor.toUpperCase());
                            if(res){
                                $(this).parent().removeClass('hidden');
                            }
                        });
                    });
                    $(".option-dropdown a").on('click', function(e){
                        e.preventDefault();

                        $(this).closest('ul.selector-buscador').children('input').val($(this).data('value'));
                        $(this).closest('ul.selector-buscador').parent().children('p').html($(this).html());
                    });
                </script>
            </div>
            <table class="o_list_view table table-responsive table-condensed table-striped o_list_view_ungrouped">
                <thead>
                    <tr>
                        <th>N° OC</th>
                        <th>Cliente</th>
                        <th>Item</th>
                        <th>Detalle</th>
                        <th>Sin Despachar</th>
                        <th>En Stock</th>
                        <th>Retirados BMI</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="session_prod">
                    <tr id="0">
                        <td>No hay productos añadidos</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
                <div class="panel-footer">
                <div class="row">
                    <div class="col-md-offset-0 col-md-3" style="padding-right: 8px">
                        <div class="form-group" id="gddobs" style="display: none; margin: 0">
                            <textarea name="obs" class="form-control" rows="1" placeholder="Observaciones"></textarea>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3">
                        <div class="form-group" style="margin: 0; display: flex;">
                            <input type="text" class="form-control" placeholder="Conductor" id="conductor">
                            <input type="text" class="form-control" placeholder="Patente" id="patente">
                        </div>
                    </div>
                    <div class="divSelect col-md-offset-0 col-md-2"  style="padding-left: 0; padding-right: 0px; display: flex">
                        <label for="estado" style="white-space: nowrap; margin-top:5%; margin-right: 2px">Tipo de GD:</label>
                        <select name="estado" id="estadoselect" class="form-control">
                            <option value="Venta" class="notT">Venta</option>
                            <option value="Traslado">Traslado</option>
                            <option value="Devolucion" class="notT">Devolución</option>
                            <option value="Otro" class="notT">Otro</option>
                            <option value="Servicio">Servicio Externalizado</option>
                            <option value="Blanco" class="notT">Blanco</option>
                        </select>
                    </div>
                    <div class="num_pl_input col-md-1 hidden"  style="padding-left: 0; padding-right: 8px">
                        <label for="input_idpackinglist">N° Packing List:
                            <input id="input_idpackinglist" class="form-control" type="text" placeholder="N° Packing List" disabled/>
                        </label>
                    </div>
                    <div class="col-md-1" style="padding: 0; padding-right: 8px">
                        <button type="button" class="btn btn-info" onclick="comment()" id="btn_comment" style="width: 80px">+ <i class="fa fa-comment"></i></button>
                    </div>
                    <div class="col-md-1" style="padding: 0">
                        <button class="btn btn-success" type="submit" style="width: 80px">Crear</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>
<style type="text/css">
    #nolanzados_wrapper{
        padding: 1%;
    }
    /* Estilo tablas Datatable */
    .dataTables_filter {
       position: relative;
       left: -160%;
       max-width: 100%;
       width: 100%;
    }
    .dataTables_filter#label#input{
       width: 150%;
    }

    .nav-tabs > li.active > a{
        background-color: rgb(245,245,245);
    }

    .nav-tabs > li.active > a:focus{
        background-color: rgb(245,245,245);
    }
</style>

<div class="col-sm-12 col-md-12 col-md-offset-0">
    <ul class="nav nav-tabs" style="box-shadow: 0 0px 0px;">
        <li class="pestana_xdespachar active" onclick="tab_prod()"><a data-toggle="tab" href="#prodxdeps">Productos por Despachar</a></li>
        <li class="pestana_insumos" onclick="tab_insum()"><a data-toggle="tab" href="#insum">Insumos</a></li>
        <li class="pestana_palets" onclick="tab_palets()"><a data-toggle="tab" href="#palets">Palets</a></li>
    </ul>
    <div class="tab-content">     
        <div class="tab-pane fade in active" id="prodxdeps">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">
                    <label>Buscar:<input type="search" class="form-control input-sm" id="buscadorDataTableGD" placeholder=""></label>
                </div>
                <div class="panel-body" style="padding: 0">
                    <table id="DataTableGD" class="o_list_view table table-condensed table-striped o_list_view_ungrouped DataTableGD_new" style="width: 100%; margin-top: 0px !important;">
                        <thead>
                            <tr>
                                <th>N°OC</th>
                                <th>Cliente</th>
                                <th>N°OF</th>
                                <th>Item</th>
                                <th>Detalle</th>
                                <th>Sin Despachar</th>
                                <th>En Stock <br>(Sin Paletizar)</th>
                                <th>Paletizado</th>
                                <th>Retirados de BMI</th>
                                <th class="hidden">A Enviar</th>
                                <th>Fecha de Entrega</th>
                                <th></th>
                                <th class="hidden"></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        <%
                        var stateButton;
                        for(var i=0; i< data.length; i++){
                            stateButton = 'true';
                            if(data[i].stock <= 0){
                                stateButton = 'false';
                            }%>
                            <tr class="mat_desp" id="<%=data[i].idpedido%>" data-idped="<%=data[i].idpedido%>" data-bmi="<%=data[i].bmi%>">
                                <td><%= largeID(data[i].numordenfabricacion, 6)%></td>
                                <td><%= data[i].cliente%></td>
                                <td id="nof<%=data[i].idpedido%>"><%= largeID(data[i].numof, 6)%></td>
                                <td><%= data[i].numitem%></td>
                                <td><%= letraMayus(data[i].detalle)%></td>

                                <td style="text-align: center;" class="parsear_nro"><%= data[i].cantidad - data[i].despachados %></td>
                                
                                <td style="text-align: center;" class="parsear_nro mat_stock"><%= data[i].stock - data[i].pl_cantidad%></td>

                                <td id="pl<%=data[i].idpedido%>" style="text-align: center;" class="parsear_nro pl_cantidad"><%= data[i].pl_cantidad %></td>
                                <!--
                                  bmi INDICA SI EL pedido IMPLICA UNA RESERVACIÓN
                                  SI ES ASI, SOLO SE PUEDE DESPACHAR LA CANTIDAD QUE HAYA SIDO RESERVADA
                                  Y POSTERIORMENTE RETIRADA DE B.M.I.
                                  ESTE VALOR SE ALMACENA EN data[i].reservados
                                -->
                                <% if(data[i].bmi){%>
                                <!--SOLO PUEDES DESPACHAR LA TOTALIDAD DE LOS PRODUCTOS RESERVADOS (Y RETIRADOS) DE BMI
                                  ESO FACILITARA LA TAREA A LA HORA DE CAMBIAR EL ESTADO DE LAS RESERVACIONES-->
                                    <td id="reserv<%=data[i].idpedido%>" style="text-align: center;" class="mat_reserv"><%= data[i].reservados%></td>
                                    <td class="hidden data_gdd" id="in<%= data[i].idpedido%>" style="padding: 2px"><input type="number" min="<%= data[i].reservados%>" max="<%= data[i].reservados%>" data-bmi="true" data-idpedido="<%= data[i].idpedido%>" data-idmat="<%= data[i].idmaterial%>" data-idpaletitem="0"  data-idpalet='0' class="form-control" value="1" style="width: 80px;margin: 0"></td>
                                <%}else{%>
                                    <td id="reserv<%=data[i].idpedido%>" style="text-align: center;"> - </td>
                                    <td class="hidden data_gdd" id="in<%= data[i].idpedido%>" style="padding: 2px"><input type="number" min="1" max="<%= Math.min(  data[i].cantidad - data[i].despachados, data[i].stock - data[i].pl_cantidad) %>" data-bmi="false" data-idpedido="<%= data[i].idpedido%>" data-idmat="<%= data[i].idmaterial%>" data-idpaletitem="0"  data-idpalet='0' class="form-control" value="1" style="width: 80px;margin: 0"></td>
                                <%}%>


                                <td id="date<%= data[i].idpedido%>" style="text-align: center;"><%= new Date(data[i].f_entrega).toLocaleDateString()%></td>

                                <td class="mat_butt" id="add<%= data[i].idpedido%>">
                                    <a data-idpedido="<%= data[i].idpedido%>" data-idcliente="<%= data[i].idcliente%>" data-bmi="<%= data[i].bmi%>" aria-disabled="false" class="btn btn-success btn-xs addrow"><span class="glyphicon glyphicon-plus" style="padding-left: 2px"></span></a>
                                </td>
                                
                                <td class="hidden" id="rmv<%= data[i].idpedido%>">
                                    <a onclick="remove_row(this)" data-idpedido="<%= data[i].idpedido%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" style="padding-left: 1px"></span></a>
                                </td>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="insum">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">
                    <div style="width: 45%; margin-right: 5%;">
                        <small for="detProducto" style="width: 100%;margin-top: 5px">Buscador:</small>
                        <div style="display: flex;">
                            <input placeholder="Ej: Arena Cromita" class="form-control" style="width: 100%" id="detInsumo">
                            <button class="btn btn-primary buscar_insumo">Buscar <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <h3 style="width: 55%">
                        <small class="pull-right">¡Guía de Despacho solo para Traslado!</small>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="o_list_view table table-responsive table-condensed table-striped o_list_view_ungrouped">
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th>Unidad</th>
                                <th>Stock</th>
                                <th>Añadir</th>
                            </tr>
                        </thead>
                        <tbody class="tabla_insumos" id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="palets" style="display: block; margin: 0 ; padding: 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Buscar:<input type="search" class="form-control input-sm" id="buscadorDataTablePalets" placeholder=""></label>
                </div>
                <div class="panel-body" style="padding: 0px">
                    <table id="DataTablePalets" class="o_list_view table table-responsive table-condensed table-striped o_list_view_ungrouped" style="padding: 0; margin: 0 !important; width: 100% !important;">
                        <thead>
                            <tr>
                                <th>#Packing List</th>
                                <th>#Palet</th>
                                <th>OC</th>
                                <th>Cliente</th>
                                <th>Item</th>
                                <th>Detalle</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Cantidad</th>
                                <th class="hidden"></th>
                                <th>Peso Unitario</th>
                                <th>Peso Total</th>
                                <th>Peso Palet</th>
                                <th></th>
                                <th class="hidden"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0; i< palet.length; i++){
                            %>
                                <tr class="mat_desp palet_desp palet<%= palet[i].idpalet%>" data-idpalet="<%= palet[i].idpalet%>" data-idpackinglist="<%= palet[i].idpackinglist%>">
                                    <td class="idpackinglist" style="text-align: center"><%= palet[i].idpackinglist%></td>
                                    <td class="idp" style="text-align: center"><%= palet[i].idpalet%></td>
                                    <td class="numoc" style="text-align: left"><%= palet[i].numoc%></td>
                                    <td class="clien" style="text-align: left"><%= palet[i].sigla%></td>
                                    <td class="item" style="text-align: center;"><%= palet[i].numitem%></td>
                                    <td class="det"><%= palet[i].detalle%></td>
                                    <td class="sin_desp hidden" style="text-align: center;"><%=palet[i].cantidad%> (En Palet <%= palet[i].idpalet%>)</td>
                                    <td class="stock hidden" style="text-align: center;">-</td>
                                    <td class="cant" style="text-align: center"><%= palet[i].cantidad%></td>
                                    <td class="cant_input hidden data-gd" style="text-align: center;padding: 2px"><input type="number" min="0" max="<%= palet[i].cantidad%>" data-idpedido="<%= palet[i].idpedido%>" data-idmat="<%= palet[i].idmaterial%>" data-idpalet="<%= palet[i].idpalet%>" data-idpaletitem="<%= palet[i].idpalet_item%>" class="form-control" value="<%= palet[i].cantidad%>" style="width: 80px;margin: 0"></td>
                                    <td class="peso" style="text-align: center"><%= palet[i].peso%></td>
                                    <td class="peso_item" style="text-align: center"><%= palet[i].peso*palet[i].cantidad %></td>
                                    <td class="peso_palet" style="text-align: center"><%= palet[i].peso_palet%></td>
                                    <td class="adj" style="text-align: center">
                                        <a data-idpalet="<%= palet[i].idpalet%>" aria-disabled="false" class="btn btn-success btn-xs addrow_palet" data-idpackinglist="<%= palet[i].idpackinglist%>" data-idcliente="<%= palet[i].idcliente%>"><span class="glyphicon glyphicon-plus" style="padding-left: 2px"></span>  Adjuntar Palet</a>
                                    </td>
                                    <td class="rmv hidden" class="hidden">
                                        <a onclick="remove_row_palet(this)" data-idpalet="<%= palet[i].idpalet%>" aria-disabled="false" class="btn btn-danger btn-xs rmvrow_palet"><span class="glyphicon glyphicon-remove" style="padding-left: 1px"></span></a>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    var inTabPL = false;
    var idgdd = '<%= num%>';
    console.log('<%= num%>');
    var idioma_español = {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    };

    $(".mat_desp").each(function(){
        var stock = parseInt($(this).children('.mat_stock').html());
        var reservados;
        if($(this).data('bmi') === 1){
            reservados = parseInt($(this).children('.mat_reserv').html());
            if(reservados <= 0){
                $(this).children('.mat_butt').children('a').removeClass('btn-success');
                $(this).children('.mat_butt').children('a').addClass('btn-danger');
                $(this).children('.mat_butt').children('a').removeClass('addrow');
                $(this).children('.mat_butt').children('a').html("<span class='fa fa-ban' style='padding-left: 2px'></span>");
            }
        }else{
            if(stock <= 0){
                $(this).children('.mat_butt').children('a').removeClass('btn-success');
                $(this).children('.mat_butt').children('a').addClass('btn-danger');
                $(this).children('.mat_butt').children('a').removeClass('addrow');
                $(this).children('.mat_butt').children('a').html("<span class='fa fa-ban' style='padding-left: 2px'></span>");
            }
        }
    });

    function checkIfPaletIsInGD(){
        paletInGD = false;
        //RECORRE TODAS LAS COLUMNAS Y VERIFICA SI EXITE ALGÚN PALET ADJUNTO (si idpalet es distinto a '0')
        $("#session_prod input.form-control").each(function(e){
            if($(this).data('idpalet') != '0'){
                paletInGD = true;
            }
        });

        if(paletInGD){
            $(".num_pl_input").removeClass('hidden');
            $(".num_pl_input input").prop('required',true);


            return true;
        }else{
            $(".num_pl_input").addClass('hidden');
            $(".num_pl_input input").prop('required',false);

            return false;
        }
    }

    $(".addrow").on('click', function(e){
        e.preventDefault();
        add_row(this);
    });

    $(".addrow_palet").on('click', function(e){
        e.preventDefault();
        add_row_palet(this);
        $("#input_idpackinglist").val($(this).data("idpackinglist"));
        if(checkIfPaletIsInGD()){
            $("#cliente_gd option[value='"+$(this).data('idcliente')+"']").prop('selected', true);

            $("#cliente_gd").prop('disabled',true);
        }
    });

    // Oculta la seccion de insumos
    $(document).ready(function(){
        $("#insum").css("display","none");
        console.log("ready");
        if('<%= redirect%>' === 'true'){
            <% for(var e = 0; e < sel.length; e++){%>
                $(".mat_desp[data-idped="+parseInt('<%= sel[e]%>')+"]").children('td.mat_butt').children('a.btn-success').click();
            <%}%>
        }
    });

    // Muestra el tab presionado y oculta el otro
    function tab_prod() {
        $(this).tab('show');
        var display = $("#prodxdeps").css("display");
        if(display == "none"){
            $("#prodxdeps").css("display","block");
            $("#insum").css("display","none");
            $("#palets").css("display","none");
            $('.divSelect option[value="Venta"]').prop('selected', true);
            $(".notT").css('display', 'block');

        }
    }

    // Muestra el tab presionado y oculta el otro
    function tab_insum() {
        $(this).tab('show');
        var display = $("#insum").css("display");
        if(display == "none"){
            $("#insum").css("display","block");
            $("#prodxdeps").css("display","none");
            $("#palets").css("display","none");
            $('.divSelect option[value="Traslado"]').prop('selected', true);
            $(".notT").css('display', 'none');
        }
    }

    // Muestra el tab presionado y oculta el otro
    function tab_palets() {
        $(this).tab('show');
        var display = $("#palets").css("display");
        if(display == "none"){
            $("#palets").css("display","block");
            $("#insum").css("display","none");
            $("#prodxdeps").css("display","none");
            $('.divSelect option[value="Venta"]').prop('selected', true);
            $(".notT").css('display', 'none');

        }

    }

    // Muestra/oculta el textarea para comentario
    function comment(yo){
        var display = $("#gddobs").css("display");
        if(display == "none"){
            $("#gddobs").css("display", "block");
        }
        else{
            $("#gddobs").css("display", "none");
        }
    }



    // Tabla inferior(TI)
    var GDTable = $('#DataTableGD').DataTable( {
        "lengthChange": false,
        "paging": false,
        "language": idioma_español
    });


    $("#DataTableGD_filter").parent().parent().addClass('hidden');
    $("#DataTableGD_wrapper").css('margin-top', '0px !important');



    var PaletTable = $('#DataTablePalets').DataTable( {
        "lengthChange": false,
        "paging": false,
        "language": idioma_español
    });
    $("#DataTablePalets_filter").parent().parent().addClass('hidden');
    $("#DataTablePalets_wrapper").css('margin-top', '0px !important');







    //Funcion para agregar datos de la tabla inferior a la superior
    function add_row(yo){
        var row = $(yo);
        $("#0").remove();                             //Elimina la primera fila en TS
        $("#" + row.data('idpedido')).addClass("hidden");          //Oculta la fila en TI
        $("#rmv" + row.data('idpedido')).removeClass("hidden");    //Muestra el boton eliminar en TS
        $("#nof" + row.data('idpedido')).addClass("hidden");       //Oculta el N°OF en TS
        $("#anom" + row.data('idpedido')).addClass("hidden");      //Oculta la Aleacion en TS
        $("#date" + row.data('idpedido')).addClass("hidden");      //Oculta la fecha en TS
        //$("#reserv" + row.data('idpedido')).addClass("hidden");
        //Oculta los reservados en TS
        $("#add" + row.data('idpedido')).addClass("hidden");       //Oculta el boton agregar en TS
        $("#pl" + row.data('idpedido')).addClass("hidden");     //Oculta cantidad paletizada en TS
        $("#in" + row.data('idpedido')).removeClass("hidden");     //Muestra input en TS
        $("#session_prod").append("<tr id='TS" + row.data('idpedido') + "'>"+$("#" + row.data('idpedido')).html()+"</tr>"); //Agrega fila de TI en TS

        //SELECCIONAR DETERMINADO CLIENTE MEDIANTE EL idcliente
        $(".selector-buscador .dropdown-menu li a[data-value='"+row.data('idcliente')+"']").click();
    }
    function add_row_palet(yo){
        if(confirm("Se adjuntaran todos los productos del palet a la GDD. ¿Está seguro?")){
            $("#0").remove();                             //Elimina la primera fila en TS
            $(".palet"+$(yo).data('idpalet')).each(function(){
                var row = $(this);
                row.children(".idpackinglist").addClass("hidden");
                row.children(".idp").addClass("hidden");
                row.children(".cant").addClass("hidden");
                row.children(".sin_desp").removeClass("hidden");
                row.children(".stock").removeClass("hidden");
                row.children(".cant_input").removeClass("hidden");
                row.children(".peso").addClass("hidden");
                row.children(".peso_item").addClass("hidden");
                row.children(".peso_palet").addClass("hidden");
                row.children(".adj").addClass("hidden");
                row.children(".rmv").removeClass("hidden");
                $("#session_prod").append("<tr class='TS" + row.data('idpalet') + "_p'>"+row.html()+"</tr>"); //Agrega fila de TI en TS
                row.addClass("hidden");
            });


            //Se eliminan las columnas que no pertenescan al mismo número de packing list
            var pack = $(yo).data('idpackinglist');
            $(".palet_desp").each(function(){
                if($(this).data('idpackinglist') != pack){
                    $(this).addClass("hidden");
                }
            });

        }
    }
    function remove_row_palet(yo){
        if(confirm("Se eliminarán de la GDD todos los productos correspondientes al mismo palet. ¿Está seguro?")){
            var row = $(".palet"+$(yo).data('idpalet'));
            row.children(".idpackinglist").removeClass("hidden");
            row.children(".idp").removeClass("hidden");
            row.children(".cant").removeClass("hidden");
            row.children(".sin_desp").addClass("hidden");
            row.children(".stock").addClass("hidden");
            row.children(".cant_input").addClass("hidden");
            row.children(".peso").removeClass("hidden");
            row.children(".peso_item").removeClass("hidden");
            row.children(".peso_palet").removeClass("hidden");
            row.children(".adj").removeClass("hidden");
            row.children(".rmv").addClass("hidden");
            row.removeClass('hidden');

            $(".TS" + $(yo).data('idpalet')+"_p").remove();
            if(!checkIfPaletIsInGD()){
                //Si no quedan palets en la GDD => mostrar todas las columnas
                $(".palet_desp").removeClass("hidden");
                $("#cliente_gd").prop('disabled',false);

            }
        }
    }
    //Funcion para eliminar datos de la tabla inferior a la superior
    function remove_row(yo){
        var row = $(yo);
        $("#TS" + row.data('idpedido')).remove();                  //Elimina la fila
        $("#" + row.data('idpedido')).removeClass("hidden");       //Muestra la fila en TI
        $("#rmv" + row.data('idpedido')).addClass("hidden");       //Oculta el boton eliminar en TS
        $("#nof" + row.data('idpedido')).removeClass("hidden");    //Muestra el N°OF en TS
        $("#anom" + row.data('idpedido')).removeClass("hidden");   //Muestra la Aleacion en TS
        $("#date" + row.data('idpedido')).removeClass("hidden");   //Muestra la fecha en TS
        //$("#reserv" + row.data('idpedido')).removeClass("hidden");
        //Oculta los reservados en TS
        $("#add" + row.data('idpedido')).removeClass("hidden");    //Muestra el boton agregar en TS
        $("#pl" + row.data('idpedido')).removeClass("hidden");    //Muestra cantidad paletizada en TS
        $("#in" + row.data('idpedido')).addClass("hidden");        //Oculta input en TS
    }

    // Busca los insumos filtrados
    $(".buscar_insumo").on('click', function(e){
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/bodega/buscar_insumos/'+$("#detInsumo").val(),
            success: function(data){
                $(".tabla_insumos").html(data);
            }
        });
    });

    function comprobarCliente(){
        if($("#cliente_gd").val() == 0){
            return false;
        }
        else{
            return true;
        }
    }

    function comprobarStock(){
        /*$().each(function(){
            alert($(this).children('input').attr('min') +" - "+typeof $(this).children('input').attr('min')  );
            alert($(this).children('input').val() +" - "+typeof $(this).children('input').val()  );
            if($(this).children('input').attr('min') <  $(this).children('input').val() ){
                alert();
           }
        });*/
    }



    $("form#send_gdd").on('submit',function(e){
        e.preventDefault();
        $(this).serializeArray();
        var aux = [];
        $("#session_prod input.form-control").each(function(e){
            //NO SE ENVIARÁ LA idreservacion_d YA QUE SE ESTA
            aux.push([$(this).data("idpedido"), $(this).data("idmat"), this.value, $(this).data('idpalet')+"-"+$(this).data('idpaletitem'), $(this).data('bmi') ]);
        });
        var est = $("#estadoselect").val();
        var pl;
        if($(".num_pl_input").hasClass('hidden')){
            pl = null;
        }
        else{
            pl = $(".num_pl_input input").val();
        }


        //COMPRUEBA SI SE HA SELECCIONADO CLIENTE, SI NO ES ASI NO PERMITE CREAR LA GDD
        if($("#cliente").val() === '0'){
            Alerta("¡Ingrese Cliente!");
        }else{
            if(comprobarCliente()){
                if(aux.length === 0){
                    conf = confirm("¿Esta seguro que desea crear la GDD en blanco?");
                    est = "Blanco";
                } else {
                    conf = confirm("¿Esta seguro que desea crear esta GDD?");
                }
            }
            else{
                alert("No es posible crear la GDD. \n ¡Uno de los pedidos a despachar supera el stock disponible en Bodega!");
            }

            if(conf){
                    $.ajax({
                        type: 'POST',
                        data: {
                            list: aux,
                            estado: est,
                            pl: pl,
                            obs:$("#gddobs .form-control").val(),
                            idcliente: $("#cliente").val(),
                            idgd: $("#idguia").val(),
                            destino: $("#destino").val(),
                            conductor: $("#conductor").val(),
                            patente: $("#patente").val()
                        },
                        url: '/bodega/save_gdd',
                        beforeSend: function(){
                            showLoad();
                        },
                        success: function(data){
                            if(est !== 'Blanco'){
                                $.ajax({
                                    type: 'GET',
                                    url: '/bodega/gen_pdfgdd/'+idgdd,
                                    success: function(data2){
                                        window.open("/csvs/gdd" +idgdd+".xlsx",'_blank');
                                        hideLoad();
                                        Alerta("Guía Creada!");
                                        $("#page-wrapper").html(data);
                                    }
                                });
                            }
                            else{
                                hideLoad();
                                Alerta("Guía Creada!");
                                $("#page-wrapper").html(data);
                            }
                        }
                    });
            }
        }
    });

    // Activa gdd en blanco
    $("form#act_gdd").on('submit',function(e){
        e.preventDefault();
        var aux = [];
        $("#session_prod input.form-control").each(function(e){
            aux.push([$(this).data("idpedido"), $(this).data("idmat"), this.value, $(this).data('idpalet')+"-"+$(this).data('idpaletitem'), $(this).data('bmi')]);
        });
        var conf = true;
        var est = $("#estadoselect").val();
        var pl;
        if($(".num_pl_input").hasClass('hidden')){
            pl = null;
        }
        else{
            pl = $(".num_pl_input input").val();
        }
        var conf;
        if($("#cliente").val() === '0'){
            Alerta("¡Ingrese Cliente!")
        }else{
            if(comprobarCliente()){
                if(aux.length === 0){
                    conf = confirm("¿Esta seguro que desea crear la GDD en blanco?");
                    est = "Blanco";
                } else {
                    conf = confirm("¿Esta seguro que desea crear esta GDD?");
                }
            }
            else{
                alert("No es posible crear la GDD. \n ¡Uno de los pedidos a despachar supera el stock disponible en Bodega!");
            }

            if(conf){
                $.ajax({
                    type: 'POST',
                    data: {
                        list: aux,
                        estado: est,
                        pl: pl,
                        obs:$("#gddobs .form-control").val(),
                        idcliente: $("#cliente").val(),
                        idgd: $("#idguia").val(),
                        destino: $("#destino").val(),
                        conductor: $("#conductor").val(),
                        patente: $("#patente").val()
                    },
                    url: '/bodega/act_gdd',
                    beforeSend: function(){
                        showLoad();
                    },
                    success: function(data){
                        if(est !== 'Blanco'){
                            $.ajax({
                                type: 'GET',
                                url: '/bodega/gen_pdfgdd/'+idgdd,
                                success: function(data2){
                                    window.open("/csvs/gdd" +idgdd+".xlsx",'_blank');
                                    hideLoad();
                                    Alerta("Guía Creada!");
                                    $("#page-wrapper").html(data);
                                }
                            });
                        }
                        else{
                            hideLoad();
                            Alerta("Guía Creada!");
                            $("#page-wrapper").html(data);
                        }
                    }
                });
            }
        }
        /*$.ajax({
            type: 'POST',
            data: {
                list: aux,
                estado: est,
                idgdd: ,
                obs:$("#gddobs .form-control").val(),
                idcliente: $("#cliente").val()
            },
            url: '/bodega/act_gdd',
            success: function(data){
                alert("Guía Creada!")
                $("#page-wrapper").html(data);
            }
        });*/
    });





    $('#buscadorDataTableGD').keyup(function(){
        GDTable.search($(this).val()).draw() ;
    });
    $('#buscadorDataTablePalets').keyup(function(){
        PaletTable.search($(this).val()).draw() ;
    });


  </script>  
</div>