<%
function fechaLatino(string){
    return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-')
}
%>
<div class="o_view_manager_content">
    <div>
        <div class="o_form_view o_sale_order o_form_readonly">
            <div class="o_form_sheet_bg">
                <div class="o_form_sheet">
                    <div class="o_not_full oe_button_box">
                        <div class="o_field_one2many o_field_widget o_invisible_modifier" name="picking_ids"></div>
                        <button class="btn btn-sm oe_stat_button o_invisible_modifier">
                            <div class="fa fa-fw o_button_icon fa-truck"></div>
                            <div name="delivery_count" class="o_field_widget o_stat_info o_readonly_modifier">
                                <span class="o_stat_value">0</span>
                                <span class="o_stat_text">Entrega</span>
                            </div>
                        </button>
                        <button class="btn btn-sm oe_stat_button o_invisible_modifier">
                            <div class="fa fa-fw o_button_icon fa-pencil-square-o"></div>
                            <div name="invoice_count" class="o_field_widget o_stat_info o_readonly_modifier">
                                <span class="o_stat_value">0</span>
                                <span class="o_stat_text">Facturas</span>
                            </div>
                        </button>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col-md-8">
                            <h1 style="width: 100%; margin-top: 0"><span class="o_field_char o_field_widget o_readonly_modifier o_required_modifier" name="name">Guia de Despacho N°<%=oda.idgd%></span></h1>
                        </div>
                        <div class="col-md-2" style="margin-left: 12.7%">
                            <h1 style="width: 100%; margin-top: 0">
                                <a class="pull-right" style="z-index: 10; margin-left: 10px;" data-numgd="<%= oda.idgd%>" data-idgd="<%= oda.idgd%>">
                                    <i data-toggle="tooltip" title="Ver PDF" class="fa fa-file-pdf-o"></i>
                                </a>
                            </h1>
                        </div>
                    </div>
                    <div class="o_group">
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_readonly_modifier o_required_modifier" for="o_field_input_1066">Proveedor</label>
                                </td>
                                <td style="width: 100%;">
                                    <a class="o_form_uri o_field_widget o_readonly_modifier o_required_modifier" href="#id=10&amp;model=res.partner" name="partner_id" id="o_field_input_1066"><%=oda.sigla%><br><%=oda.razon%>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="o_group o_inner_group o_group_col_6">
                            <tbody>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_invisible_modifier o_readonly_modifier o_form_label_empty" for="o_field_input_1069" data-original-title="" title="">Fecha de caducidad
                                    </label>
                                </td>
                                <td style="width: 100%;">
                                    <span class="o_field_date o_field_widget o_invisible_modifier o_readonly_modifier o_field_empty" name="validity_date"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_readonly_modifier" for="o_field_input_1070" data-original-title="" title="">Fecha de Creación
                                    </label>
                                </td>
                                <td style="width: 100%;">
                                    <span class="o_field_date o_field_widget o_readonly_modifier" name="confirmation_date"><%=fechaLatino(new Date(oda.fecha).toLocaleDateString())%></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="o_td_label">
                                    <label class="o_form_label o_form_label_empty" for="o_field_input_1073">Plazos de pago
                                    </label>
                                </td>
                                <td style="width: 100%;">
                                    <a class="o_form_uri o_field_widget o_field_empty" href="#" name="payment_term_id" id="o_field_input_1073"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="o_notebook">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" disable_anchor="true" href="#notebook_page_1074" role="tab">Despachos
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content nav nav-tabs">
                            <!-- Página Pedidos -->
                            <div class="tab-pane active" id="notebook_page_1074">
                                <div class="o_field_one2many o_field_widget o_field_x2many o_field_x2many_list" name="order_line">
                                    <div class="o_x2m_control_panel">
                                        <div class="o_cp_buttons"></div>
                                        <div class="o_cp_pager">
                                            <div class="o_hidden">
                                                <span class="o_pager_counter">
                                                    <span class="o_pager_value"></span> / <span class="o_pager_limit"></span>
                                                </span>
                                                <span class="btn-group btn-group-sm">
                                                    <button aria-label="Previous" class="fa fa-chevron-left btn btn-icon o_pager_previous" type="button"></button>
                                                    <button aria-label="Next" class="fa fa-chevron-right btn btn-icon o_pager_next" type="button"></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <!-- Boton actualizar datos de factura -->
                                        <div class="form-group" style="margin: 0px; margin-left: 45%; position: absolute; z-index: 15">
                                            <button id="actualizar" class="btn btn-warning" type="submit"><i class="glyphicon glyphicon-refresh"></i> Actualizar</button>
                                        </div>
                                        <table id="tablaODA" class="o_list_view table table-condensed table-striped o_list_view_ungrouped">
                                            <thead>
                                            <tr>
                                                <th class="o_column_sortable" style="text-align: left;">Descripción</th>
                                                <th class="o_column_sortable" style="text-align: center;">Unidad</th>
                                                <th class="o_column_sortable">Cantidad</th>
                                                <th class="o_column_sortable">N° OF</th>
                                                <th class="o_column_sortable">N° OC</th>
                                                <th class="o_column_sortable">Factura</th>
                                                <th class="o_column_sortable">Conector (MIGO)</th>
                                            </tr>
                                            </thead>
                                            <tbody class="ui-sortable" id="data_gdd">
                                                <%for(var e=0; e < abast.length; e++){%>
                                                <tr class="o_data_row text-info danger">
                                                    <td class="o_data_cell o_required_modifier" style="text-align: center;"><%=abast[e].detalle%></td>
                                                    <td class="o_data_cell o_list_number o_readonly_modifier" style="text-align: center;"><%=abast[e].u_medida%></td>
                                                    <td class="o_data_cell o_list_number o_required_modifier" style="text-align: center;"><%=abast[e].cantidad%></td>
                                                    <td class="o_data_cell o_list_number o_required_modifier" style="text-align: center;"><%=abast[e].idorden_f%></td>
                                                    <td class="o_data_cell o_list_number o_required_modifier" style="text-align: center;"><%=abast[e].numoc%></td>
                                                    <td style="padding: 2px; width: 100px"><input data-gdd="<%=abast[e].iddespacho%>" data-tipo="numfac" style="width: 100px" type="text" class="form-control" value="<%= abast[e].numfac%>"></td>
                                                    <td style="padding: 2px; width: 100px"><input data-gdd="<%=abast[e].iddespacho%>" data-tipo="conector" style="width: 100px" type="text" class="form-control" value="<%= abast[e].conector%>"></td>
                                                </tr>
                                                <%}%>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <span class="o_field_text o_field_widget o_field_empty oe_inline" name="note"></span>
                                <div class="oe_clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o_chatter oe_chatter">

                <div class="o_mail_activity o_field_widget" name="activity_ids"></div>
                <div class="o_mail_thread"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        setDataTable('#tablaODA');
    });

    // Actualiza los campos ingresados en la tabla despachos
    $("#actualizar").on('click', function(e){
        e.preventDefault();
        var numfac = [];
        var conector = [];
        $("#data_gdd input.form-control").each(function(e){
            if(this.value != ""){
                if($(this).data("tipo") == "numfac") {
                numfac.push([ $(this).data("gdd"), this.value]);
                } else{
                    conector.push([ $(this).data("gdd"), this.value]);
                }
            }
        });
        $.ajax({
            type: 'POST',
            data: {numfac: JSON.stringify(numfac), conector: JSON.stringify(conector)},
            url: '/bodega/page_gdd_update',
            success: function(data){
                if(data == "ok"){
                    alert("Los datos se han actualizado con exito.");
                }
            }
        });
    });

</script>