
<!-- Modal content-->
<div class="modal-content">
    <form id="PL_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Crear Palet</h4>
        </div>
        <div class="modal-body" id="newPLModal-body">
            <table id="palet_list_table" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%;">
                <thead>
                <tr>
                    <th class="o_column_sortable">OC</th>
                    <th class="o_column_sortable">Item</th>
                    <th class="o_column_sortable">Cliente</th>
                    <th class="o_column_sortable">Detalle</th>
                    <th class="o_column_sortable">Pendientes</th>
                    <th class="o_column_sortable">Preparar</th>
                    <th class="o_column_sortable"></th>
                    <th class="o_column_sortable">Peso</th>
                    <th class="o_column_sortable" style="text-align: center;">Fecha de Entrega</th>
                    <th class="o_column_sortable" style="text-align: center;"></th>
                </tr>
                </thead>
                <tbody class="ui-sortable">
                <%
                var pesototal = 0;
                for(var i=0; i < xdesp.length; i++){
                    pesototal += xdesp[i].pesoxdespachar;
                %>
                <tr class="o_data_row pedido_preparar" data-idpedido="<%=xdesp[i].idpedido%>">
                    <input type="hidden" value="<%=xdesp[i].idpedido%>" name="idpedido">
                    <td class="o_data_cell o_readonly_modifier o_required_modifier"><%=xdesp[i].numoc%></td>
                    <td class="o_data_cell o_readonly_modifier o_required_modifier"><%=xdesp[i].numitem%></td>
                    <td class="o_data_cell o_readonly_modifier o_required_modifier"><%=xdesp[i].sigla%></td>
                    <td class="o_data_cell o_readonly_modifier o_required_modifier"><%=xdesp[i].detalle%></td>
                    <td class="o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center"><%=xdesp[i].xdespachar%></td>
                    <td style="width: 15%" class="o_data_cell o_readonly_modifier o_required_modifier cantidad_preparar" data-peso="<%=xdesp[i].peso%>">
                        <input style="width: 100%" type="number" class="form-control" name="cantidad" onkeyup="recalculatePeso('<%=xdesp[i].idpedido%>', this)" onchange="recalculatePeso('<%=xdesp[i].idpedido%>', this)" min="1" max="<%=xdesp[i].xdespachar%>" required>
                    </td>
                    <td style="text-align: center" class="o_data_cell o_readonly_modifier o_required_modifier number_peso">0</td>
                    <td style="text-align: center" class="o_data_cell o_readonly_modifier o_required_modifier"><%=xdesp[i].pesoxdespachar%></td>
                    <td style="text-align: center" class="o_data_cell o_readonly_modifier o_required_modifier"><%=new Date(xdesp[i].f_entrega).toLocaleDateString()%></td>
                    <td style="text-align: center" class="o_data_cell o_readonly_modifier o_required_modifier"><button class="btn btn-xs btn-danger" onclick="removeItemPL(this)"><i class="fa fa-times"></i></button></td>
                </tr>
                <%}%>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="peso_suma" ></th>
                    <th style="text-align: center"><%=pesototal%></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Crear Palet</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </form>
</div>


<script>
    var form = [];
    $(".pedido_preparar").each(function(){
        form.push([$(this).data('idpedido'),$(this).children(".cantidad_preparar")]);
    });
    console.log(form);
    function removeItemPL(yo){
        $(".select-desp[data-idpedido='" + $(yo).parent().parent().data('idpedido') +"']").toggleClass('danger');
        $(".select-desp[data-idpedido='" + $(yo).parent().parent().data('idpedido') +"']").data('state', 'noselec');
        seleccionados.splice(seleccionados.indexOf( $(this).data('idpedido') ), 1);
        check_session();
        //act_session('rm', ".select-desp[data-idpedido='" + $(yo).parent().parent().data('idpedido') +"']");
        $(yo).parent().parent().remove();
        refreshCount();
        var peso = 0;
        $(".number_peso").each(function(){
            peso += parseFloat($(this).html());
        });
        $(".peso_suma").html(peso);

    }

    $("form#PL_form").submit(function(e){
        e.preventDefault();
        var object = {
            idpedido: [],
            cantidad: []
        };
        var array = $( this ).serializeArray();
        for(var t=0; t < array.length; t++){
            object[array[t].name].push(array[t].value);
        }
        console.log(object);
        $.ajax({
            type: 'POST',
            data: {idpedido: object.idpedido.join('-'), cantidad: object.cantidad.join('-')},
            url: '/bodega/create_palet',
            success: function(data){
                if(data=='ok'){
                    seleccionados = [];
                    buscar_pendientes();
                    $("#newPLModal").modal('hide');
                }
            }
        });
    });
    $("#palet_list_table").DataTable( {
        paging: false,
        fixedColumns: true,
        responsive: true,
        lengthChange: false,
        bFilter: false,
        bInfo: false,
        order: [],
        language: {
            "sProcessing":     "Procesando...",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",

            "sSearch":         "Buscar:",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "&raquo",
                "sPrevious": "&laquo"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    } );

    function recalculatePeso(idpedido, yo){
        var peso = 0;
        var cantidad = $(yo).val();
        var peso_uni = $(".pedido_preparar[data-idpedido='" + idpedido +"']").children('.cantidad_preparar').data('peso');
        $(".pedido_preparar[data-idpedido='" + idpedido +"']").children('.number_peso').html(peso_uni*cantidad);
        $(".number_peso").each(function(){
            peso += parseFloat($(this).html());
        });
        $(".peso_suma").html(peso);

    }

</script>