<%
	var count = 0;
	function fechaLatino(string){
		return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-') 
	}
%>

<table id="gdTable" class="o_list_view table table-condensed table-striped o_list_view_ungrouped dataTabla" style="width: 100%; margin-top:0;">
		<thead>
			<tr>
				<th class="o_column_sortable">GDD</th>
				<th class="o_column_sortable">Cliente</th>
				<th class="o_column_sortable">N° Items</th>
				<th class="o_column_sortable">Observación</th>
				<th class="o_column_sortable" style="text-align: center;" data-order="gd.fecha-DESC">Fecha de Despacho</th>
				<th class="o_column_sortable">Tipo</th>
				<%if(user.nombre != 'siderval' && user.nombre != 'jefeplanta'){%>
					<th class="o_column_sortable" style="width:80px" >Acción</th>
				<%}%>
			</tr>
		</thead>
	<tbody class="ui-sortable">
		<%
		for(var i=0; i < desp.length; i++){ %>
			<tr class="o_data_row">
				<td class="o_data_cell o_readonly_modifier o_required_modifier" onclick="ver_gdd(this)" data-idgd="<%= desp[i].idgd%>" ><%=desp[i].idgd%></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier" onclick="ver_gdd(this)" data-idgd="<%= desp[i].idgd%>"><%=desp[i].cliente%></td>
				<td id="item<%=desp[i].idgd%>" class="o_data_cell o_readonly_modifier o_required_modifier" onclick="ver_gdd(this)" data-idgd="<%= desp[i].idgd%>" style="text-align: center;"><%=desp[i].n_items%></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier parsear_nro" style="text-align: center;" onclick="ver_gdd(this)" data-idgd="<%=desp[i].idgd%>"><%= desp[i].obs %></td>
				<td class="o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center;" onclick="ver_gdd(this)" data-idgd="<%= desp[i].idgd%>" data-order="<%= new Date(desp[i].fecha).getTime()%>"><%=fechaLatino(new Date(desp[i].fecha).toLocaleDateString())%></td>
				<td id="est<%=desp[i].idgd%>" class="o_data_cell o_readonly_modifier o_required_modifier" onclick="ver_gdd(this)" data-idgd="<%= desp[i].idgd%>" style="text-align: center;"><%=desp[i].estado%></td>
				<%if(user.nombre != 'siderval' && user.nombre != 'jefeplanta'){%>
				<td class="o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center;">
					<%if(desp[i].estado != 'Anulado'){%>
					<div id="btns<%=desp[i].idgd%>">
						<%if(desp[i].estado == 'Blanco'){%>
							<a class="btn btn-xs btn-info" onclick="activarGD(this)" data-id="<%=desp[i].idgd%>" data-toggle="tooltip" data-placement="bottom" title="Activar GD">AC</a>
						<%}else{%>
							<a class="btn btn-xs btn-success genguia" onclick="getxlsx(this)" data-id="<%=desp[i].idgd%>" data-toggle="tooltip" data-placement="bottom" title="Descargar Excel">GD</a>
						<%}%>
						<a class="btn btn-xs btn-danger anular" onclick="anulate(this)" data-id="<%=desp[i].idgd%>" data-toggle="tooltip" data-placement="bottom" title="Anular GD"><i class="fa fa-ban"></i></a>
					</div>
					<%}%>
				</td>
				<%}%>
			</tr>
		<%}%>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<%if(user.nombre != 'siderval' && user.nombre != 'jefeplanta'){%>
				<td></td>
			<%}%>
		</tr>
	</tfoot>
</table>

<!-- Oculta cantidad de datos, va al final para contar la cantidad de materiales -->
<% if(desp.length != 0){ %>
	<div id="registros" style="display: none"> <%=desp.length%></div>
<%} else{%>
	<div id="registros" style="display: none">0 0</div>
<%}%>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    setDataTableFixed("#gdTable");
    function getxlsx(file){
		$.ajax({
			type: 'GET',
			url: 'bodega/gen_pdfgdd/'+$(file).attr("data-id"),
			success: function(data){
				console.log(data);
                $(file).attr("href",data);
                $(file).attr("download","gdd"+$(file).attr("data-id")+".xlsx");
                $(file).removeClass("genguia");
                $(file).removeAttr("onclick");
                $(file).addClass("genok");
                $(file).html("<i class='fa fa-download'></i>");
			}
		});
    }
    function anulate(file){
        var resp = confirm("Anular la Guia de despacho retorna el stock a los materiales involucrados y además es irreversible. \n\n                         ¿Esta seguro que desea continuar?");
        if(resp){
            $.ajax({
                type: 'POST',
                data: {idgd: $(file).data('id')},
                url: 'bodega/anular_gdd',
                success: function(){
					$("#btns"+$(file).data('id')).html('');
					$("#est"+$(file).data('id')).html('Anulado');
                }
            });
        }
    }


	function ver_gdd(yo){
		//$("#form"+$(yo).data('idodc')).submit();
		$.ajax({
			type: 'GET',
			url: '/bodega/page_gdd/'+$(yo).data('idgd'),
			beforeSend: function(){
			  	destroyDataTable();
			},
			success: function(data){
				$(".main-page").html(data);
			}
		});
	}
    function activarGD(yo){
        $.ajax({
            type: 'POST',
            data: {id: $(yo).data('id')},
            url: 'bodega/activar_gdd',
            success: function(data){
                $("#page-wrapper").html(data);
            }
        });
	}
</script>