
<script type="text/javascript">
    $("#despachosTable tbody").attr('unselectable','on')
        .css({'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });

    $(".nav-pills").attr('unselectable','on')
        .css({'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });
</script>
<%
var count = 0;
function fechaLatino(string){
    return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-')
}
%>

<table id="despachosTable" class="o_list_view table table-condensed table-striped o_list_view_ungrouped" style="width: 100%;">
    <thead>
    <tr>
        <th class="o_column_sortable">OC</th>
        <th class="o_column_sortable">Item</th>
        <th class="o_column_sortable">Cliente</th>
        <th class="o_column_sortable">Detalle</th>
        <th class="o_column_sortable">Pendientes</th>
        <th class="o_column_sortable">Peso</th>
        <th class="o_column_sortable">En CC</th>
        <th class="o_column_sortable" style="text-align: center;" data-order="gd.fecha-DESC">Fecha de Entrega</th>
        <th class="o_column_sortable">Estado</th>
    </tr>
    </thead>
    <tbody class="ui-sortable">
        <%
        if(arraypl.length>0){
            arraypl = arraypl.split('-');
        }
        var pesototal = 0;
        var cctotal = 0;
        var xdespachartotal = 0;
        for(var i=0; i < desp.length; i++){
            pesototal += desp[i].pesoxdespachar;
            cctotal += desp[i].enCC;
            xdespachartotal += desp[i].xdespachar;
            if(arraypl.indexOf(desp[i].idpedido.toString()) != -1){%>
                <tr style="z-index: 9;" class="o_data_row select-desp danger" data-state="sele" data-idpedido="<%=desp[i].idpedido%>">
            <%}else{%>
                <tr style="z-index: 9;" class="o_data_row select-desp" data-state="nosele" data-idpedido="<%=desp[i].idpedido%>">
            <%}%>
                <td class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=desp[i].numoc%></td>
                <td class="hover-select o_data_cell o_readonly_modifier o_required_modifier" style="text-align: center"><%=desp[i].numitem%></td>
                <td class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=desp[i].sigla%></td>
                <td class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=desp[i].detalle%></td>
                <td style="text-align: center" class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=desp[i].xdespachar%></td>
                <td style="text-align: center" class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=desp[i].pesoxdespachar%></td>
                <td style="text-align: center" class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=desp[i].enCC%></td>
                <td style="text-align: center" class="hover-select o_data_cell o_readonly_modifier o_required_modifier"><%=new Date(desp[i].f_entrega).toLocaleDateString()%></td>
                <%if(desp[i].preparando > 0){%>
                    <td class="o_data_cell o_readonly_modifier o_required_modifier">
                        <button class="btn btn-xs btn-danger view_PL" style="z-index: 10;"><i>P</i></button>
                    </td>
                 <%}else{%>
                    <td class="o_data_cell o_readonly_modifier o_required_modifier"></td>
                <%}%>
            </tr>
        <%}%>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: center"><%=xdespachartotal%></th>
            <th style="text-align: center"><%=pesototal%></th>
            <th style="text-align: center"><%=cctotal%></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<!-- Oculta cantidad de datos, va al final para contar la cantidad de materiales -->
<% if(desp.length != 0){ %>
<div id="registros" style="display: none"> <%=desp.length%></div>
<%} else{%>
    <div id="registros" style="display: none">0 0</div>
<%}%>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    setDataTableFixed("#despachosTable");

    var mouseDown = 0;
    document.body.onmousedown = function() {
        mouseDown = 1;
    }
    document.body.onmouseup = function() {
        mouseDown = 0;
        check_session();

    }
    $(".select-desp").mouseenter(function(){
        if(mouseDown == '1'){
            $(this).toggleClass('danger');
            if($(this).hasClass('danger')){
                $(this).data('state', 'selec');
                //el pedido no esta en la lista
                seleccionados.push($(this).data('idpedido'));
                //act_session('add', this);

            }
            else{
                $(this).data('state', 'noselec');
                //act_session('rm', this);
                seleccionados.splice(seleccionados.indexOf( $(this).data('idpedido') ), 1);
            }
            //check_session();
        }

    });
    $(".select-desp").mousedown(function(){
            $(this).toggleClass('danger');
            if($(this).hasClass('danger')){
                $(this).data('state', 'selec');
                seleccionados.push($(this).data('idpedido'));
                //act_session('add', this);

            }
            else{
                $(this).data('state', 'noselec');
                //act_session('rm', this);
                seleccionados.splice(seleccionados.indexOf( $(this).data('idpedido') ), 1);

            }

    });

    function act_session(type, yo){
        $.ajax({
            type: 'GET',
            url: '/bodega/'+type+'_session_peds/'+$(yo).data('idpedido'),
            success: function(data){
                console.log(data);
            }
        });
    }

    function check_session(){
        if(seleccionados.length == 0){
            $("#newpl_button").css('bottom', '-50px');
        }
        else{
            $("#newpl_button").css('bottom', '20px');
        }
        $("#pedidos").html("<h5><small>"+seleccionados.length+" pedidos seleccionados.</small></h5>");
    }
    $("#pedidos").html("<h5><small>"+seleccionados.length+" pedidos seleccionados.</small></h5>");
    if(seleccionados.length == 0){
        $("#newpl_button").css('bottom', '-50px');
    }
    else{
        $("#newpl_button").css('bottom', '20px');
    }

    $(".view_PL").on('click', function(e){
       e.preventDefault();
    });
</script>