<!-- Oculta cantidad de datos -->
<div id="registros" style="display: none"><%= data.length %></div>

<table id="DataTableBodega" class="o_list_view table table-condensed table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Código</th>
            <th>Detalle</th>
            <th>En Planta</th>
            <th>Stock</th>
            <% if( tipo == 'inv'){%>
                <th>Inventario</th>
            <%}%>
            <th>Stock Aviso</th>
            <th>Stock Crítico</th>

        </tr>
    </thead>
    <tbody class="ui-sortable">
        <%for(var i=0; i < data.length; i++){%>
            <tr class="o_data_row">
                <td style="text-align: center" data-toggle="tooltip" title="Código"><%= data[i].codigo%></td>
                <td data-toggle="tooltip" title="Detalle"><%= data[i].detalle%></td>
                <td style="text-align: center" data-toggle="tooltip" title="En Planta"><%= data[i].enplanta%></td>
                <td style="text-align: center" data-toggle="tooltip" title="Stock Actual"><%= data[i].stock%></td>
                <% if( tipo == 'inv'){%>
                    <td style="text-align: center" data-toggle="tooltip" title="Ingresar Inventario" class="inv-col"><input type="number" class="form-control"></td>
                <%}%>
                <td style="text-align: center" data-toggle="tooltip" title="Stock Aviso"><%= data[i].stock_i%></td>
                <td style="text-align: center" data-toggle="tooltip" title="Stock Crítico"><%= data[i].stock_c%></td>
            </tr>
        <%}%>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% if( tipo == 'inv'){%>
                <td></td>
            <%}%>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    setDataTableFixed("#DataTableBodega");
    
</script>