<%for(var e=0; e < insum.length; e++){%>
    <tr class="mat_desp" id="insum<%=insum[e].idmaterial%>">
        <td class="col-aux hidden"> - </td>
        <td class="col-aux hidden" id="nof<%=insum[e].idmaterial%>"> - </td>
        <td class="col-aux hidden"> - </td>
        <td><%= insum[e].detalle%></td>
        <td style="text-align: center;" class="parsear_nro"><%= insum[e].u_medida%></td>
        <td style="text-align: center;" class="parsear_nro mat_stock"><%= insum[e].stock %></td>
        <td class="hidden data_gdd" id="in<%= insum[e].idmaterial%>" style="padding: 2px"><input type="number" min="1" max="<%= insum[e].stock%>" data-idpedido="0" data-idmat="<%= insum[e].idmaterial%>" class="form-control" data-idpaletitem="0" data-idpalet="0" value="1" style="width: 80px;margin: 0"></td>
        <td class="mat_butt" id="add<%= insum[e].idmaterial%>">
            <a onclick="send_insum(this)" data-idpedido="<%= insum[e].idmaterial%>" aria-disabled="false" class="btn btn-success btn-xs addrow"><span class="glyphicon glyphicon-plus" style="padding-left: 2px"></span></a>
        </td>
        <td class="hidden" id="rmv<%= insum[e].idmaterial%>">
            <a onclick="remove_insum(this)" data-idpedido="<%= insum[e].idmaterial%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" style="padding-left: 1px"></span></a>
        </td>
    </tr>
<%}%>

<script type="text/javascript">
	function send_insum(e){
		//$(".pestana_xdespachar").css('display', 'none');
        row = $(e);
        $("#0").remove();
        $("#insum" + row.data('idpedido') + " .col-aux").removeClass("hidden");
        $("#insum" + row.data('idpedido')).addClass("hidden");          //Oculta la fila en TI
        $("#rmv" + row.data('idpedido')).removeClass("hidden");    //Muestra el boton eliminar en TS
        //$("#nof" + row.data('idpedido')).addClass("hidden");       //Oculta el N°OF en TS
        $("#anom" + row.data('idpedido')).addClass("hidden");      //Oculta la Aleacion en TS
        $("#date" + row.data('idpedido')).addClass("hidden");      //Oculta la fecha en TS
        $("#add" + row.data('idpedido')).addClass("hidden");       //Oculta el boton agregar en TS
        $("#in" + row.data('idpedido')).removeClass("hidden");     //Muestra input en TS
        $("#session_prod").append("<tr id='TSin" + row.data('idpedido') + "'>"+$("#insum" + row.data('idpedido')).html()+"</tr>"); //Agrega fila de TI en TS
    }
    function remove_insum(yo) {
        var row = $(yo);
        $("#TSin" + row.data('idpedido')).remove();
        $("#insum" + row.data('idpedido') + " .col-aux").addClass("hidden");//Elimina la fila
        $("#insum" + row.data('idpedido')).removeClass("hidden");       //Muestra la fila en TI
        $("#rmv" + row.data('idpedido')).addClass("hidden");       //Oculta el boton eliminar en TS
        //$("#nof" + row.data('idpedido')).removeClass("hidden");    //Muestra el N°OF en TS
        $("#anom" + row.data('idpedido')).removeClass("hidden");   //Muestra la Aleacion en TS
        $("#date" + row.data('idpedido')).removeClass("hidden");   //Muestra la fecha en TS
        $("#add" + row.data('idpedido')).removeClass("hidden");    //Muestra el boton agregar en TS
        $("#in" + row.data('idpedido')).addClass("hidden");        //Oculta input en TS
    }
</script>